-
  news = [
          {
              image: "bienio.jpg",
              title: "Prova de Ingresso Pós-Graduação",
              date:  new Date(2016,6,1),
              body:  "<a href='http://www.pmt.usp.br/POSTGRAD/EDITAL%20prova%20de%20ingresso%20junho%202016%20vers%C3%A3o%20final%2018.05.16.pdf' target='_blank'>Clique aqui</a> para acessar o edital (retificado) para a prova de Ingresso Pós-Graduação"
          },
          {
              image: "bienio.jpg",
              title: "Prova de proficiência em inglês FFLCH",
              date:  new Date(2016,5,19),
              body:  "<a href='http://www.pmt.usp.br/POSTGRAD/Edital%20-%201605%20Poli-PMT%20(maio%202016).pdf' target='_blank'>Clique aqui</a> para acessar o edital."
          },
          {
              image: "bienio.jpg",
              title: "Bolsa Pós Doutorado PNPD CAPES",
              date:  new Date(2016,5,1),
              body:  "<a href='http://www.pmt.usp.br/POSTGRAD/Bolsas%20P%C3%B3s%20Doutorado%202016.pdf' target='_blank'>Clique aqui</a> para acessar o edital de abertura da bolsa de Pós-Doutorado PNPD Capes."
          },
          {
              image: "bienio.jpg",
              title: "Estágio PAE 2º semestre 2016",
              date:  new Date(2016,5,1),
              body:  "<a href='http://www.poli.usp.br/ensino/pos-graduacao/programa-de-aperfeicoamento-de-ensino.html#estagio' target='_blank'>Clique aqui</a> para conferir as regras e prazos."
          },
          {
              image: "bienio.jpg",
              title: "Ciclo de Palestras do PAE - 2º semestre de 2016",
              date:  new Date(2016,9,21),
              body:  "<a href='" + assets + "downloads/palestras_pae_2016_ficha_inscricao.doc' target='_blank'>Clique aqui</a> para conferir a progração e instruções para inscrição."
          }
         ]
