-
  laboratories = [
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Engenharia de Macromoléculas",
                    initials: "LEM",
                    professor: "Wang Shu Hui",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/lem/index.html",
                    external_site_url: "",
                    activities: "O laboratório tem por objetivo a análise de materiais, particularmente polímeros, com objetivo de utilizar o mesmo em tecnologias sustentáveis, incluindo biomateriais, produtos biodegradáveis, células solares orgânicas e dispositivos orgânicos eletroluminescentes, entre outros.",
                    equipments: ["Fornos à vácuo","Estufas","Glove Boxes","Evaporador rotativo","Banhos termostáticos para aquecimento e resfriamento","Espectômetro de absorção UV-Vis","Espectômetro fluorescente UV-Vis","Espectômetro infravermelho","Simulador solar","Voltage-current curve sources and tracers","Sistema de medição do efeito Hall","Sistema de alta voltagem para deposição eletrostática","Sistema de deposição de filmes através de spin-coating e aquecimento","Mini prensa (20 x 20 cm2)","Mini extrusora (a partir de 200g)","Mini extrusora (a partir de 5g)","Mini injetora (a partir de 3g)"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Microscopia Eletrônica e de Força Atômica",
                    initials: "LabMicro",
                    professor: "André Paulo Tschiptschin",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/labmicro/index.html",
                    external_site_url: "http://www.pmt.usp.br/Labmicro/index.htm",
                    activities: "O laboratório é equipado para testes microestruturais em escala micrométrica e nanométrica.",
                    equipments: ["Microscópio eletrônico de varredura Philips XL-30 com detector de elétrons secundários e retroespalhados","Espectômetro de Raios X EDS EDAX","Câmera e software TSL para determinar a microestrutura dos materiais usando a técnica EBSD","Microscópio eletrônico de varredura FEI Quanta 450 FEG com detector de elétrons secundários e retroespalhados","Microscópio de força atômica Shimadzu - SPM 9500 para análise de forças de contato, não-contato e magnéticas","Durômetro Shimadzu","Equipamento Hysitron de nanoindentação linear e nano esclerometria acoplado ao microscópio de força atômica Shimadzu","Equipamento para avaliação de adesão de filmes e camadas de substrato","Esclerômetro linear CETR-UMT-2 com sensor acústico e acoplado ao microscópio para monitoramento in situ do teste."]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Moagem de Alta Energia, Materiais de Carbono e Compósitos",
                    initials: "LM<sup>2</sup>C<sup>2</sup>",
                    professor: "Guilherme Frederico Bernardo Lenz e Silva",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/lm2c2/index.html",
                    external_site_url: "http://www.pmt.usp.br/ACADEMIC/guilherme/laboratorio/INDEX.html",
                    activities: "O Laboratório de Moagem de Alta Energia, Materiais, Carbono e Compósitos para Altas Temperaturas (LM²C²/USP), busca desenvolver novos materiais e materiais compósitos contendo carbono como parte da matriz e sistema ligante para aplicações em ambientes onde os processos de corrosão e oxidação degradam e comprometem a vida de dispositivos, componentes e reatores químicos. O laboratório pesquisa a produção de materiais metálicos e ligas metálicas produzidas por moagem de alta energia a base de alumínio-silício-magnésio, titânio e boro como agentes antioxidantes e/ou precursores de carbetos e boretos para aplicações em elevadas temperaturas, com o objetivo de proteger o carbono e seus compósitos contra a oxidação. O Laboratório conduz também pesquisas para a modificação superficial das diversas fontes de carbono, tais como negro de fumo, grafita, piches sólidos, nanotubos e grafeno de forma a otimizar propriedades térmicas, químicas e mecânicas de compósitos óxido-carbono e materiais refratários utilizados em elevadas temperaturas. Outras linhas de pesquisa são a modificação catalítica do processo de grafitização de resinas/polímeros, deposição de carbono e análise de risco do manuseio seguro de nanomateriais, nanofibras e nanoparticulados metálicos e nanocarbonos.",
                    equipments: ["Moinho de alta energia Spex, Attritor e Pulverissette","Análise térmica: TG/DTA-DSC","Fornos tipo poço, mufla e tubulares","Sistemas acessórios: Prensas, Glove Box","Forno elétrico Detroit para temperaturas superiores a 1300°C","Equipamento de spray drying","Softwares: Neurosolutions, FACTSage, COMSOL, FurnaceXpert"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Processos Cerâmicos",
                    initials: "LPC",
                    professor: "Douglas Gouvêa",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/lpc/index.html",
                    external_site_url: "http://www.pmt.usp.br/ACADEMIC/ACADEMIC/Douglas/Laborat%C3%B3rio/teste/principal.htm",
                    activities: "O laboratório conduz pesquisas focadas em: química de colóides e superfícies aplicada para avaliar a estabilidade de suspensões cerâmicas; síntese de pós cerâmicos nanométricos através de rotas químicas; sinterização de pós nanométricos e processamento de cerâmicas: fabricação de perfis no que diz respeito à possibilidade de aplicações nas engenharias química, metalúrgica, elétrica e eletrônica e civil.",
                    equipments: ["Micrometrics Gemini III 2375 Analyzer","ESA-8000 - Matec System (Zeta Potencial)","Espectômetro Nicolet Magna-IR 560 FT-IR","Porosímetro de Mercúrio Micrometrics Autopore III 9410","Viscosímetro The DV-II+ Digital","Analisador de tamanho de gota e partícula Malvern Series 2600","Forno e Forno Tubular de Alta Temperatura (1500-1600°C)","Prensa Uniaxial"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Processos Eletroquímicos",
                    initials: "LPE",
                    professor: "",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/lpe/index.html",
                    external_site_url: "http://www.pmt.usp.br/LPE/index.htm",
                    activities: "O LPE é equipado para conduzir testes para a análise de corrosão de materiais metálicos, baseada em grande parte em curvas de polarizaçãoe perda de massa.<br />O Laboratório H2S é parte do LPE e é designado ao estudo de corrosão e fragilização em oleodutos de aço em gases especiais.",
                    equipments: ["Potenciostatos","Software de corrosão","Microscópio Óptico","Células eletroquímicas","Gabinete de segurança para gases","Fornos","Bomba de vácuo","Balanças de precisão","Testador de erosão/corrosão","Dispositivo de segurança de vazamento de gás tóxico com alarme","Controle de fluxo gasoso e painel de medição","Gas Washer"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Simulação de Engenharia de Materiais",
                    initials: "LSEM",
                    professor: "Marcelo de Aquino Martorano",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/lsem/index.html",
                    external_site_url: "",
                    activities: "Desenvolver modelos matemáticos para a análise de fenômenos que ocorrem no processamento de materiais. Muito do trabalho realizado neste laboratório é relacionado ao modelamento de fenômenos de transporte e transformação de fase, como é o caso da solidificação de metais.",
                    equipments: ["6 microcomputadores pessoais","Software Pro-Cast para a simulação de processos de fundição","Software Comsol Multiphysics para simulações de fenômenos de transporte","Software Tecplot para visualização de resultados numéricos","Softwares gerais: Office, Origin, Matlab"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Transformações de Fases",
                    initials: "LTF",
                    professor: "Hélio Goldenstein",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/ltf/index.html",
                    external_site_url: "",
                    activities: "Os trabalhos de pesquisa realizados neste laboratório visam combinar métodos globais de monitoramento de transformações de fase com métodos locais de observação direta. Exemplos de métodos globais são medidas de propriedades mecânicas e físicas, dilatometria, análise térmica, Difração de Raios X, etc. Exemplos de métodos locais são técnicas metalográficas aplicadas a microscopias óptica e eletrônica.",
                    equipments: ["Well Furnaces heat for heat treatment in salt and oil baths","Muffle furnaces","Vacuum and atmospherically controlled tube furnaces","Chamber furnace for treatment up to 1500°C","Cryostat","Fina cutting machine","Automatic polishing machine","Optical microscope","Adamel Lomarghi dilatometer*","Bähr dilatometer"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Hidrometalurgia",
                    initials: "HIDRO",
                    professor: "",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/hidro/index.html",
                    external_site_url: "",
                    activities: "O objetivo do laboratório de hidrometalurgia é desenvolver tecnologias para recuperar materias de minérios, subprodutos e resíduos. O laboratório é equipado para desenvolver pesquisas em diversos aspectos hidrometalúrgicos, incluindo biolixiviação, lixiviação ácido-base, lixiviação a altas pressões, lixiviação ultrasônica, precipitação, extração de solventes, troca de íons, eletrodiálise, eletrodeposição, voltamperometria entre outros.",
                    equipments: ["SEM Scanning Electron Microscope acoplado com um EDS","X-Ray diffractometer","FT-IR Fourier transform infrared spectrometer", "ICP-OES Inductively coupled plasma optical emission spectroscopy", "EDXRF Energy dispersive X-Ray fluorescence", "Ion Chromatography", "Visible UV spectrophotometer", "pH, oxidation-reduction potential, milli-voltage and contuctivity meters", "Voltage and current sources", "Electrophoretic mobility and zeta potential", "Magnetic shakers with temperature control", "Liquid-liquid and solid-liquid extraction", "Solvents extraction (liquid-liquid)", "Miliq water", "Ioninc exchange columns", "Filtration systems", "Thermostatics baths", "Pumps", "Analytical scales", "Autoclaves", "Electrodialysis", "Sterilizer autoclave", "Vacuum ovens", "Centrifuges"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Reciclagem, Tratamento de Resíduos e Metalurgia Extrativa",
                    initials: "LAREX",
                    professor: "",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/larex/index.html",
                    external_site_url: "http://www.pmt.usp.br/Larex/index.html",
                    activities: "O objetivo do laboratório é desenvolver tecnologias para a reciclagem de materiais urbanos e industriais, tratamento de subprodutos e resíduos, assim como metalurgia extrativa. Os principais assuntos tratados neste laboratório nos últimos anos são: relacionados à reciclagem de equipamentos eletro-eletrônicos incluindo baterias, placas de circuito impresso e LCD; reciclagem de alumínio; refino de ferro e aço utilizando resíduos como reajentes ou escórias; redução pirometalurgica de minérios e resíduos; separação plastica por flotação; pirólise e oxidação de polimeros entre outras.",
                    equipments: ["Several thermal analysis pieces of equipments DTA, DSC and TGA", "Mass Spectrometer", "Electric arc furnace", "Tubular vacuum or controlled atmosphere furnace", "Muffles", "1700<sup>o</sup>C vertical furnace", "Mass flow controllers", "ASAP Accelerated Surface Area and Porosimetry System", "Malvern Particle size distribution", "Sieve shakers for particle size separation and distribution", "Viscometer - Slags and metals", "Magnetic separator", "Knife and hammer mills", "10m special greenhouse", "Elutriator", "Flotation column", "Stereo Microscope", "Twin screw plastic extruder", "Kilns"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Computação em Ciência dos Materiais",
                    initials: "LCCMat",
                    professor: "Cláudio Geraldo Schön",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/lccmat/index.html",
                    external_site_url: "http://www.pmt.usp.br/LCCMat/LCCMat.html",
                    activities: "O laboratório é equipado com dois computadores pessoais e está registrado juntamente com o Laboratório de Computação Científica Avançada do Centro de Computação Eletrônica da Universidade de São Paulo visando o uso dos recursos disponíveis nesta instituição. Para um futuro próximo planeja-se a aquisição de recursos adicionais de computação avançada que farão parte da instalação física do LCCMat.",
                    equipments: ["Programas Thermocalc e Dictra, desenvolvidos pelo Instituto Real de Tecnologia de Estocolmo, Suécia e adquiridos pelo departamento de engenharia metalúrgica e de materiais em 1997. Estes programas correspondem a máquinas de cálculo de diagramas de fases (Thermocalc) e de cinética de reações controladas por difusão (Dictra) associadas a poderosos bancos de dados, que permitem a aplicação a ampla gama de problemas de interesse da Engenharia Metalúrgica e de Materiais","Programas para o cálculos termodinâmicos usando o Método Variacional de Clusters (Cluster Variation Method, CVM) em sistemas com até 17 componentes","Programas para cálculos termodinâmicos empregando simulações pelo Método de Monte Carlo em sistemas com até 16 componentes","Planeja-se ampliar o escopo do LCCMat no próximo ano por meio do convite a especialistas no campo de simulação atomística de materiais para uma estadia de curta duração"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Caracterização Microestrutural Hubertus Colpaert",
                    initials: "LCMHC",
                    professor: "Cesar Roberto de Farias Azevedo",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/lcmhc/index.html",
                    external_site_url: "http://www.pmt.usp.br/LCMHC/index.htm",
                    activities: "As atividades principais do laboratório são as diversas atividades didáticas para o ensino de graduação, especialmente nas disciplinas de Transformações de fases, Seleção de Materiais, Análise de falhas, Ceramografia e Metalografia. Adicionalmente, o laboratório oferece instalações básicas para alunos de pós-graduandos e trabalhos de consultoria em áreas como corrosão, análise de falhas, soldagem e otimização microestrutural.",
                    equipments: ["2 Speed saw devices, Struers","4 Precision sectioning saw device, Buehler","5 Metallographic compression mounting presses, Struers and Teclago","1 Vacuum system for metallographic sample preparation, Buehler","2 Manual grunders, Buehler","4 Semiautomatic grinders, Arotec","1 High velocity samiautomatic grinder, Buehler","20 Semiautomatic polishing machines","2 Automatic polishing machines, Struers","1 Vibrational polisher, Struers","2 Electrolytic polishing and etching devices, Struers","10 Optical reflective microscopes with 5MP digital camera (BX60M), Olympus","3 Optical reflective microscopes (Metaval, Jeneval and Ultraphot), Carls Zeiss","1 Optical inverted microscope with 5MP digital camera, NeoPhot 30, Carl Zeiss","2 Stereomicroscopes, Carl Zeiss","2 Hardness testers, Otto Wolpert and Wolpert Sussen","2 Microhardness testers, Wilson Tukon and Swick","1 Ultrasonic cleaner, Quimis","1 Heat treatment furnace, Metaltrend"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Matérias Primas Particuladas e Sólidos não Metálicos",
                    initials: "LMPSol",
                    professor: "Antonio Carlos Vieira Coelho",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/lmpsol/index.html",
                    external_site_url: "",
                    activities: "O escopo do LMPSol baseia-se em linhas de pesquisa bem consolidadas nas áreas de ciência e tecnologia, no que tange argilas, argilas minerais, minerais industriais, materiais cerâmicos tradicionais e vidros. Além destas, outras linhas de pesquisa relacionadas ao meio ambiente estão, atualmente, em desenvolvimento: tratamento e reciclagem de resíduos sólidos e descarte de resíduos perigosos resultantes de processos químicos industriais.",
                    equipments: ["X-ray diffractometer", "BET gas adsorption measuring equipment", "Rheometer (Brookfiled and Fann)", "Calender", "Hydraulic press", "Mills(ball, knife, eccentric and vibratory)", "High-temperature furnaces", "Ovens for thermal treatment", "Stereoscopes", "Chemical laboratory", "Centrifuges"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratórios de Reologia e Processamento de Materiais Poliméricos",
                    initials: "RPPL",
                    professor: "Ticiane Sanches Valera",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/rppl/index.html",
                    external_site_url: "http://www.pmt.usp.br/ACADEMIC/nick/research%20group/",
                    activities: "A principal atividade conduzida neste laboratório são: Viscoelasticidade linear e não linear de blendas poliméricas; Tensão interfacial em blendas poliméricas; Nanocompositos e Modificacao de superficie a plasma",
                    equipments: ["Pedant drop apparatus", "Sr 5000 and ARES rotational rheometer", "Ares rheometer", "Goniometer equpipment", "Vacuum oven", "Injection Molding Machine","Torque rheometers","Plasma reactors","Breaking threat equipment","Hydraulic press reactors","Granulator"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Auto Redução e Fusão Redução",
                    initials: "LABRED",
                    professor: "Marcelo Breda Mourão",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/labred/index.html",
                    external_site_url: "",
                    activities: "Estuda os aspectos básicos e tecnologicos da área de auto-redução (principalmente redução carbotermal de oxidos metálicos), processos de auto redução e fusão, obtenção de briquetes de compositos de carbono; obtenção e uso de redutores usando biomassa; redução do consumo de energia e geração de gases de efeito estufa m processos metalurgicos; uso de energia microondas em processos metalurgicos; recuperação de metais de resíduos industriais",
                    equipments: ["Thermal analysis (TG, DSC, DTA)","Macrothermogravimetrics", "High-intensitymixer", "Briquette maker", "Pelletizer", "Sinterizer", "Induction furnace", "Electirc muffle furnace","Universal mechanical testing machine","Hot stage microscope", "High energi mills", "Microwaveenergy applicators"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Junção e Soldagem",
                    initials: "LABSOLD",
                    professor: "Sérgio Duarte Brandi",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/labsold/index.html",
                    external_site_url: "",
                    activities: "",
                    equipments: [""]
                  }]
