-
  news = [
          {
              image: "bienio.jpg",
              title: "SIICUSP – Simpósio Internacional de Iniciação Científica da USP",
              date:  new Date(2016,9,2),
              body:  "As apresentações para os cursos de Metalurgia, Materiais, Química, Minas e Petróleo serão no dia 13.09.2016 das 09:00 às 12:00 <br/><br/><a href='" + assets + "downloads/SIICUSP_2016.pdf' target='_blank'>Clique aqui</a> para acessar a programação completa. "
          },
          {
              image: "bienio.jpg",
              title: "Conheça as Premiações aos Melhores Alunos da Escola Politécnica",
              date:  new Date(2016,9,3),
              body:  "<a href='" + assets + "downloads/svaped-premios-oferecidos.pdf' target='_blank'>Clique aqui</a> para saber mais informações."
          },
          {
              image: "bienio.jpg",
              title: "Você Conhece o Manual do Calouro da USP?",
              date:  new Date(2016,9,3),
              body:  "<a href='http://www.scs.usp.br/manualdocalouro/' target='_blank'>Clique aqui</a> para acessar o manual do calouro da USP."
          },
          {
              image: "bienio.jpg",
              title: "Vem aí a 52ª SEMM-2016: Semana Mínero-Metalúrgica",
              date:  new Date(2016,9,3),
              body:  "Fique ligado! A 52ª SEMM acontecerá entre os dias 7 e 11 de novembro de 2016."
          }
         ]
