-
  professors = [
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Titular",
                  picture: assets+"img/professores/profAndrePauloTschiptschin.jpg",
                  page: "andre-paulo-tschiptschin/",
                  name: "André Paulo Tschiptschin",
                  phone: "+55 (11) 3091-5656",
                  fax: "+55 (11) 3091-5243",
                  email: "antschip@usp.br",
                  lattes: "http://lattes.cnpq.br/2163698776105146",
                  academic_backgroud: [{year: "1978 - 1983", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"},
                                       {year: "1973 - 1977", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1967 - 1972", title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"}],
                  modules: { undergraduation: [{ name: "PMT2526 - Análise de Falhas", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2526&verdis=1" }, 
                                               { name: "PMT2402 - Metalografia e Tratamentos Térmicos dos Metais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2402&verdis=3" },
                                               { name: "PMT2525 - Transformações de Fase em Aços e Ferros Fundidos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2525&verdis=1" }],
                             graduation:      [{ name: "PMT5783-4 - Fundamentos da Ciência e a Engenharia dos Materiais", link: "https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5783" },
                                               { name: "PMT5843-2 - Tópicos Especiais em Engenharia Metalúrgica e de Materiais", link: "https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5843" }]},
                  research: ["High nitrogen stainless steels",
                             "Nitriding of stainless steels",
                             "Thermochemical treatments",
                             "PVD coatings",
                             "Biocompatible metallic materials",
                             "Wear resistant materials",
                             "High strength ferritic-bainitic low alloy steel"],
                  consultings: ["Heat Treatment and Thermochemical Treatment of Iron and Steels",
                                "Failure Analysis and Prevention",
                                "Alloy Design"] },
                                
                                
                                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Titular",
                  picture: assets+"img/professores/profAngeloPadilha.jpg",
                  page: "angelo-fernando-padilha/",
                  name: "Angelo Fernando Padilha",
                  phone: "+55 (11) 3091-5239",
                  fax: "+55 (11) 3091-5243 / +55 (11) 3091-5421",
                  email: "padilha@usp.br",
                  lattes: "http://lattes.cnpq.br/2985086752327431",
                  academic_backgroud: [{year: "1978 - 1981", title: "Doutorado em Engenharia Mecânica Materiais", university: "Karlsruher Institut für Technologie, KIT, Alemanha", link: "https://www.kit.edu/english/"},
                                       {year: "1975 - 1977", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1970 - 1974", title: "Graduação em Engenharia de Materiais", university: "Universidade Federal de São Carlos, UFSCAR, Brasil", link: "http://www2.ufscar.br/home/index.php" }],
                  modules: { undergraduation: [{ name: "PMT2513 - Materiais para Aplicações em Altas Temperaturas", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2513&verdis=1" }, 
                                               { name: "PMT2595 - Trabalho de Formatura I", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2595&verdis=1" },
                                               { name: "PMT2596 - Trabalho de Formatura II", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2596&verdis=1" }],
                             graduation:      [{ name: "PMT5705-1 - Recristalização de Materiais Metálicos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5705" }]},
                  research: ["Transformações de fase",
                             "Microestruturas",
                             "Recristalização",
                             "Técnicas análise microestrutural",
                             "Textura cristalográfica",
                             "Aços inoxidáveis",
                             "Superligas",
                             "Alumínio e suas ligas",
                             "Metais refratários",
                             "Materiais para reatores nucleares"],
                  consultings: []},
                  
                  
                  
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associado",
                  picture: assets+"img/professores/profAntonioCarlosVieiraCoelho.jpg",
                  page: "antonio-carlos-vieira-coelho/",
                  name: "Antonio Carlos Vieira Coelho",
                  phone: "+55 (11) 3091-2422",
                  fax: "+55 (11) 3091-2275",
                  email: "cvcoelh@usp.br",
                  lattes: " http://lattes.cnpq.br/4881121674066200",
                  academic_backgroud: [{year: "1987 - 1991", title: "Doutorado em Sciences Naturelles Appliquées", university: "Université Catholique de Louvain, UCL, Bélgica", link: "http://www.uclouvain.be/index.html"},
                                       {year: "1983 - 1986", title: "Mestrado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1977 - 1981", title: "Graduação em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "PMT3100-Fundamentos de Ciência e Eng. Dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2517&verdis=2" }, 
                                               { name: "PMT3110-Introdução à Ciência dos Materiais p/Engenharia", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3202&verdis=1" }],
                             graduation:      [{ name: "PMT5846 - Ciência e Tecnologia de Argilas", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5846" }]},
                  research: ["Ciência e tecnologia de argilas",
                             "Produção e caracterização de nanoestrutura de materiais",
                             "Síntese e desenvolvimento de materiais não metálicos",
                             "Desenvolvimento de materiais para infraestrutura"],
                  consultings: []},
                  
                  
                  
                  
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Doutor",
                  picture: assets+"img/professores/profAugustoCamaraNeiva.jpg",
                  page: "augusto-camara-neiva/",
                  name: "Augusto Camara Neiva",
                  phone: "+55 (11) 3091-2228",
                  fax: "+55 (11) 3091-5243",
                  email: "acneiva@usp.br",
                  lattes: "http://lattes.cnpq.br/6166836553784725",
                  academic_backgroud: [{year: "1988 - 1993", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"},
                                       {year: "1981 - 1985", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1970 - 1976", title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "PMT3305 - Físico-Quimica para Metalurgia e Materiais III", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3305&verdis=1" }, 
                                               { name: "PMT3202-Fisico Quimica p/Metalurgia e Materiais I", link: "#" }],
                             graduation:      [{ name: "PMT5778-2 - Diagramas de Fase", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5778" }]},
                  research: ["Phase Diagrams",      
                             "Permanent Magnets",     
                             "X-Ray Fluorescence Spectroscopy",     
                             "Cultural Heritage Characterization",      
                             "Electrodeposition"],
                  consultings: ["Cultural Heritage Characterization",
                                "Worker Self-Management"]},
                  
                  
                
                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Doutor",
                  picture: assets+"img/professores/profCesarRobertoDeFariaAzevedo.jpg",
                  page: "cesar-roberto-farias-azevedo/",
                  name: "Cesar Roberto de Farias Azevedo",
                  phone: "+55 (11) 3091-5619",
                  fax: "+55 (11) 3091-5243",
                  email: "c.azevedo@usp.br",
                  lattes: "http://lattes.cnpq.br/5328433871836511",
                  academic_backgroud: [{year: "2012", title: "Pós-doutorado em Tribologia", university: "Bundesanstalt für Materialforschung und -prüfung, BAM, Berlin, Alemanha", link: "http://www.bam.de/en/index.htm" },
                                       {year: "2010", title: "Pós-doutorado em Materiais Nuclares", university: "Imperial College, Inglaterra, Reino Unido", link: "https://www.imperial.ac.uk/" },
                                       {year: "1991 - 1996", title: "Doutorado em Metallic materials", university: "Imperial College - Department of Materials, Imperial College, Inglaterra, Reino Unido", link: "https://www.imperial.ac.uk/" },
                                       {year: "1987 - 1991", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" },
                                       {year: "1982 - 1986", title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" }],
                  modules: { undergraduation: [{ name: "PMT2402 - Metalografia e Tratamentos Térmicos dos Metais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2402&verdis=3" }, 
                                               { name: "PMT3309 - Metalurgia Física", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3309&verdis=1" },
                                               { name: "PMT2528 - Seleção de Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2528&verdis=1" },
                                               { name: "PMT3302 - Transformações de Fases", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3302&verdis=1" },
                                               { name: "PMT2302 - Transformações de Fases em Metais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2302&verdis=3" }],
                             graduation:      [{ name: "PMT5666 - Seleção de Materiais e Processos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5666" }]},
                  research: ["Analise de falhas",
                             "Degradação de metais",
                             "Transformações de fases em metais",
                             "Propriedades de processamento microestrutural relacionadas aos metais",
                             "Seleção de materiais e processos",
                             "Avaliação do ciclo de vida de produtos e eco-design"],
                  consultings: ["Editor Associado do periódico Engineering Faileure Analysis , Elsevier",
                                "Membro do comitê organizador da 'International Conference on Engineering Falure Analysis', Elsevier"]},
                                
                                
                                
                                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associado",
                  picture: assets+"img/professores/profClaudioGeraldoSchon.jpg",
                  page: "claudio-geraldo-schon/",
                  name: "Cláudio Geraldo Schön",
                  phone: "+55 (11) 3091-5726",
                  fax: "+55 (11) 3091-5243",
                  email: "schoen@usp.br",
                  lattes: "http://lattes.cnpq.br/2631107236461952",
                  academic_backgroud: [{year: "1994 - 1998", title: "Doutorado em Ciências Naturais", university: "Universität Dortmund, UNIDO, Alemanha", link: "http://www.tu-dortmund.de/uni/Uni/index.html" },
                                       {year: "1992 - 1994", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" },
                                       {year: "1986 - 1991", title: "Graduação em Bacharelado em Física", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" }],
                  modules: { undergraduation: [{ name: "PMT2512 - Laboratório de Termodinâmica Computacional", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2512&verdis=2" }, 
                                               { name: "PMT3306 - Mecânica dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2405&verdis=4" },
                                               { name: "PMT2406 - Mecânica dos Materiais Metálicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2406&verdis=5" }],
                             graduation:      [{ name: "PMT5860-6  - Teoria da Plasticidade e da Fratura dos Materiais\", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5860" },
                                               { name: "PMT5784-1 - Termodinâmica dos Sólidos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5784" },
                                               { name: "PMT5857 - Tópicos Avançados em Fadiga de Materiais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5857" },
                                               { name: "PMT5843-2 - Tópicos Especiais em Engenharia Metalúrgica e de Materiais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5843" }]},
                  research: ["Cálculos de diagramas de fase",
                             "Intermetálicos",
                             "Método variacional de clusters",
                             "Termodinâmica de defeitos cristalinos e ordens de configuração"],
                  consultings: []},
                  
                  
                  
                  
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associado",
                  picture: assets+"img/professores/profDouglasGouvea.jpg",
                  page: "douglas-gouvea/",
                  name: "Douglas Gouvêa",
                  phone: "+55 (11) 3091-5238",
                  fax: "+55 (11) 3091-5243",
                  email: "dgouvea@usp.br",
                  lattes: "http://lattes.cnpq.br/2698229628494630",
                  academic_backgroud: [{year: "1991 - 1995", title: "Doutorado em Química", university: "Universidade Federal de São Carlos, UFSCAR, Brasil", link: "http://www.ufscar.br/" },
                                       {year: "1987 - 1989", title: "Mestrado em Físico Química", university: "Universidade Estadual Paulista Júlio de Mesquita Filho, UNESP, Brasil", link: "https://www.unesp.br/" },
                                       {year: "1983 - 1986", title: "Graduação em Bacharel Em Química", university: "Universidade Estadual Paulista Júlio de Mesquita Filho, UNESP, Brasil", link: "https://www.unesp.br/" }],
                  modules: { undergraduation: [{ name: "PMT3151 - Introdução à Engenharia de Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3151&verdis=1" }, 
                                               { name: "PMT3310 - Introdução ao Método e à Redação Científica", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3310&verdis=1" }
                                               { name: "PMT2422 - Micro-estrutura de Materiais Cerâmicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2422&verdis=1" }, 
                                               { name: "PMT3100 - Fundamentos de Ciência e Engenharia dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2422&verdis=1" }
                                               { name: "PMT2417 - Síntese e Preparação de Materiais Cerâmicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2417&verdis=1" }, 
                                               { name: "PMT2511 - Técnologia dos Vidros", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2511&verdis=1" }],
                             graduation:      [{ name: "PMT5841 - Dispersões Cerâmicas", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5841}]},
                  research: ["Dispersões cerâmicas",
                             "Síntese de materiais cerâmicos",
                             "Sinterização",
                             "Estabilidade e transições de fase em óxidos nanométricos"],
                  consultings: []},
                  
                  
                  
                  
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Doutor",
                  picture: assets+"img/professores/profEduardoFrancoDeMonlevade.jpg",
                  page: "eduardo-franco-monlevade/",
                  name: "Eduardo Franco de Monlevade",
                  phone: "+55 (11) 3091-5637",
                  fax: "+55 (11) 3091-5243",
                  email: "monlevade@usp.br",
                  lattes: "http://lattes.cnpq.br/7284378967180905",
                  academic_backgroud: [{year: "2008 - 2012", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br/" },
                                       {year: "2000 - 2002", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" },
                                       {year: "1995 - 1999", title: "Graduação", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" }],
                  modules: { undergraduation: [{ name: "PMT2521-Conformação dos Materiais Metálicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2404&verdis=1" }, 
                                               { name: "PMT3100-Fundamentos de Ciência e Engenharia dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2503&verdis=1" },
                                               { name: "PMT3200-Ciência dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2419&verdis=2" }],
                             graduation:      []},
                  research: ["Transformações de fases em metais",
                             "Conformação mecânica de metais",
                             "Análise de falha",
                             "Cobre e suas ligas",
                             "Tratamento térmicos de aços",
                             "Aços inoxidáveis duplex."],
                  consultings: []},
                  
                  
                  
                  
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Doutor",
                  picture: assets+"img/professores/profElizabethGrilloFernandes.jpg",
                  page: "elizabeth-grillo-fernandes/",
                  name: "Elizabeth Grillo Fernandes",
                  phone: "+55 (11) 3091-5235",
                  fax: "+55 (11) 3091-5243",
                  email: "bethgrillo@usp.br",
                  lattes: "http://lattes.cnpq.br/7230889846824050",
                  academic_backgroud: [{year: "1995 - 1997", title: "Pós Doutorado em Materiais Poliméricos Bioativos para Aplicações Biomédicas e Embalagens", university: "Università di Pisa - DCCI - BIOLAB - Itália", link: "https://www.unipi.it/index.php/english" },
                                       {year: "1989 - 1994", title: "Doutorado em Química Analítica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br/" },
                                       {year: "1979 - 1984", title: "Mestrado em Ciência e Tecnologia de Polímeros", university: "Instituto de Macromoléculas Professora Eloisa Mano, IMA-UFRJ, Brasil", link: "https://www.ima.ufrj.br/" },
                                       {year: "1972 - 1976", title: "Graduação em Engenharia Química", university: "Universidade do Estado do Rio de Janeiro, UERJ, Brasil", link: "https://www.uerj.br/" }],
                  modules: { undergraduation: [{ name: "PMT2418 - Processamento de Materiais Cerãmicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2404&verdis=1" }, 
                                               { name: "PMT-3301-Fundamentos de Cristalografia e difração", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2503&verdis=1" },
                                               { name: "PMT3100-Fundamentos de Ciência e Eng. Dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2419&verdis=2" }, 
                                               { name: "PMT2424-Lab.Caracterização Microestrutural de Polimeros", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2419&verdis=2" }],
                             graduation:      []},
                  research: ["Misturas poliméricas e compósitos (escalas nano e macro)",
                             "Biomateriais",
                             "Reciclagem",
                             "Embalagens",
                             "Plásticos oxo-biodegradáveis",
                             "Células fotovoltaicas orgânicas",
                             "Membranas poliméricas",
                             "Análise térmica"],
                  consultings: []},
                  
                  
                  
                  
                  
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associado",
                  picture: assets+"img/professores/profFernandoJoseGomesLandgraf.jpg",
                  page: "fernando-jose-gomes-landgraf/",
                  name: "Fernando José Gomes Landgraf",
                  phone: "+55 (11) 3091-5695",
                  fax: "+55 (11) 3091-5243",
                  email: "f.landgraf@usp.br",
                  lattes: "http://lattes.cnpq.br/4577368078511565",
                  academic_backgroud: [{year: "1988 - 1992", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br/" },
                                       {year: "1981 - 1987", title: "Mestrado em Engenharia Metalúrgica", university: "Instituto de Macromoléculas Professora Eloisa Mano, IMA-UFRJ, Brasil", link: "https://www.ima.ufrj.br/" },
                                       {year: "1972 - 1976", title: "Graduação em Engenharia Metalúrgica", university: "Fundação Educacional Inaciana Padre Sabóia de Medeiros, FEI, Brasil", link: "https://www.fei.edu.br/" }],
                  modules: { undergraduation: [{ name: "PMT3312 - Processamento de Pós Metálicos e Cerâmicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3312&verdis=1" }, 
                                               { name: "PMT2596 - Trabalho de Formatura II", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3312&verdis=1" },
                                               { name: "PMT2595 - Trabalho de Formatura I", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3312&verdis=1" }],
                             graduation:      [{ name: "PMT5816-5  - Processamento e Desempenho de Materiais Magnéticos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5816" }]},
                  research: ["Laminação e processamento de materiais particulados de aços elétricos",
                             "Imãs aglomerados",
                             "Pesquisa da relação entre processamento, microestrutura e textura cristalográfica e propriedades magnéticas"],
                  consultings: []},
                  
                  
                  
                  
                  { status: "active",
                    laboratory : { name: "Nome Laboratório", link: "#" },
                    category: "Doutor",
                    picture: assets+"img/professores/profFlavioBeneduceNeto.jpg",
                  page: "flavio-beneduce-neto/",
                  name: "Flávio Beneduce Neto",
                  phone: "+55 (11) 3091-XXXX",
                  fax: "+55 (11) 3091-5243",
                  email: "beneduce@usp.br",
                  lattes: "http://lattes.cnpq.br/4577368078511565",
                  academic_backgroud: [{year: "1998 - 2002", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br/" },
                                       {year: "1984 - 1990", title: "Mestrado em Engenharia Metalúrgica", university: "Instituto de Macromoléculas Professora Eloisa Mano, IMA-UFRJ, Brasil", link: "https://www.ima.ufrj.br/" },
                                       {year: "1977 - 1982", title: "Graduação em Engenharia Metalúrgica", university: "Fundação Educacional Inaciana Padre Sabóia de Medeiros, FEI, Brasil", link: "https://www.fei.edu.br/" }],
                  modules: { undergraduation: [{ name: "PMT3205 - Físico-Química para Metalurgia e Materiais I", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3205&verdis=1" }, 
                                               { name: "PMT3100 - Fundamentos de Ciência e Eng. Dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3205&verdis=1" },
                                               { name: "PMT3206 - Físico-Química para Metalurgia e Materiais II", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3206&verdis=1" }],
                             graduation:      [{ name: "PMT5838-2 - Termodinâmica para Metalurgia e Materiais", link:"#" }]},
                  research: ["Redução carbotérmica de óxidos",
                             "Redução metalotérmica",
                             "Produção e refino de metais e ligas",
                             "Fusão de Ti por EB"],
                  consultings: []},
                  
                  
                  
                  
                  { status: "active",
                    laboratory : { name: "Nome Laboratório", link: "#" },
                    category: "Doutor",
                    picture: assets+"img/professores/profFranciscoRolandoValenzuelaDiaz.jpg",
                  page: "francisco-rolando-valenzuela-diaz/",
                  name: "Francisco Rolando Valenzuela Diaz",
                  phone: "+55 (11) 3091 5236 / +55 (11) 3091 2225",
                  fax: "+55 (11) 3091-5243",
                  email: "beneduce@usp.br",
                  lattes: "http://lattes.cnpq.br/3539158603053300",
                  academic_backgroud: [{year: "1990 - 1994", title: "Doutorado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br/" },
                                       {year: "1979 - 1983", title: "Mestrado em Engenharia Química", university: "Instituto de Macromoléculas Professora Eloisa Mano, IMA-UFRJ, Brasil", link: "https://www.ima.ufrj.br/" },
                                       {year: "1971 - 1976", title: "Graduação em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" }],
                  modules: { undergraduation: [{ name: "PMT2517 - Tecnologia e Processamento de Materiais Cerâmicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2422&verdis=1" }, 
                                               { name: "PMT3110 - Introdução à Ciência dos Materiais para Engenharia", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2422&verdis=1" }],
                             graduation:      [{ name: "PMT5851 - Materiais Cerâmicos Tradicionais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5851" }]},
                  research: ["Incorporação de resíduos em matrizes poliméricas e cerâmicas",
                             "Obtenção e caracterização de argilas organofílicas",
                             "Nanocompósitos  políméricos",
                             "Nanocompósitos de sílica / materiais carbonáceos",
                             "Argilas naturais ativadas com ácidos",
                             "Argilas esmectitas organofílicas como absorventes de substâncias tóxicas e de conservação ambiental"],
                  consultings: []},
                  
                  
                  
                  
                  { status: "active",
                    laboratory : { name: "Nome Laboratório", link: "#" },
                    category: "Doutor",
                    picture: assets+"img/professores/profGuilhermeFredericoBernardoLenzESilva.jpg",
                  page: "guilherme-frederico-bernardo-lenz-e-silva/",
                  name: "Guilherme Frederico Bernardo Lenz e Silva",
                  phone: "+55 (11) 3091-5494",
                  fax: "+55 (11) 3091-5243",
                  email: "guilhermelenz@usp.br",
                  lattes: "http://lattes.cnpq.br/3539158603053300",
                  academic_backgroud: [{year: "2014 - 2015", title: "Pós-Doutorado School of Engineering ", university: "LEHN - Brown University, Providence, USA", link: "https://www.brown.edu/research/labs/environmental-health-nanoscience/" },
                                       {year: "2006 - 2007", title: "Pós-Doutorado Department of Materials", university: "Imperial College London, Reino Unido", link: "https://www.imperial.ac.uk/engineering/departments/materials/" },
                                       {year: "2005 - 2007", title: "Pós-Doutorado Department of Materials Science and Enginering", university: "The University of Sheffiled, Reino Unido ", link: "http://www.sheffield.ack.uk/" },
                                       {year: "2000 - 2004", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br/" },
                                       {year: "2008 - 2008", title: "Especialização em Engenharia de Segurança do Trabalho", university: "Universidade Federal de Minas Gerais, UFMG, Brasil", link: "http://www.ufmg.br/" },
                                       {year: "1999 - 2000", title: "Especialização em Especialização em Gestão e Tecnologias Ambientais (MBA-PECE USP)", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" },
                                       {year: "1991 - 1996", title: "Graduação em Engenharia Metalúrgica", university: "Universidade Federal de Minas Gerais, UFMG, Brasil", link: "https://www.ufmg.br/" }],
                  modules: { undergraduation: [{ name: "PMT2410 - Siderurgia II - Aciaria", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2410&verdis=3" }, 
                                               { name: "PMT2414 - Processos Metalúrgicos II", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2414&verdis=1" },
                                               { name: "PMT3100 - Fundamentos de Ciência e Engenharia dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3150&verdis=1" }, 
                                               { name: "PMT3150 - Introdução à Engenharia Metalúrgica", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3150&verdis=1" },
                                               { name: "PMT2523 - Tecnologia de Refratários", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2523&verdis=1" }],
                             graduation:      [{ name: "PMT5868-3 - Tecnologia dos Materiais Refratários, Escórias, Mates, Magmas, Vidros e Sais Fundidos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5868" },
                                               { name: "PMI5026 - 3 - Introdução ao Planejamento de Experimentos, Análise, Otimização e Processos de Tomada de Decisão Multicriterial em Tratamentos de Minérios e Metalurgia Extrativa", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMI5026" }]},
                  research: ["Metariais refratários",
                             "Otimização de processos metalúrgicos",
                             "Metalurgia extrativa do boro",
                             "Sintese de carbetos, boretos e SIALON's",
                             "Métodos multicriteriais e multiobjetivos para tomada de decisões em nanotecnologia (HSEnano)",
                             "Processos de reciclagem e tecnologias ambientais",
                             "Gerenciamento de segurança e saúde ocupacional em novas nanotecnologias",
                             "Síntese de nanomateriais baseados em carbono (nanotubos de carbono, grafeno e negro de fumo)",
                             "Desenvolvimento de propantes cerâmicos sintéticos",
                             "Desenvolvimento de geopolímeros para isolamento acústico e térmico"],
                  consultings: ["VALE - Avaliação Técnica do Projeto do Forno Elétrico de Ferro-Niquel - Ourilândia do Norte/PA",
                                "CBMM - Serviços de Caracterização de Calorimetria Termodiferencial por Varredura de Ligas de Níquel-Ferro-Nóbio e Otimização de Escórias de Refino para a Produção de Ferro-Nóbio",
                                "VOTORANTIM METAIS, SENAI-CETEC E CLARIANT - Projeto Propantes",
                                "VOTORANTIM METAIS - Avaliação do Comportamento dos Materiais Refratários, do Forno Elétrico de Refino de Escória de Faialítica de Níquel, Simulação Térmica e Estudos de Recuperação de Níquel de Lamas Ácidas",
                                "SANTANDER - Definição de Indicadores Desempenho Ambientais"]},
                                
                                
                                
                                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Titular",
                  picture: assets+"img/professores/profHelioGoldestein.jpg",
                  page: "helio-goldenstein/",
                  name: "Hélio Goldenstein",
                  phone: "+55 (11) 3091-5460",
                  fax: "+55 (11) 3091-5243",
                  email: "hgoldens@usp.br",
                  lattes: "http://lattes.cnpq.br/7081512949222824",
                  academic_backgroud: [{year: "1978 - 1983", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"},
                                       {year: "1974 - 1978", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1968 - 1973", title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "PMT-2402-Metalografia e Tratamentos Termicos dos Metais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2525&verdis=1" }],
                             graduation:      [{ name: "PMT5830-2 - Decomposição da Austenita nas Ligas Ferrosas", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5830" },
                                               { name: "PMT5734  - Introdução a Teoria de Transformações de Fase", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5734" },
                                               { name: "PMT5923-2  - Introdução à Simulação Atomística Aplicada à Ciência dos Materiais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5923" }]},
                  research: ["Transformações de fases em materiais",
                             "Relações entre microestrutura e as propriedades dos materiais",
                             "Sinterização",
                             "Caracterização microestrutural",
                             "Resistência à fratura",
                             "Tratamentos térmicos."],
                  consultings: [] },
                 
                 
                 
                 
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associado",
                  picture: assets+"img/professores/profHelioWiebeck.jpg",
                  page: "helio-wiebek/",
                  name: "Hélio Wiebeck",
                  phone: "+55 (11) 3091-XXXX",
                  fax: "+55 (11) 3091-5243",
                  email: "xxx@usp.br",
                  lattes: "http://lattes.cnpq.br/7345295932741797",
                  academic_backgroud: [{year: "1988 - 1993", title: "Doutorado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"},
                                       {year: "1982 - 1987", title: "Mestrado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1970 - 1973 ", title: "Graduação em Engenharia Química", university: "Universidade Federal Rural do Rio de Janeiro, UFRRJ, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "PMT2418 - Processamento de Materiais Poliméricos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2418&verdis=1" }, 
                                               { name: "PMT2519 - Tecnologia de Polímeros", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2519&verdis=1" }],
                             graduation:      [{ name: "PMT5848 - Plásticos de Engenharia", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5848" },
                                               { name: "PMT5854-5 - Tecnologia de Polímeros", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5854" }]},
                  research: ["Reciclagem",
                             "PVC",
                             "Resíduos",
                             "PVB",
                             "Plastisol",
                             "Materiais de alto desempenho",
                             "Nanocompósitos"],
                  consultings: [] },               
                
                
                
              
                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Doutora",
                  picture: assets+"img/professores/profIvetteFridaCymbaumOppenheim.jpg",
                  page: "ivette-frida-cymbaum-oppenheim/",
                  name: "Ivette Frida Cymbaum Oppenheim",
                  phone: "+55 (11) 3091-XXXX",
                  fax: "+55 (11) 3091-5243",
                  email: "xxx@usp.br",
                  lattes: "http://lattes.cnpq.br/0844638168763671",
                  academic_backgroud: [{year: "1981 - 1988", title: "Doutorado", university: "Wayne State University, W.S.U., Estados Unidos", link: "http://wayne.edu"},
                                       {year: "1979 - 1981", title: "Mestrado em Física", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1972 - 1976", title: "Graduação em Bacharelado em Física", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "PMT3110 - Introdução à Ciência dos Materiais p/Engenharia", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2597&verdis=2" }, 
                                               { name: "PMT3301 - Fundamentos de Cristalografia e Difração", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3301&verdis=1" }],
                             graduation:      [{ name: "PMT5856-1 - Ciência e Tecnologia de Filmes Finos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5856" }]},
                  research: ["Tecnologia da educação",
                             "Desenvolvimento de animações computadorizadas interativas abordando as questões de ciência e engenharia de materiais",
                             "Processamento de filmes finos de PVD (espessuras de 10 a 100 nm) com análise de propriedades do mesmo"],
                  consultings: [] },                                
                                
                 
                 
                 
                 
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associado",
                  picture: assets+"img/professores/profMarceloBredaMourao.jpg",
                  page: "marcelo-breda-mourao/",
                  name: "Marcelo Breda Mourão",
                  phone: "+55 (11) 3091-5465",
                  fax: "+55 (11) 3091-5243",
                  email: "mbmourao@usp.br",
                  lattes: "http://lattes.cnpq.br/1599148636050115",
                  academic_backgroud: [{year: "1984 - 1988", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"},
                                       {year: "1978 - 1981", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1978 - 1981", title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "PMT2401 - Laboratório de Processos Metalúrgicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2401&verdis=1" }, 
                                               { name: "PMT2420 - Metalurgia Geral", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2420&verdis=1" },
                                               { name: "PMT2201 - Fundamentos de Processos Metalúrgicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2201&verdis=1" }, 
                                               { name: "PMT2403 - Matérias Primas Metalúrgicas", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2403&verdis=2" },
                                               { name: "PMT2413 - Processos Metalúrgicos I", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2413&verdis=1" }, 
                                               { name: "PMT2409 - Siderurgia I - Processos de Redução", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2409&verdis=1" }],
                             graduation:      [{ name: "PMT5757 - Cinética de Reações Metalúrgicas", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5757" }]},
                  research: ["Redução em fase líquida",
                             "Self-reducing pellets",
                             "Metallothermic processes",
                             "Processos de refinamento",
                             "Cinética de reações em altas temperaturas"],
                  consultings: [] },               
                                
                                
                                
                                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associado",
                  picture: assets+"img/professores/profMarceloDeAquinoMartorano.jpg",
                  page: "marcelo-aquino-martorano/",
                  name: "Marcelo de Aquino Martorano",
                  phone: "+55 (11) 3091-XXXX",
                  fax: "+55 (11) 3091-5243",
                  email: "martoran@usp.br",
                  lattes: "http://lattes.cnpq.br/1599148636050115",
                  academic_backgroud: [{year: "2000 - 2002", title: "Pós-Doutorado em Engenharia Mecânica", university: "The University of Iowa, EUA ", link: "http://www.uiowa.edu"},
                                       {year: "1994 - 1998", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1986 - 1990", title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "PMT3313 - Fenômenos de Transportes em Engenharia Metalúrgica e de Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3313&verdis=1" }, 
                                               { name: "PMT3304 - Modelos Matemáticos e Simulação", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3304&verdis=1" },
                                               { name: "PMT2421 - Tecnologia e Ciência da Fundição de Metais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2421&verdis=1" }],
                             graduation:      [{ name: "PMT5770-3 - Solidificação de Metais e Suas Ligas", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5770" }]},
                  research: ["Solidificação de Metais",
                             "Modelagem Matemática de Processos de Engenharia Metalúrgica e de Materiais",
                             "Fenômenos de Transporte em  Processos de Engenharia Metalúrgica e de Materiais"],
                  consultings: [] },




                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Doutor",
                  picture: assets+"img/professores/profSamuelMarcioToffoli.jpg",
                  page: "samuel-marcio-toffoli/",
                  name: "Samuel Marcio Toffoli",
                  phone: "+55 (11) 3091-5693",
                  fax: "+55 (11) 3091-5243",
                  email: "toffoli@usp.br",
                  lattes: "http://lattes.cnpq.br/9850742143026768",
                  academic_backgroud: [{year: "1991 - 1996", title: "Doutorado em Ceramic Science and Engineering", university: "The State University of New Jersey - New Brunswick, RUTGERS, Estados Unidos", link: "http://www.rutgers.edu"},
                                       {year: "1991 - 1994", title: "Mestrado em Ceramic Science and Engineering", university: "The State University of New Jersey - New Brunswick, RUTGERS, Estados Unidos", link: "http://www.rutgers.edu"}, 
                                       {year: "1987 - 1991", title: "Mestrado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1979 - 1986", title: "Graduação em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "PMT3311 - Cerâmica Física", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3311&verdis=1" }, 
                                               { name: "PMT3200 - Ciência dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3200&verdis=1" },
                                               { name: "PMT3202 - Diagramas de Equilíbrio", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3202&verdis=1" }, 
                                               { name: "PMT2597-Estágio Supervisionado", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3202&verdis=1" },
                                               { name: "PMT3100 - Fundamentos de Ciência e Engenharia dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3100&verdis=1" }, 
                                               { name: "PMT-2517 - Tecnologia e Processamento de Materiais Cerâmicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3202&verdis=1" }
                                               { name: "PMT3110 - Introdução à Ciência dos Materiais para Engenharia", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3110&verdis=1" }],
                             graduation:      [{ name: "PMT5783-4 - Fundamentos da Ciência e a Engenharia dos Materiais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5783" },
                                               { name: "PMT5851 - Materiais Cerâmicos Tradicionais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5851" }]},
                  research: ["Vidros",
                             "Cerâmicas tradicionais",
                             "Tecnologia de argilas",
                             "Resíduos industriais inorgânicos",
                             "Fillers inorgânicos para polímeros"],
                  consultings: [] },
                
                
                
                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Titular",
                  picture: assets+"img/professores/profSergioDuarteBrandi.jpg",
                  page: "sergio-duarte-brandi/",
                  name: "Sérgio Duarte Brandi",
                  phone: "+55 11 3091 5475",
                  fax: "+55 (11) 3091-5243",
                  email: "sebrandi@usp.br",
                  lattes: "http://lattes.cnpq.br/5435032272754548",
                  academic_backgroud: [{ year: "1988 - 1992", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"},
                                       { year: "1982 - 1988", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       { year: "1976 - 1982", title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"}],
                  modules: { undergraduation: [{ name: "PMT2505 - Soldagem e Junção de Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2505&verdis=1" }, 
                                               { name: "PMT3110-Introdução à Ciencia dos Materiais p/Engenharia", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3202&verdis=1" }],
                             graduation:      [{ name: "PMT5786 - Difusão no Estado Sólido", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5786" },
                                               { name: "PMT5782-1 - Metalurgia de Soldagem das Ligas Ferrosas", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5782" },
                                               { name: "PMT5823 - Processos de Junção de Materiais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5823" },
                                               { name: "PMT5666 - Seleção de Materiais e Processos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5666" }]},
                  research: ["Soldagem e junção de materiais",
                             "Transformações de fases durante a soldagem e a junção",
                             "Soldagem multipasse de aços",
                             "Soldabilidade do alumínio e ligas",
                             "Aços de elevado desempenho: ARBL, AHSS, ligados ao níquel e  P91 entre outros.",
                             "Aços inoxidáveis (austeníticos, ferríticos, martensíticos, duplex, duplex 'lean' , super duplex e hiper duplex.",
                             "Física da soldagem",
                             "Brasagem metal/metal e metal/cerâmica",
                             "Molhamento e espalhamento de metais líquidos em metais sólidos",
                             "Soldagem para aplicações em eletrônica",
                             "Soldagem FSW",
                             "Soldagem a arco elétrico"],
                  consultings: ["Consultoria em análise de falhas de juntas soldadas",      
                                "Consultoria em processos de soldagem",     
                                "Coordenador curso de especialização em Engenharia de Soldagem"] },

                                
                                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Doutora",
                  picture: assets+"img/professores/profTicianeSanchesValera.jpg",
                  page: "ticiane-sanches-valera/",
                  name: "Ticiane Sanches Valera",
                  phone: "+55 11 3091-5470",
                  fax: "+55 (11) 3091-5243",
                  email: "xxx@usp.br",
                  lattes: "http://lattes.cnpq.br/5435032272754548",
                  academic_backgroud: [{ year: "2002 - 2005", title: "Doutorado em Engenharia Metalúrgica e de Materiais", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"},
                                       { year: "1998 - 2000", title: "Mestrado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       { year: "1992 - 1997", title: "Graduação em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"}],
                  modules: { undergraduation: [{ name: "PMT3308 - Estrutura e Propriedades dos Polímeros", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3308&verdis=1" }, 
                                               { name: "PMT2415 - Reologia dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2415&verdis=2" }],
                             graduation:      [{ name: "PMT5825 - Blendas Poliméricas e Nanocompósitos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5825" },
                                               { name: "PMT5848 - Plásticos de Engenharia", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5848" },
                                               { name: "PMT5783-4 - Fundamentos da Ciência e a Engenharia dos Materiais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5783" },
                                               { name: "PMT5854-5 - Tecnologia de Polímeros", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5854" },
                                               { name: "PMT5843-2 - Tópicos Especiais em Engenharia Metalúrgica e de Materiais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5843" }]},
                  research: ["Blendas poliméricas",
                             "Compósitos e nanocompósitos",
                             "Argilas",
                             "Reologia"],
                  consultings: [] },
                                
                                
                                
                                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associada",
                  picture: assets+"img/professores/profWangShuHui.jpg",
                  page: "wang-shu-hui/",
                  name: "Wang Shu Hui",
                  phone: "+55 11 3091-XXXX",
                  fax: "+55 (11) 3091-5243",
                  email: "xxx@usp.br",
                  lattes: "http://lattes.cnpq.br/7984507949644750",
                  academic_backgroud: [{ year: "1989 - 1995", title: "Doutorado em Ciência e Tecnologia de Polímeros", university: "Universidade Federal do Rio de Janeiro, UFRJ, Brasil", link: "http://www.ufrj.br"},
                                       { year: "1981 - 1986", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       { year: "1975 - 1979", title: "Graduação em Engenharia Química", university: "Universidade Federal do Rio de Janeiro, UFRJ, Brasil", link: "http://www.ufrj.br"}],
                  modules: { undergraduation: [{ name: "PMT2520 - Blendas e Compósitos Poliméricos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2520&verdis=1" }, 
                                               { name: "PMT3110 - Introdução à Ciência dos Materiais para Engenharia", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2424&verdis=1" },
                                               { name: "PMT2411 - Química dos Polímeros", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2411&verdis=1" }],
                             graduation:      [{ name: "PMT5862-4 - Fundamentos em Estrutura e Propriedades de Polímeros", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5862" },
                                               { name: "PMT5863 - Tópicos em Síntese de Polímeros", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5863" }]},
                  research: ["Blendas poliméricas",
                             "Compósitos e nanocompósitos",
                             "Argilas",
                             "Reologia"],
                  consultings: [] },                
                                
                                
              ]
