-
  professors = [
                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Titular",
                  category_en: "Full",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profAndrePauloTschiptschin.jpg",
                  page: "andre-paulo-tschiptschin/",
                  name: "André Paulo Tschiptschin",
                  phone: "+55 (11) 3091-5656",
                  fax: "+55 (11) 3091-5243",
                  email: "antschip@usp.br",
                  lattes: "http://lattes.cnpq.br/2163698776105146",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "2000", title_en: 'Professor\'s Degree (PMT-POLI/USP)', title_es: '', title: "Livre-Docente (PMT-POLI/USP)", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br"},
                                       {year: "1988 - 1989", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-doutorado Ruhr-Universität Bochum", university: "Ruhr Universität, RUB, Bochum, Alemanha", link: "http://www.ruhr-uni-bochum.de/index_en.htm"},
                                       {year: "1978 - 1983", title_en: 'Doctor\'s Degree - Metallurgical Enginnering', title_es: '', title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br"},
                                       {year: "1973 - 1977", title_en: 'Master\'s Degree - Metallurgical Enginnering', title_es: '', title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" },
                                       {year: "1967 - 1972", title_en: 'Bachelor\'s Degree - Metallurgical Enginnering', title_es: '', title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br"}],
                  modules: { undergraduation: [{ name_en: 'PMT2526 - Failure Analysis', name_es: '', name_pt: "PMT2526 - Análise de Falhas", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2526&verdis=1" },
                                               { name_en: 'PMT2402 - Metallography and Heat Treatment of Metals', name_es: '', name_pt: "PMT2402 - Metalografia e Tratamentos Térmicos dos Metais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2402&verdis=3" },
                                               { name_en: 'PMT2525 - Phase Transformations in steels and cast irons', name_es: '', name_pt: "PMT2525 - Transformações de Fase em Aços e Ferros Fundidos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2525&verdis=1" }],
                             graduation:      [{ name_en: 'PMT5783 - Fundamentals of Materials Science and Engineering', name_es: '', name_pt: "PMT5783-4 - Fundamentos da Ciência e a Engenharia dos Materiais", link: "https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5783" },
                                               { name_en: 'PMT5843 - Special topics in Metallurgical and Materials Engineering', name_es: '', name_pt: "PMT5843-2 - Tópicos Especiais em Engenharia Metalúrgica e de Materiais", link: "https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5843" }]},
                  research: ["Aços inoxidáveis com alto teor de nitrogênio", "Nitretação de aços inoxidáveis", "tratamentos termoquímicos", "Revestimentos via PVD", "Materiais metálicos biocompatíveis", "Materiais resistentes ao desgaste", "Aços ferríticos-bainíticos (ARBL/HSLA)"],
                  research_en: ["Stainless steels with high nitrogen content","Nitriding of stainless steels","Thermochemical treatments","PVD coatings","Biocompatible metal materials","Wear-resistant materials","Ferritic-bainitic steels (ARBL/HSLA)"],
                  research_es: [],
                  consulting_en: ["Thermo-chemical treatment of irons and steels", "Failure analysis and prevention", "Metallic alloy design"],
                  consulting_es: [],
                  consultings: ["Tratamento termoquímico de ferros e aços", "Análise de falhas e prevenção", "Projeto de ligas metálicas"] },



                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Titular",
                  category_en: "Full",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profAngeloPadilha.jpg",
                  page: "angelo-fernando-padilha/",
                  name: "Angelo Fernando Padilha",
                  phone: "+55 (11) 3091-5239",
                  fax: "+55 (11) 3091-5243 / +55 (11) 3091-5421",
                  email: "padilha@usp.br",
                  lattes: "http://lattes.cnpq.br/2985086752327431",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "1998", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-doutorado University of Wales Swansea", university: "University of Wales, Swansea, Reino Unido", link: "http://www.swansea.ac.uk"},
                                       {year: "1987-1988", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-doutorado Ruhr-Universität Bochum", university: "Ruhr Universität, RUB, Bochum, Alemanha", link: "http://www.ruhr-uni-bochum.de/index_en.htm"},
                                       {year: "1989", title_en: 'Professor\'s Degree (PMT-POLI/USP)', title_es: '', title: "Livre-Docente (PMT-POLI/USP)", university: "Escola Politécnica da Universidade de São Paulo, USP, Brasil", link: "http://www.poli.usp.br"},
                                       {year: "1982", title_en: '', title_es: '', title: "Especialização em Ciência dos Materiais", university: "Max Planck Institut für Metallforschung, Stuttgart, Alemanha", link: "http://www.fkf.mpg.de/en"},
                                       {year: "1978 - 1981", title_en: 'Doctor\'s Degree - Mechanical Enginnering', title_es: '', title: "Doutorado em Engenharia Mecânica / Materiais", university: "Karlsruher Institut für Technologie, KIT, Alemanha", link: "https://www.kit.edu/english/"},
                                       {year: "1975 - 1977", title_en: 'Master\'s Degree - Metallurgical Enginnering', title_es: '', title: "Mestrado em Engenharia Metalúrgica", university: "Escola Politécnica da Universidade de São Paulo, USP, Brasil", link: "http://www.poli.usp.br"},
                                       {year: "1975", title_en: 'Nuclear Science and Technology Specialization', title_es: '', title: "Especialização em Ciência e Tecnologia Nucleares", university: "Comissão Nacional de Energia Nuclear, CNEN, Brasil", link: "http://www.cnen.gov.br/ )"},
                                       {year: "1970 - 1974", title_en: 'Bachelor\'s Degree - Materials Enginnering', title_es: '', title: "Graduação em Engenharia de Materiais", university: "Universidade Federal de São Carlos, UFSCAR, Brasil", link: "http://www2.ufscar.br/home/index.php" }],
                  modules: { undergraduation: [{ name_en: 'PMT2513 - Materials for High Temperature Applications', name_es: '', name_pt: "PMT3513 - Materiais para Aplicações em Altas Temperaturas", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2513&verdis=1" },
                                               { name_en: 'PMT3100 - Fundamentals of Materials Science and Engineering', name_es: '', name_pt: "PMT3100 - Fundamentos de Ciência e Engenharia dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3100&nomdis=" }],
                             graduation:      [{ name_en: 'PMT5705 - Recrystallization of Metallic Materials', name_es: '', name_pt: "PMT5705-1 - Recristalização de Materiais Metálicos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5705" },
                                               { name_en: 'PMT5864 - Kinetics of Solid State Phase Transformations', name_es: '', name_pt: "PMT5864 - Cinética das Transformações de Fase no Estado Sólido", link:"https://uspdigital.usp.br/janus/comum/entrada.jsf" }]},
                  research: ["Transformações de fase", "Caracterização microestrutural", "Recristalização", "Textura cristalográfica", "Aços inoxidáveis", "Superligas", "Alumínio e suas ligas", "Metais refratários", "Materiais para reatores nucleares"],
                  research_en: ["Phase Transformations", "Microstructural characterization", "Recrystallization", "Crystallographic texture", "Stainless steels", "Super alloys", "Aluminum and aluminum alloys", "Refractory metals", "Materials for nuclear reactors"],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: []},



                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Associado",
                  category_en: "Associate",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profAntonioCarlosVieiraCoelho.jpg",
                  page: "antonio-carlos-vieira-coelho/",
                  name: "Antonio Carlos Vieira Coelho",
                  phone: "+55 (11) 3091-2422",
                  fax: "+55 (11) 3091-2275",
                  email: "acvcoelh@usp.br",
                  lattes: " http://lattes.cnpq.br/4881121674066200",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "2009", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-doutorado Universidad Carlos III de Madrid", university: "Universidad Carlos III de Madrid, UC3M, Espanha", link: "http://portal.uc3m.es/portal/page/portal/home"},
                                       {year: "2008", title_en: 'Professor\'s Degree (PMT-POLI/USP)', title_es: '', title: "Livre-Docente (PMT-POLI/USP)", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br"},
                                       {year: "1996", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-doutorado L'inst Franç de Recherche Scientifique Pour Le Développement En Coopération", university: "IFRS pour Le Développement En Coopération, ORSTOM, França", link: "http://www.espace-sciences.org/archives/science/12588.html"},
                                       {year: "1987 - 1991", title_en: 'Doctor\'s Degree', title_es: '', title: "Doutorado em Sciences Naturelles Appliquées", university: "Université Catholique de Louvain, UCL, Bélgica", link: "http://www.uclouvain.be/index.html"},
                                       {year: "1983 - 1986", title_en: 'Master\'s Degree - Chemical Engineering', title_es: '', title: "Mestrado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" },
                                       {year: "1977 - 1981", title_en: 'Bachelor\'s Degree - Chemical Engineering', title_es: '', title: "Graduação em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" }],
                  modules: { undergraduation: [{ name_en: 'PMT3100 - Technology and Processing of Ceramic Materials', name_es: '', name_pt: "PMT3100-Fundamentos de Ciência e Eng. Dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2517&verdis=2" },
                                               { name_en: 'PMT3110 - Introduction to Materials Science and Engineering', name_es: '', name_pt: "PMT3110-Introdução à Ciência dos Materiais p/Engenharia", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3110&verdis=1" }],
                             graduation:      [{ name_en: 'PMT5846 - Clays science and technology', name_es: '', name_pt: "PMT5846 - Ciência e Tecnologia de Argilas", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5846" }]},
                  research: ["Ciência e tecnologia de argilas", "Produção e caracterização de nanoestrutura de materiais", "Síntese e desenvolvimento de materiais não metálicos", "Desenvolvimento de materiais para infraestrutura"],
                  research_en: ["Clay Science and Technology", "Production and characterization of material nanostructure", "Synthesis and development of nonmetallic materials", "Development of materials for infrastructure"],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: []},




                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Doutor",
                  category_en: "Assistant",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profAugustoCamaraNeiva.jpg",
                  page: "augusto-camara-neiva/",
                  name: "Augusto Camara Neiva",
                  phone: "+55 (11) 3091-2228",
                  fax: "+55 (11) 3091-5243",
                  email: "acneiva@usp.br",
                  lattes: "http://lattes.cnpq.br/6166836553784725",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "2000", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-doutorado Universidade de São Paulo", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br"},
                                       {year: "1994 - 1996", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-doutorado University of Birmingham", university: "University of Birmingham, Birmigham, Reino Unido", link: "http://www.birmingham.ac.uk/index.aspx"},
                                       {year: "1988 - 1993", title_en: 'Doctor\'s Degree - Metallurgical Enginnering', title_es: '', title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br"},
                                       {year: "1981 - 1985", title_en: 'Master\'s Degree - Metallurgical Enginnering', title_es: '', title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" },
                                       {year: "1970 - 1976", title_en: 'Bachelor\'s Degree - Metallurgical Enginnering', title_es: '', title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" }],
                  modules: { undergraduation: [{ name_en: 'PMT3305 - Physical Chemistry for Metallurgical and Materials Engineering III', name_es: '', name_pt: "PMT3305 - Físico-Quimica para Metalurgia e Materiais III", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3305&verdis=1" },
                                               { name_en: 'PMT2305 - Physical Chemistry for Metallurgy and Materials I', name_es: '', name_pt: "PMT2305 - Fisico Quimica p/ Metalurgia e Materiais I", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2305&verdis=3" }],
                             graduation:      [{ name_en: 'PMT5778 - Phase Diagrams', name_es: '', name_pt: "PMT5778-2 - Diagramas de Fase", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5778" }]},
                  research: ["Diagramas de fase", "Imãs permanentes", "Espectroscopia de fluorescência de raios X", "Caracterização de bens culturais", "Eletrodeposição de materiais"],
                  research_en: ["Phase diagrams", "Permanent magnets", "X-ray fluorescence spectroscopy", "Characterization of cultural assets", "Electroplating of materials"],
                  research_es: [],
                  consulting_en: ["Characterization of cultural assets", "Self-management of work"],
                  consulting_es: [],
                  consultings: ["Caracterização de bens culturais", "Autogestão do trabalho"]},




                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Doutor",
                  category_en: "Assistant",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profCesarRobertoDeFariaAzevedo.jpg",
                  page: "cesar-roberto-farias-azevedo/",
                  name: "Cesar Roberto de Farias Azevedo",
                  phone: "+55 (11) 3091-5619",
                  fax: "+55 (11) 3091-5243",
                  email: "c.azevedo@usp.br",
                  lattes: "http://lattes.cnpq.br/5328433871836511",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "2012", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-doutorado em Tribologia", university: "Bundesanstalt für Materialforschung und -prüfung, BAM, Berlin, Alemanha", link: "http://www.bam.de/en/index.htm" },
                                       {year: "2010", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-doutorado em Materiais Nuclares", university: "Imperial College, Inglaterra, Reino Unido", link: "https://www.imperial.ac.uk/" },
                                       {year: "1991 - 1996", title_en: 'Doctor\'s Degree - Metallic Materials', title_es: '', title: "Doutorado em Metallic materials", university: "Imperial College - Department of Materials, Imperial College, Inglaterra, Reino Unido", link: "https://www.imperial.ac.uk/" },
                                       {year: "1987 - 1991", title_en: 'Master\'s Degree - Metallurgical Enginnering', title_es: '', title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" },
                                       {year: "1982 - 1986", title_en: 'Bachelor\'s Degree - Metallurgical Enginnering', title_es: '', title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" }],
                  modules: { undergraduation: [{ name_en: 'PMT2402 - Metallography and Heat Treatment of Metals', name_es: '', name_pt: "PMT2402 - Metalografia e Tratamentos Térmicos dos Metais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2402&verdis=3" },
                                               { name_en: 'PMT3309 - Physical Metallurgy', name_es: '', name_pt: "PMT3309 - Metalurgia Física", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3309&verdis=1" },
                                               { name_en: 'PMT2528 - Materials Selection', name_es: '', name_pt: "PMT2528 - Seleção de Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2528&verdis=1" },
                                               { name_en: 'PMT3302 - Phase Transformations', name_es: '', name_pt: "PMT3302 - Transformações de Fases", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3302&verdis=1" },
                                               { name_en: 'PMT2302 - Phase Transformations in Metals', name_es: '', name_pt: "PMT2302 - Transformações de Fases em Metais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2302&verdis=3" }],
                             graduation:      [{ name_en: 'PMT5666 - Materials and Processes selection', name_es: '', name_pt: "PMT5666 - Seleção de Materiais e Processos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5666" }]},
                  research: ["Analise de falhas", "Degradação de metais", "Transformações de fases em metais", "Propriedades de processamento microestrutural relacionadas aos metais", "Seleção de materiais e processos", "Avaliação do ciclo de vida de produtos e eco-design"],
                  research_en: ["Failure analysis", "Metal Degradation", "Phase Transformations in Metals", "Metal-related microstructural processing properties", "Selection of materials and processes", "Product life cycle and eco-design evaluation"],
                  research_es: [],
                  consulting_en: ["Associate Editor of the journal 'Engineering Failure Analysis', Elsevier", "Member of the organizing committee of the 'International Conference on Engineering Failure Analysis', Elsevier"],
                  consulting_es: [],
                  consultings: ["Editor Associado do periódico Engineering Faileure Analysis , Elsevier", "Membro do comitê organizador da 'International Conference on Engineering Falure Analysis', Elsevier"]},




                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Associado",
                  category_en: "Associate",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profClaudioGeraldoSchon.jpg",
                  page: "claudio-geraldo-schon/",
                  name: "Cláudio Geraldo Schön",
                  phone: "+55 (11) 3091-5726",
                  fax: "+55 (11) 3091-5243",
                  email: "schoen@usp.br",
                  lattes: "http://lattes.cnpq.br/2631107236461952",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "2004", title_en: 'Professor\'s Degree (PMT-POLI/USP)', title_es: '', title: "Livre-Docente (PMT-POLI/USP)", university: "Universidade de São Paulo, USP, Brasil. ", link: "http://www5.usp.br/" },
                                       {year: "2000 - 2001", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado Universidade de São Paulo", university: "Universidade de São Paulo, USP, Brasil. ", link: "http://www5.usp.br/" },
                                       {year: "1998 - 2000", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado Universidade de São Paulo", university: "Universidade de São Paulo, USP, Brasil. ", link: "http://www5.usp.br/" },
                                       {year: "1994 - 1998", title_en: 'Doctor\'s Degree - Natural Sciences', title_es: '', title: "Doutorado em Ciências Naturais", university: "Universität Dortmund, UNIDO, Alemanha", link: "http://www.tu-dortmund.de/uni/Uni/index.html" },
                                       {year: "1992 - 1994", title_en: 'Master\'s Degree - Metallurgical Enginnering', title_es: '', title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" },
                                       {year: "1986 - 1991", title_en: 'Bachelor\'s Degree - Physics', title_es: '', title: "Graduação em Bacharelado em Física", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" }],
                  modules: { undergraduation: [{ name_en: 'PMT2512 - Practice of Computational Thermodynamics', name_es: '', name_pt: "PMT2512 - Laboratório de Termodinâmica Computacional", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2512&verdis=2" },
                                               { name_en: 'PMT3306 - Mechanics of Materials', name_es: '', name_pt: "PMT3306 - Mecânica dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2405&verdis=4" },
                                               { name_en: 'PMT2406 - Mechanics of Metals and Alloys', name_es: '', name_pt: "PMT2406 - Mecânica dos Materiais Metálicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2406&verdis=5" }],
                             graduation:      [{ name_en: 'PMT5860 - Theory of Plasticity and Materials Fracture', name_es: '', name_pt: "PMT5860-6  - Teoria da Plasticidade e da Fratura dos Materiais", link: "https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5860" },
                                               { name_en: 'PMT5784 - Thermodynamics of Solids', name_es: '', name_pt: "PMT5784-1 - Termodinâmica dos Sólidos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5784" },
                                               { name_en: 'PMT5857 - Advanced Topics in Materials Fatigue', name_es: '', name_pt: "PMT5857 - Tópicos Avançados em Fadiga de Materiais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5857" },
                                               { name_en: 'PMT5843 - Special Topics in Metallurgical and Materials Engineering', name_es: '', name_pt: "PMT5843-2 - Tópicos Especiais em Engenharia Metalúrgica e de Materiais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5843" }]},
                  research: ["Cálculos de diagramas de fase", "Intermetálicos", "Método variacional de clusters", "Termodinâmica de defeitos cristalinos e ordens de configuração"],
                  research_en: ["Phase diagram calculations", "Intermetallic", "Cluster variational method", "Crystalline defect thermodynamics and configuration orders"],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: []},

                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Colaborador Sênior",
                  category_en: "Colaborador Sênior",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profCyroTakano.jpg",
                  page: "cyro-takano/",
                  name: "Cyro Takano",
                  phone: "+55 11 3091-5426",
                  fax: "+55 (11) 3091-4308",
                  email: "cytakano@usp.br",
                  lattes: "http://lattes.cnpq.br/5778408055019241",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{ year: "1997", title_en: 'Professor\'s Degree (PMT-POLI/USP)', title_es: '', title: "Livre-Docente (PMT-POLI/USP)", university: "Universidade de São Paulo, USP, Brasil. ", link: "http://www5.usp.br/" },
                                       { year: "1967 - 1970", title_en: 'Doctor\'s Degree - Metallurgical Enginnering', title_es: '', title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.ufrj.br"},
                                       { year: "1971 - 1972", title_en: 'Master\'s Degree - Industrial Enginnering', title_es: '', title: "Mestrado em Industrial Engeneering", university: "Stanford University, STANFORD, Estados Unidos", link: "https://www.stanford.edu/"},
                                       { year: "1995 - 1995", title_en: 'Self-Reduction Specialization', title_es: '', title: "Especialização em Auto Redução", university: "Tohoku University, TOHOKU, Japão", link: "http://www.tohoku.ac.jp/en/" },
                                       { year: "1979 - 1979", title_en: 'Industrial Research Project Management Specialization', title_es: '', title: "Especialização em Gerencia de Projetos de Pesquisa Industrial", university: "Vanderbilt University, VANDERBILT, Estados Unidos", link: "http://www.vanderbilt.edu/"},
                                       { year: "1975 - 1975", title_en: 'Powder Metallurgy Specialization', title_es: '', title: "Especialização em Metalurgia do Pó", university: "Drexel University, DREXEL, Estados Unidos", link: "http://drexel.edu/"},
                                       { year: "1973 - 1973", title_en: 'Research Managemant Specialization', title_es: '', title: "Especialização em Administração de Pesquisa", university: "Denver University, DENVER UNIVERSITY, Estados Unidos", link: "http://www.du.edu/" },
                                       { year: "1962 - 1966", title_en: 'Bachelor\'s Degree - Metallurgical Engineering', title_es: '', title: "Graduação em Engenharia Metalurgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.ufrj.br"}],
                  modules: { undergraduation: [],
                             graduation:      [{ name_en: 'PMT5862-4 - Fundamentals of Structure and Properties of Polymers', name_es: '', name_pt: "PMT5862-4 - Fundamentos em Estrutura e Propriedades de Polímeros", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5862" },
                                               { name_en: 'PMT5863 - Topics in Polymer Synthesis', name_es: '', name_pt: "PMT5863 - Tópicos em Síntese de Polímeros", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5863" }]},
                  research: ["Aglomeração", "Redução e refino de metais"],
                  research_en: ["Agglomeration", "Reduction and refining of metals"],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: [] },



                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Associado",
                  category_en: "Associate",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profDouglasGouvea.jpg",
                  pictureSmall: assets+"img/professores/profDouglasGouvea_sm.jpg",
                  page: "douglas-gouvea/",
                  name: "Douglas Gouvêa",
                  phone: "+55 (11) 3091-5238",
                  fax: "+55 (11) 3091-5243",
                  email: "dgouvea@usp.br",
                  lattes: "http://lattes.cnpq.br/2698229628494630",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "2012", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado University of California, Davis", university: "University of California - Davis, UC Davis, EUA. ", link: "https://www.ucdavis.edu/" },
                                       {year: "2003", title_en: 'Professor\'s Degree (PMT-POLI/USP)', title_es: '', title: "Livre-Docente (PMT-POLI/USP)", university: "Universidade de São Paulo, USP, Brasil. ", link: "http://www5.usp.br/" },
                                       {year: "2005", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado École Nationale Supériure de Chimie de Lille", university: "École Nationale Supériure de Chimie de Lille, ENSC-LILLE, França", link: "http://www.ensc-lille.fr/english-version.html" },
                                       {year: "1996 - 1997", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado Universidade de São Paulo", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" },
                                       {year: "1995 - 1996", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado Universidade de São Paulo", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" },
                                       {year: "1991 - 1995", title_en: 'Doctor\'s Degree - Chemistry', title_es: '', title: "Doutorado em Química", university: "Universidade Federal de São Carlos, UFSCAR, Brasil", link: "http://www.ufscar.br/" },
                                       {year: "1987 - 1989", title_en: 'Master\'s Degree - Physical-Chemical', title_es: '', title: "Mestrado em Físico Química", university: "Universidade Estadual Paulista Júlio de Mesquita Filho, UNESP, Brasil", link: "https://www.unesp.br/" },
                                       {year: "1983 - 1986", title_en: 'Bachelor\'s Degree - Chemistry', title_es: '', title: "Graduação em Bacharel Em Química", university: "Universidade Estadual Paulista Júlio de Mesquita Filho, UNESP, Brasil", link: "https://www.unesp.br/" }],
                  modules: { undergraduation: [{ name_en: 'PMT3151 - Introduction to Materials Engineering', name_es: '', name_pt: "PMT3151 - Introdução à Engenharia de Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3151&verdis=1" },
                                               { name_en: 'PMT3310 - Introduction to the Scientific Method', name_es: '', name_pt: "PMT3310 - Introdução ao Método e à Redação Científica", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3310&verdis=1" },
                                               { name_en: 'PMT2422 - Microstructure of Ceramic Materials', name_es: '', name_pt: "PMT2422 - Micro-estrutura de Materiais Cerâmicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2422&verdis=1" },
                                               { name_en: 'PMT2422 - Microstructure of Ceramic Materials', name_es: '', name_pt: "PMT3100 - Fundamentos de Ciência e Engenharia dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2422&verdis=1" },
                                               { name_en: 'PMT2417 - Synthesis and Preparation of Ceramic Materials', name_es: '', name_pt: "PMT2417 - Síntese e Preparação de Materiais Cerâmicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2417&verdis=1" },
                                               { name_en: 'PMT2511 - Glass Technology', name_es: '', name_pt: "PMT2511 - Técnologia dos Vidros", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2511&verdis=1" }],
                             graduation:      [{ name_en: 'PMT5841 - Ceramic Dispersions', name_es: '', name_pt: "PMT5841 - Dispersões Cerâmicas", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5841"}]},
                  research: ["Dispersões cerâmicas", "Síntese de materiais cerâmicos", "Sinterização", "Estabilidade e transições de fase em óxidos nanométricos"],
                  research_en: ['Ceramic dispersions','Synthesis of ceramic materials','Sintering','Stability and phase transformations in nanometric oxides'],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: []},


                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Doutor",
                  category_en: "Assistant",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profEduardoFrancoDeMonlevade.jpg",
                  page: "eduardo-franco-monlevade/",
                  name: "Eduardo Franco de Monlevade",
                  phone: "+55 (11) 3091-5637",
                  fax: "+55 (11) 3091-5243",
                  email: "monlevade@usp.br",
                  lattes: "http://lattes.cnpq.br/7284378967180905",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "2008 - 2012", title_en: 'Doctor\'s Degree - Metallurgical Engineering', title_es: '', title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" },
                                       {year: "2000 - 2002", title_en: 'Master\'s Degree - Metallurgical Engineering', title_es: '', title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" },
                                       {year: "1995 - 1999", title_en: 'Bachelor\'s Degree', title_es: '', title: "Graduação", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" }],
                  modules: { undergraduation: [{ name_en: 'PMT2404 - Mechanical Transformation I', name_es: '', name_pt: "PMT2521-Conformação dos Materiais Metálicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2404&verdis=1" },
                                               { name_en: 'PMT2503 - Mechanical Transformation II', name_es: '', name_pt: "PMT3100-Fundamentos de Ciência e Engenharia dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2503&verdis=1" },
                                               { name_en: 'PMT2419 - Mechanical Conformation of Metals', name_es: '', name_pt: "PMT3200-Ciência dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2419&verdis=2" }],
                             graduation:      []},
                  research: ["Transformações de fases em metais", "Conformação mecânica de metais", "Análise de falha", "Cobre e suas ligas", "Tratamento térmicos de aços", "Aços inoxidáveis duplex."],
                  research_en: ['Phase transformations in metals','Mechanical forming of metals','Failure analysis','Copper and its alloys','Heat treatment of steels','Duplex stainless steels'],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: []},




                { status: "active",
                  accademicTitle: "Profa. Dra.",
                  category: "Doutor",
                  category_en: "Assistant",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profElizabethGrilloFernandes.jpg",
                  page: "elizabeth-grillo-fernandes/",
                  name: "Elizabeth Grillo Fernandes",
                  phone: "+55 (11) 3091-5637",
                  fax: "+55 (11) 3091-5243",
                  email: "bethgrillo@usp.br",
                  lattes: "http://lattes.cnpq.br/7230889846824050",
                  researcherId: ["B-6084-2016", "I-6736-2013"],
                  orcid: "0000-0003-4830-1286",
                  scopusId: "",
                  academic_backgroud: [{year: "1995 - 1997", title_en: 'Post-graduated Degree - Bioactive Polymeric Materials for Biomedical Applications and Packaging', title_es: '', title: "Pós Doutorado em Materiais Poliméricos Bioativos para Aplicações Biomédicas e Embalagens", university: "Dipartimento di Chimica e Chimica Industriali - Università di Pisa, DCCI-UNIPI, Itália", link: "https://www.unipi.it/index.php/english" },
                                       {year: "1989 - 1994", title_en: 'Doctor\'s Degree - Analytical chemistry', title_es: '', title: "Doutorado em Química Analítica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" },
                                       {year: "1979 - 1984", title_en: 'Master\'s Degree - Science and Polymer Technology', title_es: '', title: "Mestrado em Ciência e Tecnologia de Polímeros", university: "Instituto de Macromoléculas Professora Eloisa Mano, IMA-UFRJ, Brasil", link: "https://www.ima.ufrj.br/" },
                                       {year: "1972 - 1976", title_en: 'Bachelor\'s Degree - Chemistry Engineering', title_es: '', title: "Graduação em Engenharia Química", university: "Universidade do Estado do Rio de Janeiro, UERJ, Brasil", link: "https://www.uerj.br/" }],
                  modules: { undergraduation: [{ name_en: 'PMT3100 - Fundamentals of Materials Science and Engineering', name_es: '', name_pt: "PMT3100 - Fundamentos de Ciência e Eng. Dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3100&nomdis=" },
                                               { name_en: 'PMT3110 - Introduction to Materials Science and Engineering', name_es: '', name_pt: "PMT3110 - Introdução à Ciência dos Materiais para Engenharia", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=pmt3110&nomdis=" },
                                               { name_en: 'PMT3131 - Materials Chemistry Applied to Electric Engineering  ', name_es: '', name_pt: "PMT3131 - Química dos Materiais Aplicada à Engenharia Elétrica", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3131&nomdis=" },
                                               { name_en: 'PMT3415 - Technology of Composite Materials', name_es: '', name_pt: "PMT3415 - Tecnologia dos Materiais Compósitos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3415&nomdis=" },
                                               { name_en: 'PMT3429 - Laboratory of Characterization of Polymers', name_es: '', name_pt: "PMT3429 - Laboratório de Caracterização de Materiais Poliméricos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=pmt3429&nomdis=" },
                                               { name_en: 'PMT3435 - Processing of Polymeric Materials', name_es: '', name_pt: "PMT3435 - Processamento de Materiais Poliméricos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=pmt3435&nomdis=" }
                                               ],
                             graduation:      [{ name_en: 'PMT5872 - Application of Thermoanalytical Methods to Materials', name_es: '', name_pt: "PMT5872 - Aplicação de Métodos Termoanalíticos aos Materiais", link: "https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5872" }]},
                  research: ["Misturas poliméricas e compósitos (escalas nano e macro)", "Biomateriais", "Reciclagem", "Embalagens", "Plásticos oxo-biodegradáveis", "Células fotovoltaicas orgânicas", "Membranas poliméricas", "Análise térmica"],
                  research_en: ["Polymeric and composite blends (nano and macro scales)", "Biomaterials", "Recycling", "Packaging", "Oxybiodegradable plastics", "Organic photovoltaic cells", "Polymer Membranes", "Thermal analysis"],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: []},





                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Associado",
                  category_en: "Associate",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profFernandoJoseGomesLandgraf.jpg",
                  page: "fernando-jose-gomes-landgraf/",
                  name: "Fernando José Gomes Landgraf",
                  phone: "+55 (11) 3091-5695",
                  fax: "+55 (11) 3091-5243",
                  email: "f.landgraf@usp.br",
                  lattes: "http://lattes.cnpq.br/4577368078511565",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "2007", title_en: 'Professor\'s Degree (PMT-POLI/USP)', title_es: '', title: "Livre-Docente (PMT-POLI/USP)", university: "Universidade de São Paulo, USP, Brasil. ", link: "http://www5.usp.br/" },
                                       {year: "1988 - 1992", title_en: 'Doctor\'s Degree - Metallurgical Engineering', title_es: '', title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" },
                                       {year: "1981 - 1987", title_en: 'Master\'s Degree - Metallurgical Engineering', title_es: '', title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" },
                                       {year: "1972 - 1976", title_en: 'Bachelor\'s Degree - Metallurgical Engineering', title_es: '', title: "Graduação em Engenharia Metalúrgica", university: "Fundação Educacional Inaciana Padre Sabóia de Medeiros, FEI, Brasil", link: "https://www.fei.edu.br/" }],
                  modules: { undergraduation: [{ name_en: 'PMT3312 - Processing of Metallic and Ceramic Powders', name_es: '', name_pt: "PMT3312 - Processamento de Pós Metálicos e Cerâmicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3312&verdis=1" },
                                               { name_en: 'PMT2596 - Graduation Project II', name_es: '', name_pt: "PMT2596 - Trabalho de Formatura II", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3312&verdis=1" },
                                               { name_en: 'PMT2595 - Graduation Project I', name_es: '', name_pt: "PMT2595 - Trabalho de Formatura I", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3312&verdis=1" }],
                             graduation:      [{ name_en: 'PMT5816-5 - Processing and Performance of Magnetic Materials', name_es: '', name_pt: "PMT5816-5  - Processamento e Desempenho de Materiais Magnéticos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5816" }]},
                  research: ["Relação entre processamento, <a href='" + assets + "downloads/microestrutura_comportamento_magnetico.pdf' target='_blank'>microestrutura e comportamento magnético dos materiais</a>", "Arqueometalurgia: uso de técnicas modernas de caracterização microestrutural para identificar a origem de objetos arqueológicos.", "Metalurgia do pó, manufatura aditiva, impressão 3D"],
                  research_en: ['The lamination and processing of particulate materials of electric steels','Bonded magnets','Researching the relations between process','Microstructure and crystallographic texture and their magnetic properties'],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: []},




                  { status: "active",
                    accademicTitle: "Prof. Dr.",
                    category: "Doutor",
                    category_en: "Assistant",
                    category_es: "Assistant",
                    picture: assets+"img/professores/profFlavioBeneduceNeto.jpg",
                  page: "flavio-beneduce-neto/",
                  name: "Flávio Beneduce Neto",
                  phone: "+55 (11) 3091-5421",
                  fax: "+55 (11) 3091-5243",
                  email: "beneduce@usp.br",
                  lattes: "http://lattes.cnpq.br/7726663681253204",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "1998 - 2002", title_en: 'Doctor\'s Degree - Metallurgical Engineering', title_es: '', title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" },
                                       {year: "1994", title_en: 'Materials and Metallurgical Engineering Specialization', title_es: '', title: "Especialização em Engenharia Metalúrgica e de Materiais", university: "University of British Columbia, UBC, Canadá", link: "https://www.ubc.ca/" },
                                       {year: "1993", title_en: 'Melting And Refining Cast Ni Base Superalloys Specialization', title_es: '', title: "Especialização em Melting And Refining Cast Ni Base Superalloys", university: "National Research Institute For Metals, NRIM, Japão", link: "http://www.nims.go.jp/eng/" },
                                       {year: "1984 - 1990", title_en: 'Master\'s Degree - Metallurgical Engineering', title_es: '', title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" },
                                       {year: "1977 - 1982", title_en: 'Bachelor\'s Degree - Metallurgical Engineering', title_es: '', title: "Graduação em Engenharia Metalúrgica", university: "Fundação Educacional Inaciana Padre Sabóia de Medeiros, FEI, Brasil", link: "https://www.fei.edu.br/" }],
                  modules: { undergraduation: [{ name_en: 'PMT3205 - Physical Chemistry for Metallurgy and Materials I', name_es: '', name_pt: "PMT3205 - Físico-Química para Metalurgia e Materiais I", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3205&verdis=1" },
                                               { name_en: 'PMT3100 - Fundamentals of Materials Science and Engineering', name_es: '', name_pt: "PMT3100 - Fundamentos de Ciência e Eng. Dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3205&verdis=1" },
                                               { name_en: 'PMT3206 - Physical Chemistry for Metallurgy and Materials II', name_es: '', name_pt: "PMT3206 - Físico-Química para Metalurgia e Materiais II", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3206&verdis=1" }],
                             graduation:      [{ name_en: 'PMT5838-2 - Thermodynamics for Metallurgy and Materials', name_es: '', name_pt: "PMT5838-2 - Termodinâmica para Metalurgia e Materiais", link:"#" }]},
                  research: ["Redução carbotérmica de óxidos", "Redução metalotérmica", "Produção e refino de metais e ligas", "Fusão de Ti por EB"],
                  research_en: ['Carbothermic oxide reduction','Metallothermic reduction','Production and refining of metals and alloys','EB melting of Ti'],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: []},




                  { status: "active",
                    accademicTitle: "Prof. Dr.",
                    category: "Doutor",
                    category_en: "Assistant",
                    category_es: "Assistant",
                    picture: assets+"img/professores/profFranciscoRolandoValenzuelaDiaz.jpg",
                  page: "francisco-rolando-valenzuela-diaz/",
                  name: "Francisco Rolando Valenzuela Diaz",
                  phone: "+55 (11) 3091 5236 / +55 (11) 3091 2225",
                  fax: "+55 (11) 3091-5243",
                  email: "frrvdiaz@usp.br",
                  lattes: "http://lattes.cnpq.br/3539158603053300",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "1990 - 1994", title_en: 'Doctor\'s Degree - Chemistry Engineering', title_es: '', title: "Doutorado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" },
                                       {year: "1979 - 1983", title_en: 'Master\'s Degree - Chemistry Engineering', title_es: '', title: "Mestrado em Engenharia Química", university: "Instituto de Macromoléculas Professora Eloisa Mano, IMA-UFRJ, Brasil", link: "https://www.ima.ufrj.br/" },
                                       {year: "1971 - 1976", title_en: 'Bachelor\'s Degree - Chemistry Engineering', title_es: '', title: "Graduação em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" }],
                  modules: { undergraduation: [{ name_en: 'PMT2517 - Technology and Processing of Ceramic Materials', name_es: '', name_pt: "PMT2517 - Tecnologia e Processamento de Materiais Cerâmicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2422&verdis=1" },
                                               { name_en: 'PMT2422 - Microstructure of Ceramic Materials', name_es: '', name_pt: "PMT3110 - Introdução à Ciência dos Materiais para Engenharia", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2422&verdis=1" }],
                             graduation:      [{ name_en: 'PMT5851 - Traditional Ceramic Materials', name_es: '', name_pt: "PMT5851 - Materiais Cerâmicos Tradicionais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5851" }]},
                  research: ["Incorporação de resíduos em matrizes poliméricas e cerâmicas", "Obtenção e caracterização de argilas organofílicas", "Nanocompósitos  políméricos", "Nanocompósitos de sílica / materiais carbonáceos", "Argilas naturais ativadas com ácidos", "Argilas esmectitas organofílicas como absorventes de substâncias tóxicas e de conservação ambiental"],
                  research_en: ['Incorporation of waste in polymeric and ceramic matrices','Obtainment and characterizarion of organophyllic clays','Clay/polymer nanocomposites','Silicate nanocomposites/carbonaceous materials','Natural clays activated with acids and organophyllic smectite clays as absorbents of toxic substances and the conservation of the environment'],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: []},




                  { status: "active",
                    accademicTitle: "Prof. Dr.",
                    category: "Doutor",
                    category_en: "Assistant",
                    category_es: "Assistant",
                    picture: assets+"img/professores/profGuilhermeFredericoBernardoLenzESilva.jpg",
                    pictureSmall: assets+"img/professores/profGuilhermeFredericoBernardoLenzESilva_sm.jpg",
                    page: "guilherme-frederico-bernardo-lenz-e-silva/",
                    name: "Guilherme Frederico Bernardo Lenz e Silva",
                    phone: "+55 (11) 3091-5494",
                    fax: "+55 (11) 3091-5243",
                    email: "guilhermelenz@usp.br",
                    lattes: "http://lattes.cnpq.br/3059638279617376",
                    researcherId: ["B-9160-2012"],
                    orcid: "0000-0003-1184-5271",
                    scopusId: "12143861500",
                    academic_backgroud: [{year: "2014 - 2015", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado School of Engineering ", university: "LEHN - Brown University, Providence, USA", link: "https://www.brown.edu/research/labs/environmental-health-nanoscience/" },
                                         {year: "2006 - 2007", title_en: 'Post-graduated Degree - Materials Engineering', title_es: '', title: "Pós-Doutorado Department of Materials", university: "Imperial College London, Reino Unido", link: "https://www.imperial.ac.uk/engineering/departments/materials/" },
                                         {year: "2005 - 2006", title_en: 'Post-graduated Degree - Materials Science and Engineering', title_es: '', title: "Pós-Doutorado Department of Materials Science and Engineering", university: "The University of Sheffield, Reino Unido ", link: "http://www.sheffield.ac.uk/materials" },
                                         {year: "2000 - 2004", title_en: 'Doctor\'s Degree - Metallurgical Engineering', title_es: '', title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br/" },
                                         {year: "2015 - 2016", title_en: 'Strategic Decision and Risk Management Certificate', title_es: '', title: "Strategic Decision and Risk Management Certificate", university: "Stanford University, Palo Alto, EUA", link: "http://scpd.stanford.edu/home" },
                                         {year: "2008 - 2008", title_en: 'Specialization in Work Safety Engineering', title_es: '', title: "Especialização em Engenharia de Segurança do Trabalho", university: "Universidade Federal de Minas Gerais, UFMG, Brasil", link: "https://www.eng.ufmg.br/portal/pos-graduacao/especializacao/" },
                                         {year: "1999 - 2000", title_en: 'MBA in Environmental Management & Technologies (MBA-PECE / USP)', title_es: '', title: "MBA em Gestão & Tecnologias Ambientais (MBA-PECE/USP)", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.pecepoli.com.br/PT/" },
                                         {year: "1991 - 1996", title_en: 'Bachelor\'s Degree - Metallurgical Engineering', title_es: '', title: "Graduação em Engenharia Metalúrgica", university: "Universidade Federal de Minas Gerais, UFMG, Brasil", link: "https://www.ufmg.br/" }],
                    modules: { undergraduation: [{ name_en: 'PMT2410 - Steelmaking Technology', name_es: '', name_pt: "PMT2410 - Siderurgia II - Aciaria", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2410&verdis=3" },
                                                 { name_en: 'PMT3100 - Fundamentals of Materials Science and Engineering', name_es: '', name_pt: "PMT3100 - Fundamentos de Ciência e Engenharia dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3150&verdis=1" },
                                                 { name_en: 'PMT3150 - Introduction to Metallurgical Engineering', name_es: '', name_pt: "PMT3150 - Introdução à Engenharia Metalúrgica", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3150&verdis=1" },
                                                 { name_en: 'PMT2523 - Refractories Technology', name_es: '', name_pt: "PMT2523 - Tecnologia de Refratários", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2523&verdis=1" },
                                                 { name_en: 'PMT3415 - Technology of Composite Materials', name_es: '', name_pt: "PMT3415 – Tecnologia dos Materiais Compósitos", link:"https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3415&verdis=1" }],
                               graduation:      [{ name_en: 'PMT5868-3 - Technology for Refractory Materials, Slag, Matte, Magmas, Glass and Castings', name_es: '', name_pt: "PMT5868-3 - Tecnologia dos Materiais Refratários, Escórias, Mates, Magmas, Vidros e Sais Fundidos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5868" },
                                                 { name_en: 'PMI5026 - 3 - Introduction to the Planning of Experiments, Analysis, Optimization and Multicriteria Decision-Making Processes in Mineral Treatments and Extractive Metallurgy', name_es: '', name_pt: "PMI5026 - 3 - Introdução ao Planejamento de Experimentos, Análise, Otimização e Processos de Tomada de Decisão Multicriterial em Tratamentos de Minérios e Metalurgia Extrativa", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMI5026" }]},
                    research: ["Materiais refratários", "Otimização de processos metalúrgicos", "Metalurgia extrativa do boro", "Sintese de carbetos, boretos e SIALON\'s", "Métodos multicriteriais e multiobjetivos para tomada de decisões em nanotecnologia (HSEnano)", "Processos de reciclagem e tecnologias ambientais", "Gerenciamento de segurança e saúde ocupacional em novas nanotecnologias", "Síntese de nanomateriais baseados em carbono (nanotubos de carbono, grafeno e negro de fumo)", "Desenvolvimento de propantes cerâmicos sintéticos", "Desenvolvimento de geopolímeros para isolamento acústico e térmico", "Gestão e análise de risco (saúde, segurança, meio ambiente)", "Compósitos, materiais para aplicações biomédicas e engenharia de tecidos"],
                    research_en: ["Refractory materials", "Optimization of metallurgical processes", "Boron extraction metallurgy", "Synthesis of carbides, borides and SIALON\'s", "Multicriteria and multiobjective methods for decision making in nanotechnology (HSEnano)", "Recycling processes and environmental technologies", "Occupational health and safety management in new nanotechnologies", "Synthesis of carbon-based nanomaterials (carbon nanotubes, graphene and carbon black)", "Development of synthetic ceramic propellants", "Development of geopolymers for acoustic and thermal insulation", "Risk management and analysis (health, safety, environment)", "Composites, materials for biomedical applications and tissue engineering"],
                    research_es: [],
                    consulting_en: [],
                    consulting_es: [],
                    consultings: ["VALE - Avaliação Técnica do Projeto do Forno Elétrico de Ferro-Niquel - Ourilândia do Norte/PA", "CBMM - Serviços de Caracterização de Calorimetria Termodiferencial por Varredura de Ligas de Níquel-Ferro-Nóbio e Otimização de Escórias de Refino para a Produção de Ferro-Nóbio", "VOTORANTIM METAIS, SENAI-CETEC E CLARIANT - Projeto Propantes", "VOTORANTIM METAIS - Avaliação do Comportamento dos Materiais Refratários, do Forno Elétrico de Refino de Escória de Faialítica de Níquel, Simulação Térmica e Estudos de Recuperação de Níquel de Lamas Ácidas", "SANTANDER - Definição de Indicadores Desempenho Ambientais"]},




                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Titular",
                  category_en: "Full",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profHelioGoldestein.jpg",
                  page: "helio-goldenstein/",
                  name: "Hélio Goldenstein",
                  phone: "+55 (11) 3091-5460",
                  fax: "+55 (11) 3091-5243",
                  email: "hgoldens@usp.br",
                  lattes: "http://lattes.cnpq.br/7081512949222824",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "1999", title_en: 'Professor\'s Degree (PMT-POLI/USP)', title_es: '', title: "Livre-Docente (PMT-POLI/USP)", university: "Universidade de São Paulo, USP, Brasil. ", link: "http://www5.usp.br/" },
                                       {year: "1989", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado Massachusets Institute of Technology", university: "Massachusets Institute Of Technology, MIT, Estados Unidos", link: "http://www.mit.edu"},
                                       {year: "1987 - 1988", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado Carnegie Mellon University", university: "Carnegie Mellon University, CMU, Estados Unidos", link: "http://www.cmu.edu/"},
                                       {year: "1978 - 1983", title_en: 'Doctor\'s Degree - Metallurgical Engineering', title_es: '', title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br"},
                                       {year: "1974 - 1978", title_en: 'Master\'s Degree - Metallurgical Engineering', title_es: '', title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" },
                                       {year: "1968 - 1973", title_en: 'Bachelor\'s Degree - Metallurgical Engineering', title_es: '', title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" }],
                  modules: { undergraduation: [{ name_en: 'PMT2402 - Metallography and Heat Treatment of Metals', name_es: '', name_pt: "PMT-2402-Metalografia e Tratamentos Termicos dos Metais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2525&verdis=1" }],
                             graduation:      [{ name_en: 'PMT5830-2 - Decomposition of Austenite in Ferrous Alloys', name_es: '', name_pt: "PMT5830-2 - Decomposição da Austenita nas Ligas Ferrosas", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5830" },
                                               { name_en: 'PMT5830-2 - Decomposition of Austenite in Ferrous Alloys', name_es: '', name_pt: "PMT5734  - Introdução a Teoria de Transformações de Fase", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5734" },
                                               { name_en: 'PMT5923-2 - Introduction to Atomic Simulation Applied to Materials Science', name_es: '', name_pt: "PMT5923-2  - Introdução à Simulação Atomística Aplicada à Ciência dos Materiais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5923" }]},
                  research: ["Transformações de fases em materiais", "Relações entre microestrutura e as propriedades dos materiais", "Sinterização", "Caracterização microestrutural", "Resistência à fratura", "Tratamentos térmicos"],
                  research_en: ["Phase transformations in materials", "Relations between microstructure and properties of materials", "Sintering", "Microstructural characterization", "Resistance to fracture", "Thermal treatments"],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: []},




                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Associado",
                  category_en: "Associate",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profHelioWiebeck.jpg",
                  page: "helio-wiebek/",
                  name: "Hélio Wiebeck",
                  phone: "+55 (11) 3091-5236",
                  fax: "+55 (11) 3091-5243",
                  email: "hwiebek@usp.br",
                  lattes: "http://lattes.cnpq.br/7345295932741797",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "2008", title_en: 'Professor\'s Degree (PMT-POLI/USP)', title_es: '', title: "Livre-Docente (PMT-POLI/USP)", university: "Universidade de São Paulo, USP, Brasil. ", link: "http://www5.usp.br/" },
                                       {year: "1988 - 1993", title_en: 'Doctor\'s Degree - Chemistry Engineering', title_es: '', title: "Doutorado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br"},
                                       {year: "1982 - 1987", title_en: 'Master\'s Degree - Chemistry Engineering', title_es: '', title: "Mestrado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" },
                                       {year: "1970 - 1973 ", title_en: 'Bachelor\'s Degree - Chemistry Engineering', title_es: '', title: "Graduação em Engenharia Química", university: "Universidade Federal Rural do Rio de Janeiro, UFRRJ, Brasil", link: "http://www5.usp.br" }],
                  modules: { undergraduation: [{ name_en: 'PMT2418 - Processing of Polymeric Materials', name_es: '', name_pt: "PMT2418 - Processamento de Materiais Poliméricos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2418&verdis=1" },
                                               { name_en: 'PMT2519 - Polymer Technology', name_es: '', name_pt: "PMT2519 - Tecnologia de Polímeros", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2519&verdis=1" }],
                             graduation:      [{ name_en: 'PMT5848 - Engineering Plastics', name_es: '', name_pt: "PMT5848 - Plásticos de Engenharia", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5848" },
                                               { name_en: 'PMT5854-5 - Polymer Technology', name_es: '', name_pt: "PMT5854-5 - Tecnologia de Polímeros", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5854" }]},
                  research: ["Reciclagem", "PVC", "Resíduos", "PVB", "Plastisol", "Materiais de alto desempenho", "Nanocompósitos"],
                  research_en: ["Recycling", "PVC", "Wastes", "PVB", "Plastisol", "High performance materials", "Nanocomposites"],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: [] },





                { status: "active",
                  accademicTitle: "Profa. Dra.",
                  category: "Doutora",
                  category_en: "Doutora",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profIvetteFridaCymbaumOppenheim.jpg",
                  page: "ivette-frida-cymbaum-oppenheim/",
                  name: "Ivette Frida Cymbaum Oppenheim",
                  phone: "+55 (11) 3091-6471",
                  fax: "+55 (11) 3091-5243",
                  email: "ifoppen@usp.br",
                  lattes: "http://lattes.cnpq.br/0844638168763671",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "1991 - 1992", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado Universidade de São Paulo", university: "Universidade de São Paulo, USP, Brasil. ", link: "http://www5.usp.br"},
                                       {year: "1988 - 1991", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado Johns Hopkins University", university: "Johns Hopkins University, JHU, Estados Unidos. ", link: "https://www.jhu.edu/"},
                                       {year: "1981 - 1988", title_en: 'Doctor\'s Degree', title_es: '', title: "Doutorado", university: "Wayne State University, W.S.U., Estados Unidos", link: "http://wayne.edu"},
                                       {year: "1979 - 1981", title_en: 'Master\'s Degree - Physics', title_es: '', title: "Mestrado em Física", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" },
                                       {year: "1972 - 1976", title_en: 'Bachelor\'s Degree - Physics', title_es: '', title: "Graduação em Bacharelado em Física", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" }],
                  modules: { undergraduation: [{ name_en: 'PMT3110 - Introduction to Materials Science and Engineering', name_es: '', name_pt: "PMT3110 - Introdução à Ciência dos Materiais p/Engenharia", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2597&verdis=2" },
                                               { name_en: 'PMT3301 - Fundamentals of Crystallography and Diffraction', name_es: '', name_pt: "PMT3301 - Fundamentos de Cristalografia e Difração", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3301&verdis=1" }],
                             graduation:      [{ name_en: 'PMT5856-1 - Science and Technology of Fine Films', name_es: '', name_pt: "PMT5856-1 - Ciência e Tecnologia de Filmes Finos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5856" }]},
                  research: ["Tecnologia da educação", "Desenvolvimento de animações computadorizadas interativas abordando as questões de ciência e engenharia de materiais", "Processamento PVD de filmes finos (espessuras de 10 a 100 nm) com análise de suas propriedades"],
                  research_en: ["Technology of education", "Development of interactive computer animations addressing issues of science and engineering materials", "PVD processing of thin films (thicknesses from 10 to 100 nm) with analysis of their properties"],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: [] },





                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Associado",
                  category_en: "Associate",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profMarceloBredaMourao.jpg",
                  page: "marcelo-breda-mourao/",
                  name: "Marcelo Breda Mourão",
                  phone: "+55 (11) 3091-5465",
                  fax: "+55 (11) 3091-5243",
                  email: "mbmourao@usp.br",
                  lattes: "http://lattes.cnpq.br/1599148636050115",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "1997", title_en: 'Professor\'s Degree (PMT-POLI/USP)', title_es: '', title: "Livre-Docente (PMT-POLI/USP)", university: "Universidade de São Paulo, USP, Brasil. ", link: "http://www5.usp.br/" },
                                       {year: "1990 - 1991", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado Massachusetts Institute of Technology", university: "Massachusetts Institute of Technology, MIT, Estados Unidos", link: "http://www.mit.edu"},
                                       {year: "1984 - 1988", title_en: 'Doctor\'s Degree - Metallurgical Engineering', title_es: '', title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br"},
                                       {year: "1978 - 1981", title_en: 'Master\'s Degree - Metallurgical Engineering', title_es: '', title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" },
                                       {year: "1978 - 1981", title_en: 'Bachelor\'s Degree - Metallurgical Engineering', title_es: '', title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" }],
                  modules: { undergraduation: [{ name_en: 'PMT2401 - Practice of Metallurgical Processes', name_es: '', name_pt: "PMT2401 - Laboratório de Processos Metalúrgicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2401&verdis=1" },
                                               { name_en: 'PMT2420 - General Metallurgy', name_es: '', name_pt: "PMT2420 - Metalurgia Geral", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2420&verdis=1" },
                                               { name_en: 'PMT2201 - Fundamentals of Metallurgical Processes', name_es: '', name_pt: "PMT2201 - Fundamentos de Processos Metalúrgicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2201&verdis=1" },
                                               { name_en: 'PMT2403 - Metallurgical Raw Materials', name_es: '', name_pt: "PMT2403 - Matérias Primas Metalúrgicas", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2403&verdis=2" },
                                               { name_en: 'PMT2413 - Process Metallurgy I', name_es: '', name_pt: "PMT2413 - Processos Metalúrgicos I", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2413&verdis=1" },
                                               { name_en: 'PMT2409 - Ironmaking', name_es: '', name_pt: "PMT2409 - Siderurgia I - Processos de Redução", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2409&verdis=1" }],
                             graduation:      [{ name_en: 'PMT5757 - Kinetics of Metallurgical Reactions', name_es: '', name_pt: "PMT5757 - Cinética de Reações Metalúrgicas", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5757" }]},
                  research: ["Redução em fase líquida", "Pelotas auto-redutoras", "Processos metalotérmicos", "Processos de refinamento", "Cinética de reações em altas temperaturas"],
                  research_en: ["Reduction in liquid phase", "Self-reducing pellets", "Metalothermic processes", "Processes of refinement", "Kinetics of reactions at high temperatures"],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: [] },




                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Associado",
                  category_en: "Associate",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profMarceloDeAquinoMartorano.jpg",
                  page: "marcelo-aquino-martorano/",
                  name: "Marcelo de Aquino Martorano",
                  phone: "+55 (11) 3091-6032",
                  fax: "+55 (11) 3091-5243",
                  email: "martoran@usp.br",
                  lattes: "http://lattes.cnpq.br/4997162516495710",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "2008", title_en: 'Professor\'s Degree (PMT-POLI/USP)', title_es: '', title: "Livre-Docente (PMT-POLI/USP)", university: "Universidade de São Paulo, USP, Brasil. ", link: "http://www5.usp.br/" },
                                       {year: "2000 - 2002", title_en: 'Post-graduated Degree - Mechanical Engineering', title_es: '', title: "Pós-Doutorado em Engenharia Mecânica", university: "The University of Iowa, EUA ", link: "http://www.uiowa.edu"},
                                       {year: "1994 - 1998", title_en: 'Doctor\'s Degree - Metallurgical Engineering', title_es: '', title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" },
                                       {year: "1986 - 1990", title_en: 'Bachelor\'s Degree - Metallurgical Engineering', title_es: '', title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" }],
                  modules: { undergraduation: [{ name_en: 'PMT3313 - Transport Phenomena in Metallurgical and Materials Engineering', name_es: '', name_pt: "PMT3313 - Fenômenos de Transportes em Engenharia Metalúrgica e de Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3313&verdis=1" },
                                               { name_en: 'PMT3304 - Mathematical Models and Simulation', name_es: '', name_pt: "PMT3304 - Modelos Matemáticos e Simulação", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3304&verdis=1" },
                                               { name_en: 'PMT2421 - Technology and Science of Metal Casting', name_es: '', name_pt: "PMT2421 - Tecnologia e Ciência da Fundição de Metais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2421&verdis=1" }],
                             graduation:      [{ name_en: 'PMT5770-3 - Solidificação de Metais e Suas Ligas', name_es: '', name_pt: "PMT5770-3 - Solidificação de Metais e Suas Ligas", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5770" }]},
                  research: ["Solidificação de Metais", "Modelagem Matemática de Processos de Engenharia Metalúrgica e de Materiais", "Fenômenos de Transporte em  Processos de Engenharia Metalúrgica e de Materiais"],
                  research_en: ["Solidification of Metals", "Mathematical Modeling of Metallurgical and Materials Engineering Processes", "Transport Phenomena in Metallurgical Engineering and Materials Engineering"],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: [] },




                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Doutor",
                  category_en: "Assistant",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profSamuelMarcioToffoli.jpg",
                  page: "samuel-marcio-toffoli/",
                  name: "Samuel Marcio Toffoli",
                  phone: "+55 (11) 3091-5693",
                  fax: "+55 (11) 3091-5243",
                  email: "toffoli@usp.br",
                  lattes: "http://lattes.cnpq.br/5435032272754548 ",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{year: "1991 - 1996", title_en: 'Doctor\'s Degree - Ceramic Science and Engineering', title_es: '', title: "Doutorado em Ceramic Science and Engineering", university: "The State University of New Jersey - New Brunswick, RUTGERS, Estados Unidos", link: "http://www.rutgers.edu"},
                                       {year: "1991 - 1994", title_en: 'Master\'s Degree - Ceramic Science and Engineering', title_es: '', title: "Mestrado em Ceramic Science and Engineering", university: "The State University of New Jersey - New Brunswick, RUTGERS, Estados Unidos", link: "http://www.rutgers.edu"},
                                       {year: "1987 - 1991", title_en: 'Master\'s Degree - Chemistry Engineering', title_es: '', title: "Mestrado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" },
                                       {year: "1979 - 1986", title_en: 'Bachelor\'s Degree - Chemistry Engineering', title_es: '', title: "Graduação em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" }],
                  modules: { undergraduation: [{ name_en: 'PMT3311 - Physical Ceramics', name_es: '', name_pt: "PMT3311 - Cerâmica Física", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3311&verdis=1" },
                                               { name_en: 'PMT3200 - Materials Science', name_es: '', name_pt: "PMT3200 - Ciência dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3200&verdis=1" },
                                               { name_en: 'PMT3202 - Equilibrium Diagrams', name_es: '', name_pt: "PMT3202 - Diagramas de Equilíbrio", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3202&verdis=1" },
                                               { name_en: 'PMT2597 - Supervised Training', name_es: '', name_pt: "PMT2597-Estágio Supervisionado", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3202&verdis=1" },
                                               { name_en: 'PMT3100 - Fundamentals of Materials Science and Engineering', name_es: '', name_pt: "PMT3100 - Fundamentos de Ciência e Engenharia dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3100&verdis=1" },
                                               { name_en: 'PMT3100 - Fundamentals of Materials Science and Engineering', name_es: '', name_pt: "PMT-2517 - Tecnologia e Processamento de Materiais Cerâmicos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3202&verdis=1" },
                                               { name_en: 'PMT3110 - Introduction to Materials Science and Engineering', name_es: '', name_pt: "PMT3110 - Introdução à Ciência dos Materiais para Engenharia", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3110&verdis=1" }],
                             graduation:      [{ name_en: 'PMT5783-4 - Fundamentals of Science and Materials Engineering', name_es: '', name_pt: "PMT5783-4 - Fundamentos da Ciência e a Engenharia dos Materiais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5783" },
                                               { name_en: 'PMT5851 - Traditional Ceramic Materials', name_es: '', name_pt: "PMT5851 - Materiais Cerâmicos Tradicionais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5851" }]},
                  research: ["Vidros", "Cerâmicas tradicionais", "Tecnologia de argilas", "Resíduos industriais inorgânicos", "Fillers inorgânicos para polímeros"],
                  research_en: ["Glasses", "Traditional ceramics", "Clay technology", "Inorganic industrial waste", "Inorganic Fillers for Polymers"],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: [] },




                { status: "active",
                  accademicTitle: "Prof. Dr.",
                  category: "Titular",
                  category_en: "Full",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profSergioDuarteBrandi.jpg",
                  page: "sergio-duarte-brandi/",
                  name: "Sérgio Duarte Brandi",
                  phone: "+55 11 3091 5475",
                  fax: "+55 (11) 3091-5243",
                  email: "sebrandi@usp.br",
                  lattes: "http://lattes.cnpq.br/6420235767836216",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{ year: "1995", title_en: 'Professor\'s Degree (PMT-POLI/USP)', title_es: '', title: "Livre-Docente (PMT-POLI/USP)", university: "Universidade de São Paulo, USP, Brasil. ", link: "http://www5.usp.br/" },
                                       { year: "1993 - 1994", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado Ohio State University", university: "Ohio State University, OSU, Estados Unidos", link: "https://www.osu.edu/"},
                                       { year: "1992 - 1993", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado Colorado School of Mines", university: "Colorado School of Mines, MINES, Estados Unidos", link: "https://www.mines.edu/" },
                                       { year: "1988 - 1992", title_en: 'Doctor\'s Degree - Metallurgical Engineering', title_es: '', title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br"},
                                       { year: "1982 - 1988", title_en: 'Master\'s Degree - Metallurgical Engineering', title_es: '', title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" },
                                       { year: "1976 - 1982", title_en: 'Bachelor\'s Degree - Metallurgical Engineering', title_es: '', title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br"}],
                  modules: { undergraduation: [{ name_en: 'PMT2505 - Welding and Junction of Materials', name_es: '', name_pt: "PMT2505 - Soldagem e Junção de Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2505&verdis=1" },
                                               { name_en: 'PMT3110 - Introduction to Materials Science and Engineering', name_es: '', name_pt: "PMT3110-Introdução à Ciencia dos Materiais p/Engenharia", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3202&verdis=1" }],
                             graduation:      [{ name_en: 'PMT5786 - Solid State Diffusion', name_es: '', name_pt: "PMT5786 - Difusão no Estado Sólido", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5786" },
                                               { name_en: 'PMT5782-1 - Welding Metallurgy of Ferrous Alloys', name_es: '', name_pt: "PMT5782-1 - Metalurgia de Soldagem das Ligas Ferrosas", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5782" },
                                               { name_en: 'PMT5823 - Materials Joining Processes', name_es: '', name_pt: "PMT5823 - Processos de Junção de Materiais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5823" },
                                               { name_en: 'PMT5666 - Selection of Materials and Processes', name_es: '', name_pt: "PMT5666 - Seleção de Materiais e Processos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5666" }]},
                  research: ["Soldagem e junção de materiais", "Transformações de fases durante a soldagem e a junção", "Soldagem multipasse de aços", "Soldabilidade do alumínio e ligas", "Aços de elevado desempenho: ARBL, AHSS, ligados ao níquel e  P91 entre outros", "Aços inoxidáveis (austeníticos, ferríticos, martensíticos, duplex, duplex 'lean' , super duplex e hiper duplex", "Física da soldagem", "Brasagem metal/metal e metal/cerâmica", "Molhamento e espalhamento de metais líquidos em metais sólidos", "Soldagem para aplicações em eletrônica", "Soldagem FSW", "Soldagem a arco elétrico"],
                  research_en: ["Welding and joining of materials", "Phase transformations during welding and joining", "Welding of multi-steels", "Weldability of aluminum and alloys", "High performance steels: ARBL, AHSS, nickel and P91, among others", "Stainless steels (austenitic, ferritic, martensitic, duplex, lean duplex, super duplex and hyper duplex", "Welding physics", "Brazing metal / metal and metal / ceramic", "Wetting and spreading of liquid metals into solid metals", "Welding for electronics applications", "Welding FSW", "Electric arc welding"],
                  research_es: [],
                  consulting_en: ["Consulting in analysis of welded joints failure", "Consulting in welding processes", "Coordinator of the specialization course in Welding Engineering"],
                  consulting_es: [],
                  consultings: ["Consultoria em análise de falhas de juntas soldadas", "Consultoria em processos de soldagem", "Coordenador curso de especialização em Engenharia de Soldagem"] },



                { status: "active",
                  accademicTitle: "Profa. Dra.",
                  category: "Doutora",
                  category_en: "Doutora",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profTicianeSanchesValera.jpg",
                  page: "ticiane-sanches-valera/",
                  name: "Ticiane Sanches Valera",
                  phone: "+55 11 3091-5470",
                  fax: "+55 (11) 3091-5243",
                  email: "tsvalera@usp.br",
                  lattes: "http://lattes.cnpq.br/9850742143026768",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{ year: "2008 - 2009", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado Escola Politécnica da Universidade de São Paulo", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br"},
                                       { year: "2006 - 2007", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado Escola Politécnica da Universidade de São Paulo", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" },
                                       { year: "2002 - 2005", title_en: 'Doctor\'s Degree - Materials and Metallurgical Engineering', title_es: '', title: "Doutorado em Engenharia Metalúrgica e de Materiais", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br"},
                                       { year: "1998 - 2000", title_en: 'Master\'s Degree - Chemistry Engineering', title_es: '', title: "Mestrado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" },
                                       { year: "1992 - 1997", title_en: 'Bachelor\'s Degree - Chemistry Engineering', title_es: '', title: "Graduação em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br"}],
                  modules: { undergraduation: [{ name_en: 'PMT3308 - Structure and Properties of Polymers', name_es: '', name_pt: "PMT3308 - Estrutura e Propriedades dos Polímeros", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT3308&verdis=1" },
                                               { name_en: 'PMT2415 - Rheology of Materials', name_es: '', name_pt: "PMT2415 - Reologia dos Materiais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2415&verdis=2" }],
                             graduation:      [{ name_en: 'PMT5825 - Polymeric and Nanocomposite Blends', name_es: '', name_pt: "PMT5825 - Blendas Poliméricas e Nanocompósitos", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5825" },
                                               { name_en: 'PMT5848 - Engineering Plastics', name_es: '', name_pt: "PMT5848 - Plásticos de Engenharia", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5848" },
                                               { name_en: 'PMT5783-4 - Fundamentals of Science and Materials Engineering', name_es: '', name_pt: "PMT5783-4 - Fundamentos da Ciência e a Engenharia dos Materiais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5783" },
                                               { name_en: 'PMT5854-5 - Polymer Technology', name_es: '', name_pt: "PMT5854-5 - Tecnologia de Polímeros", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5854" },
                                               { name_en: 'PMT5843-2 - Special Topics in Metallurgical and Materials Engineering', name_es: '', name_pt: "PMT5843-2 - Tópicos Especiais em Engenharia Metalúrgica e de Materiais", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5843" }]},
                  research: ["Blendas poliméricas", "Compósitos e nanocompósitos", "Argilas", "Reologia"],
                  research_en: ["Polymer blends", "Composites and nanocomposites", "Clays", "Rheology"],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: [] },




                { status: "active",
                  accademicTitle: "Profa. Dra.",
                  category: "Associada",
                  category_en: "Associada",
                  category_es: "Assistant",
                  picture: assets+"img/professores/profWangShuHui.jpg",
                  page: "wang-shu-hui/",
                  name: "Wang Shu Hui",
                  phone: "+55 11 3091-5694",
                  fax: "+55 (11) 3091-5243",
                  email: "wangshui@usp.br",
                  lattes: "http://lattes.cnpq.br/7984507949644750",
                  researcherId: [""],
                  orcid: "",
                  scopusId: "",
                  academic_backgroud: [{ year: "2007", title_en: 'Professor\'s Degree (PMT-POLI/USP)', title_es: '', title: "Livre-Docente (PMT-POLI/USP)", university: "Universidade de São Paulo, USP, Brasil. ", link: "http://www5.usp.br/" },
                                       { year: "1996 - 1997", title_en: 'Post-graduated Degree', title_es: '', title: "Pós-Doutorado University of Massachusetts System", university: "University of Massachusetts System, UMass, Estados Unidos", link: "http://www.massachusetts.edu/"},
                                       { year: "1989 - 1995", title_en: 'Doctor\'s Degree - Polymer Science and Technology', title_es: '', title: "Doutorado em Ciência e Tecnologia de Polímeros", university: "Universidade Federal do Rio de Janeiro, UFRJ, Brasil", link: "http://www.ufrj.br"},
                                       { year: "1981 - 1986", title_en: 'Master\'s Degree - Metallurgical Engineering', title_es: '', title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www5.usp.br" },
                                       { year: "1975 - 1979", title_en: 'Bachelor\'s Degree - Chemistry Engineering', title_es: '', title: "Graduação em Engenharia Química", university: "Universidade Federal do Rio de Janeiro, UFRJ, Brasil", link: "http://www.ufrj.br"}],
                  modules: { undergraduation: [{ name_en: 'PMT2520 - Polymer Blends and Composites', name_es: '', name_pt: "PMT2520 - Blendas e Compósitos Poliméricos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2520&verdis=1" },
                                               { name_en: 'PMT3110 - Introduction to Materials Science and Engineering  ', name_es: '', name_pt: "PMT3110 - Introdução à Ciência dos Materiais para Engenharia", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2424&verdis=1" },
                                               { name_en: 'PMT2411 - Polymer chemistry', name_es: '', name_pt: "PMT2411 - Química dos Polímeros", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2411&verdis=1" }],
                             graduation:      [{ name_en: 'PMT5862-4 - Fundamentals of Structure and Properties of Polymers', name_es: '', name_pt: "PMT5862-4 - Fundamentos em Estrutura e Propriedades de Polímeros", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5862" },
                                               { name_en: 'PMT5863 - Topics in Polymer Synthesis', name_es: '', name_pt: "PMT5863 - Tópicos em Síntese de Polímeros", link:"https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5863" }]},
                  research: ["Polímeros anfifílicos", "Polímeros biodegradáveis", "Blendas Poliméricas", "Copolimerização em bloco", "Caracterização e comportamento de fases"],
                  research_en: ["Amphiphilic polymers", "Biodegradable polymers", "Polymer Blends", "Block copolymerization", "Characterization and behavior of phases"],
                  research_es: [],
                  consulting_en: [],
                  consulting_es: [],
                  consultings: [] }



              ]
