-
  professors = [
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Titular",
                  picture: assets+"img/professores/profAndrePauloTschiptschin.jpg",
                  page: "andre-paulo-tschiptschin/",
                  name: "André Paulo Tschiptschin",
                  phone: "+55 (11) 3091-5656",
                  fax: "+55 (11) 3091-5243",
                  email: "antschip@usp.br",
                  lattes: "http://lattes.cnpq.br/2163698776105146",
                  academic_backgroud: [{year: "1978 - 1983", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"},
                                       {year: "1973 - 1977", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1967 - 1972", title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"}],
                  modules: { undergraduation: [{ name: "PMT2526 - Análise de Falhas", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2526&verdis=1" }, 
                                               { name: "PMT2402 - Metalografia e Tratamentos Térmicos dos Metais", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2402&verdis=3" },
                                               { name: "PMT2525 - Transformações de Fase em Aços e Ferros Fundidos", link: "https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMT2525&verdis=1" }],
                             graduation:      [{ name: "PMT5783-4 - Fundamentos da Ciência e a Engenharia dos Materiais", link: "https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5783" },
                                               { name: "PMT5843-2 - Tópicos Especiais em Engenharia Metalúrgica e de Materiais", link: "https://uspdigital.usp.br/janus/componente/catalogoDisciplinasInicial.jsf?action=3&sgldis=PMT5843" }]},
                  research: ["High nitrogen stainless steels",
                             "Nitriding of stainless steels",
                             "Thermochemical treatments",
                             "PVD coatings",
                             "Biocompatible metallic materials",
                             "Wear resistant materials",
                             "High strength ferritic-bainitic low alloy steel"],
                  consultings: ["Heat Treatment and Thermochemical Treatment of Iron and Steels",
                                "Failure Analysis and Prevention",
                                "Alloy Design"] },
                                
                                
                                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Titular",
                  picture: assets+"img/professores/profAngeloPadilha.jpg",
                  page: "angelo-fernando-padilha/",
                  name: "Angelo Fernando Padilha",
                  phone: "+55 (11) 3091-5239",
                  fax: "+55 (11) 3091-5243 / +55 (11) 3091-5421",
                  email: "padilha@usp.br",
                  lattes: "http://lattes.cnpq.br/2985086752327431",
                  academic_backgroud: [{year: "1978 - 1981", title: "Doutorado em Engenharia Mecânica Materiais", university: "Karlsruher Institut für Technologie, KIT, Alemanha", link: "https://www.kit.edu/english/"},
                                       {year: "1975 - 1977", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1970 - 1974", title: "Graduação em Engenharia de Materiais", university: "Universidade Federal de São Carlos, UFSCAR, Brasil", link: "http://www2.ufscar.br/home/index.php" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Transformações de fase",
                             "Microestruturas",
                             "Recristalização",
                             "Técnicas análise microestrutural",
                             "Textura cristalográfica",
                             "Aços inoxidáveis",
                             "Superligas",
                             "Alumínio e suas ligas",
                             "Metais refratários",
                             "Materiais para reatores nucleares"],
                  consultings: ["Sem informações"]},
                  
                  
                  
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associado",
                  picture: assets+"img/professores/profAntonioCarlosVieiraCoelho.jpg",
                  page: "antonio-carlos-vieira-coelho/",
                  name: "Antonio Carlos Vieira Coelho",
                  phone: "+55 (11) 3091-2422",
                  fax: "+55 (11) 3091-2275",
                  email: "cvcoelh@usp.br",
                  lattes: " http://lattes.cnpq.br/4881121674066200",
                  academic_backgroud: [{year: "1987 - 1991", title: "Doutorado em Sciences Naturelles Appliquées", university: "Université Catholique de Louvain, UCL, Bélgica", link: "http://www.uclouvain.be/index.html"},
                                       {year: "1983 - 1986", title: "Mestrado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1977 - 1981", title: "Graduação em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Ciência e tecnologia de argilas",
                             "Produção e caracterização de nanoestrutura de materiais",
                             "Síntese e desenvolvimento de materiais não metálicos",
                             "Desenvolvimento de materiais para infraestrutura"],
                  consultings: ["Sem informações"]},
                  
                  
                  
                  
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Doutor",
                  picture: assets+"img/professores/profAugustoCamaraNeiva.jpg",
                  page: "augusto-camara-neiva/",
                  name: "Augusto Camara Neiva",
                  phone: "+55 (11) 3091-2228",
                  fax: "+55 (11) 3091-5243",
                  email: "acneiva@usp.br",
                  lattes: "http://lattes.cnpq.br/6166836553784725",
                  academic_backgroud: [{year: "1988 - 1993", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"},
                                       {year: "1981 - 1985", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1970 - 1976", title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Phase Diagrams",			
                             "Permanent Magnets",			
                             "X-Ray Fluorescence Spectroscopy",			
                             "Cultural Heritage Characterization",			
                             "Electrodeposition"],
                  consultings: ["Cultural Heritage Characterization",
                                "Worker Self-Management"]},
                  
                  
                
                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Doutor",
                  picture: assets+"img/professores/profCesarRobertoDeFariaAzevedo.jpg",
                  page: "cesar-roberto-farias-azevedo/",
                  name: "Cesar Roberto de Farias Azevedo",
                  phone: "+55 (11) 3091-5619",
                  fax: "+55 (11) 3091-5243",
                  email: "cvcoelh@usp.br",
                  lattes: "http://lattes.cnpq.br/5328433871836511",
                  academic_backgroud: [{year: "2012", title: "Pós-doutorado em Tribologia", university: "Bundesanstalt für Materialforschung und -prüfung, BAM, Berlin, Alemanha", link: "http://www.bam.de/en/index.htm" },
                                       {year: "2010", title: "Pós-doutorado em Materiais Nuclares", university: "Imperial College, Inglaterra, Reino Unido", link: "https://www.imperial.ac.uk/" },
                                       {year: "1991 - 1996", title: "Doutorado em Metallic materials", university: "Imperial College - Department of Materials, Imperial College, Inglaterra, Reino Unido", link: "https://www.imperial.ac.uk/" },
                                       {year: "1987 - 1991", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" },
                                       {year: "1982 - 1986", title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Analise de falhas",
                             "Degradação de metais",
                             "Transformações de fases em metais",
                             "Propriedades de processamento microestrutural relacionadas aos metais",
                             "Seleção de materiais e processos",
                             "Avaliação do ciclo de vida de produtos e eco-design"],
                  consultings: ["Editor Associado do periódico Engineering Faileure Analysis , Elsevier",
                                "Membro do comitê organizador da 'International Conference on Engineering Falure Analysis', Elsevier"]},
                                
                                
                                
                                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associado",
                  picture: assets+"img/professores/profClaudioGeraldoSchon.jpg",
                  page: "claudio-geraldo-schon/",
                  name: "Cláudio Geraldo Schön",
                  phone: "+55 (11) 3091-5726",
                  fax: "+55 (11) 3091-5243",
                  email: "schoen@usp.br",
                  lattes: "http://lattes.cnpq.br/2631107236461952",
                  academic_backgroud: [{year: "1994 - 1998", title: "Doutorado em Ciências Naturais", university: "Universität Dortmund, UNIDO, Alemanha", link: "http://www.tu-dortmund.de/uni/Uni/index.html" },
                                       {year: "1992 - 1994", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" },
                                       {year: "1986 - 1991", title: "Graduação em Bacharelado em Física", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Cálculos de diagramas de fase",
                             "Intermetálicos",
                             "Método variacional de clusters",
                             "Termodinâmica de defeitos cristalinos e ordens de configuração"],
                  consultings: ["Sem informações"]},
                  
                  
                  
                  
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associado",
                  picture: assets+"img/professores/profDouglasGouvea.jpg",
                  page: "douglas-gouvea/",
                  name: "Douglas Gouvêa",
                  phone: "+55 (11) 3091-5238",
                  fax: "+55 (11) 3091-5243",
                  email: "dgouvea@usp.br",
                  lattes: "http://lattes.cnpq.br/2698229628494630",
                  academic_backgroud: [{year: "1991 - 1995", title: "Doutorado em Química", university: "Universidade Federal de São Carlos, UFSCAR, Brasil", link: "http://www.ufscar.br/" },
                                       {year: "1987 - 1989", title: "Mestrado em Físico Química", university: "Universidade Estadual Paulista Júlio de Mesquita Filho, UNESP, Brasil", link: "https://www.unesp.br/" },
                                       {year: "1983 - 1986", title: "Graduação em Bacharel Em Química", university: "Universidade Estadual Paulista Júlio de Mesquita Filho, UNESP, Brasil", link: "https://www.unesp.br/" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Dispersões cerâmicas",
                             "Síntese de materiais cerâmicos",
                             "Sinterização",
                             "Estabilidade e transições de fase em óxidos nanométricos"],
                  consultings: ["Sem informações"]},
                  
                  
                  
                  
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Doutor",
                  picture: assets+"img/professores/profEduardoFrancoDeMonlevade.jpg",
                  page: "eduardo-franco-monlevade/",
                  name: "Eduardo Franco de Monlevade",
                  phone: "+55 (11) 3091-5637",
                  fax: "+55 (11) 3091-5243",
                  email: "monlevade@usp.br",
                  lattes: "http://lattes.cnpq.br/7284378967180905",
                  academic_backgroud: [{year: "2008 - 2012", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br/" },
                                       {year: "2000 - 2002", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" },
                                       {year: "1995 - 1999", title: "Graduação", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Transformações de fases em metais",
                             "Conformação mecânica de metais",
                             "Análise de falha",
                             "Cobre e suas ligas",
                             "Tratamento térmicos de aços",
                             "Aços inoxidáveis duplex."],
                  consultings: ["Sem informações"]},
                  
                  
                  
                  
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Doutor",
                  picture: assets+"img/professores/profElizabethGrilloFernandes.jpg",
                  page: "elizabeth-grillo-fernandes/",
                  name: "Elizabeth Grillo Fernandes",
                  phone: "+55 (11) 3091-5235",
                  fax: "+55 (11) 3091-5243",
                  email: "bethgrillo@usp.br",
                  lattes: "http://lattes.cnpq.br/7230889846824050",
                  academic_backgroud: [{year: "1995 - 1997", title: "Pós Doutorado em Materiais Poliméricos Bioativos para Aplicações Biomédicas e Embalagens", university: "Università di Pisa - DCCI - BIOLAB - Itália", link: "https://www.unipi.it/index.php/english" },
                                       {year: "1989 - 1994", title: "Doutorado em Química Analítica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br/" },
                                       {year: "1979 - 1984", title: "Mestrado em Ciência e Tecnologia de Polímeros", university: "Instituto de Macromoléculas Professora Eloisa Mano, IMA-UFRJ, Brasil", link: "https://www.ima.ufrj.br/" },
                                       {year: "1972 - 1976", title: "Graduação em Engenharia Química", university: "Universidade do Estado do Rio de Janeiro, UERJ, Brasil", link: "https://www.uerj.br/" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Misturas poliméricas e compósitos (escalas nano e macro)",
                             "Biomateriais",
                             "Reciclagem",
                             "Embalagens",
                             "Plásticos oxo-biodegradáveis",
                             "Células fotovoltaicas orgânicas",
                             "Membranas poliméricas",
                             "Análise térmica"],
                  consultings: ["Sem informações"]},
                  
                  
                  
                  
                  
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associado",
                  picture: assets+"img/professores/profFernandoJoseGomesLandgraf.jpg",
                  page: "fernando-jose-gomes-landgraf/",
                  name: "Fernando José Gomes Landgraf",
                  phone: "+55 (11) 3091-5695",
                  fax: "+55 (11) 3091-5243",
                  email: "f.landgraf@usp.br",
                  lattes: "http://lattes.cnpq.br/4577368078511565",
                  academic_backgroud: [{year: "1988 - 1992", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br/" },
                                       {year: "1981 - 1987", title: "Mestrado em Engenharia Metalúrgica", university: "Instituto de Macromoléculas Professora Eloisa Mano, IMA-UFRJ, Brasil", link: "https://www.ima.ufrj.br/" },
                                       {year: "1972 - 1976", title: "Graduação em Engenharia Metalúrgica", university: "Fundação Educacional Inaciana Padre Sabóia de Medeiros, FEI, Brasil", link: "https://www.fei.edu.br/" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Laminação e processamento de materiais particulados de aços elétricos",
                             "Imãs aglomerados",
                             "Pesquisa da relação entre processamento, microestrutura e textura cristalográfica e propriedades magnéticas"],
                  consultings: ["Sem informações"]},
                  
                  
                  
                  
                  { status: "active",
                    laboratory : { name: "Nome Laboratório", link: "#" },
                    category: "Doutor",
                    picture: assets+"img/professores/profFlavioBeneduceNeto.jpg",
                  page: "flavio-beneduce-neto/",
                  name: "Flávio Beneduce Neto",
                  phone: "+55 (11) 3091-XXXX",
                  fax: "+55 (11) 3091-5243",
                  email: "beneduce@usp.br",
                  lattes: "http://lattes.cnpq.br/4577368078511565",
                  academic_backgroud: [{year: "1998 - 2002", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br/" },
                                       {year: "1984 - 1990", title: "Mestrado em Engenharia Metalúrgica", university: "Instituto de Macromoléculas Professora Eloisa Mano, IMA-UFRJ, Brasil", link: "https://www.ima.ufrj.br/" },
                                       {year: "1977 - 1982", title: "Graduação em Engenharia Metalúrgica", university: "Fundação Educacional Inaciana Padre Sabóia de Medeiros, FEI, Brasil", link: "https://www.fei.edu.br/" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Redução carbotérmica de óxidos",
                             "Redução metalotérmica",
                             "Produção e refino de metais e ligas",
                             "Fusão de Ti por EB"],
                  consultings: ["Sem informações"]},
                  
                  
                  
                  
                  { status: "active",
                    laboratory : { name: "Nome Laboratório", link: "#" },
                    category: "Doutor",
                    picture: assets+"img/professores/profFranciscoRolandoValenzuelaDiaz.jpg",
                  page: "francisco-rolando-valenzuela-diaz/",
                  name: "Francisco Rolando Valenzuela Diaz",
                  phone: "+55 (11) 3091 5236 / +55 (11) 3091 2225",
                  fax: "+55 (11) 3091-5243",
                  email: "beneduce@usp.br",
                  lattes: "http://lattes.cnpq.br/3539158603053300",
                  academic_backgroud: [{year: "1990 - 1994", title: "Doutorado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br/" },
                                       {year: "1979 - 1983", title: "Mestrado em Engenharia Química", university: "Instituto de Macromoléculas Professora Eloisa Mano, IMA-UFRJ, Brasil", link: "https://www.ima.ufrj.br/" },
                                       {year: "1971 - 1976", title: "Graduação em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Incorporação de resíduos em matrizes poliméricas e cerâmicas",
                             "Obtenção e caracterização de argilas organofílicas",
                             "Nanocompósitos  políméricos",
                             "Nanocompósitos de sílica / materiais carbonáceos",
                             "Argilas naturais ativadas com ácidos",
                             "Argilas esmectitas organofílicas como absorventes de substâncias tóxicas e de conservação ambiental"],
                  consultings: false},
                  
                  
                  
                  
                  { status: "active",
                    laboratory : { name: "Nome Laboratório", link: "#" },
                    category: "Doutor",
                    picture: assets+"img/professores/profGuilhermeFredericoBernardoLenzESilva.jpg",
                  page: "guilherme-frederico-bernardo-lenz-e-silva/",
                  name: "Guilherme Frederico Bernardo Lenz e Silva",
                  phone: "+55 (11) 3091-5494",
                  fax: "+55 (11) 3091-5243",
                  email: "guilhermelenz@usp.br",
                  lattes: "http://lattes.cnpq.br/3539158603053300",
                  academic_backgroud: [{year: "2014 - 2015", title: "Pós-Doutorado School of Engineering ", university: "LEHN - Brown University, Providence, USA", link: "https://www.brown.edu/research/labs/environmental-health-nanoscience/" },
                                       {year: "2006 - 2007", title: "Pós-Doutorado Department of Materials", university: "Imperial College London, Reino Unido", link: "https://www.imperial.ac.uk/engineering/departments/materials/" },
                                       {year: "2005 - 2007", title: "Pós-Doutorado Department of Materials Science and Enginering", university: "The University of Sheffiled, Reino Unido ", link: "http://www.sheffield.ack.uk/" },
                                       {year: "2000 - 2004", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br/" },
                                       {year: "2008 - 2008", title: "Especialização em Engenharia de Segurança do Trabalho", university: "Universidade Federal de Minas Gerais, UFMG, Brasil", link: "http://www.ufmg.br/" },
                                       {year: "1999 - 2000", title: "Especialização em Especialização em Gestão e Tecnologias Ambientais (MBA-PECE USP)", university: "Universidade de São Paulo, USP, Brasil", link: "https://www.usp.br/" },
                                       {year: "1991 - 1996", title: "Graduação em Engenharia Metalúrgica", university: "Universidade Federal de Minas Gerais, UFMG, Brasil", link: "https://www.ufmg.br/" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Metariais refratários",
                             "Otimização de processos metalúrgicos",
                             "Metalurgia extrativa do boro",
                             "Sintese de carbetos, boretos e SIALON's",
                             "Métodos multicriteriais e multiobjetivos para tomada de decisões em nanotecnologia (HSEnano)",
                             "Processos de reciclagem e tecnologias ambientais",
                             "Gerenciamento de segurança e saúde ocupacional em novas nanotecnologias",
                             "Síntese de nanomateriais baseados em carbono (nanotubos de carbono, grafeno e negro de fumo)",
                             "Desenvolvimento de propantes cerâmicos sintéticos",
                             "Desenvolvimento de geopolímeros para isolamento acústico e térmico"],
                  consultings: ["VALE - Avaliação Técnica do Projeto do Forno Elétrico de Ferro-Niquel - Ourilândia do Norte/PA",
                                "CBMM - Serviços de Caracterização de Calorimetria Termodiferencial por Varredura de Ligas de Níquel-Ferro-Nóbio e Otimização de Escórias de Refino para a Produção de Ferro-Nóbio",
                                "VOTORANTIM METAIS, SENAI-CETEC E CLARIANT - Projeto Propantes",
                                "VOTORANTIM METAIS - Avaliação do Comportamento dos Materiais Refratários, do Forno Elétrico de Refino de Escória de Faialítica de Níquel, Simulação Térmica e Estudos de Recuperação de Níquel de Lamas Ácidas",
                                "SANTANDER - Definição de Indicadores Desempenho Ambientais"]},
                                
                                
                                
                                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Titular",
                  picture: assets+"img/professores/profHelioGoldestein.jpg",
                  page: "helio-goldenstein/",
                  name: "Hélio Goldenstein",
                  phone: "+55 (11) 3091-5460",
                  fax: "+55 (11) 3091-5243",
                  email: "hgoldens@usp.br",
                  lattes: "http://lattes.cnpq.br/7081512949222824",
                  academic_backgroud: [{year: "1978 - 1983", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"},
                                       {year: "1974 - 1978", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1968 - 1973", title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Transformações de fases em materiais",
                             "Relações entre microestrutura e as propriedades dos materiais",
                             "Sinterização",
                             "Caracterização microestrutural",
                             "Resistência à fratura",
                             "Tratamentos térmicos."],
                  consultings: false },
                 
                 
                 
                 
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associado",
                  picture: assets+"img/professores/profHelioWiebeck.jpg",
                  page: "helio-wiebek/",
                  name: "Hélio Wiebeck",
                  phone: "+55 (11) 3091-XXXX",
                  fax: "+55 (11) 3091-5243",
                  email: "xxx@usp.br",
                  lattes: "http://lattes.cnpq.br/7345295932741797",
                  academic_backgroud: [{year: "1988 - 1993", title: "Doutorado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"},
                                       {year: "1982 - 1987", title: "Mestrado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1970 - 1973 ", title: "Graduação em Engenharia Química", university: "Universidade Federal Rural do Rio de Janeiro, UFRRJ, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Reciclagem",
                             "PVC",
                             "Resíduos",
                             "PVB",
                             "Plastisol",
                             "Materiais de alto desempenho",
                             "Nanocompósitos"],
                  consultings: false },               
                
                
                
              
                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Doutora",
                  picture: assets+"img/professores/profIvetteFridaCymbaumOppenheim.jpg",
                  page: "ivette-frida-cymbaum-oppenheim/",
                  name: "Ivette Frida Cymbaum Oppenheim",
                  phone: "+55 (11) 3091-XXXX",
                  fax: "+55 (11) 3091-5243",
                  email: "xxx@usp.br",
                  lattes: "http://lattes.cnpq.br/0844638168763671",
                  academic_backgroud: [{year: "1981 - 1988", title: "Doutorado", university: "Wayne State University, W.S.U., Estados Unidos", link: "http://wayne.edu"},
                                       {year: "1979 - 1981", title: "Mestrado em Física", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1972 - 1976", title: "Graduação em Bacharelado em Física", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Tecnologia da educação",
                             "Desenvolvimento de animações computadorizadas interativas abordando as questões de ciência e engenharia de materiais",
                             "Processamento de filmes finos de PVD (espessuras de 10 a 100 nm) com análise de propriedades do mesmo"],
                  consultings: false },                                
                                
                 
                 
                 
                 
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associado",
                  picture: assets+"img/professores/profMarceloBredaMourao.jpg",
                  page: "marcelo-breda-mourao/",
                  name: "Marcelo Breda Mourão",
                  phone: "+55 (11) 3091-5465",
                  fax: "+55 (11) 3091-5243",
                  email: "mbmourao@usp.br",
                  lattes: "http://lattes.cnpq.br/1599148636050115",
                  academic_backgroud: [{year: "1984 - 1988", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"},
                                       {year: "1978 - 1981", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1978 - 1981", title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Redução em fase líquida",
                             "Self-reducing pellets",
                             "Metallothermic processes",
                             "Processos de refinamento",
                             "Cinética de reações em altas temperaturas"],
                  consultings: false },               
                                
                                
                                
                                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associado",
                  picture: assets+"img/professores/profMarceloDeAquinoMartorano.jpg",
                  page: "marcelo-aquino-martorano/",
                  name: "Marcelo de Aquino Martorano",
                  phone: "+55 (11) 3091-XXXX",
                  fax: "+55 (11) 3091-5243",
                  email: "martoran@usp.br",
                  lattes: "http://lattes.cnpq.br/1599148636050115",
                  academic_backgroud: [{year: "2000 - 2002", title: "Pós-Doutorado em Engenharia Mecânica", university: "The University of Iowa, EUA ", link: "http://www.uiowa.edu"},
                                       {year: "1994 - 1998", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1986 - 1990", title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Solidificação de Metais",
                             "Modelagem Matemática de Processos de Engenharia Metalúrgica e de Materiais",
                             "Fenômenos de Transporte em  Processos de Engenharia Metalúrgica e de Materiais"],
                  consultings: false },




                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Doutor",
                  picture: assets+"img/professores/profSamuelMarcioToffoli.jpg",
                  page: "samuel-marcio-toffoli/",
                  name: "Samuel Marcio Toffoli",
                  phone: "+55 (11) 3091-5693",
                  fax: "+55 (11) 3091-5243",
                  email: "toffoli@usp.br",
                  lattes: "http://lattes.cnpq.br/9850742143026768",
                  academic_backgroud: [{year: "1991 - 1996", title: "Doutorado em Ceramic Science and Engineering", university: "The State University of New Jersey - New Brunswick, RUTGERS, Estados Unidos", link: "http://www.rutgers.edu"},
                                       {year: "1991 - 1994", title: "Mestrado em Ceramic Science and Engineering", university: "The State University of New Jersey - New Brunswick, RUTGERS, Estados Unidos", link: "http://www.rutgers.edu"}, 
                                       {year: "1987 - 1991", title: "Mestrado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       {year: "1979 - 1986", title: "Graduação em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" }],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Vidros",
                             "Cerâmicas tradicionais",
                             "Tecnologia de argilas",
                             "Resíduos industriais inorgânicos",
                             "Fillers inorgânicos para polímeros"],
                  consultings: false },
                
                
                
                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Titular",
                  picture: assets+"img/professores/profSergioDuarteBrandi.jpg",
                  page: "sergio-duarte-brandi/",
                  name: "Sérgio Duarte Brandi",
                  phone: "+55 11 3091 5475",
                  fax: "+55 (11) 3091-5243",
                  email: "sebrandi@usp.br",
                  lattes: "http://lattes.cnpq.br/5435032272754548",
                  academic_backgroud: [{ year: "1988 - 1992", title: "Doutorado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"},
                                       { year: "1982 - 1988", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       { year: "1976 - 1982", title: "Graduação em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"}],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Soldagem e junção de materiais",
                             "Transformações de fases durante a soldagem e a junção",
                             "Soldagem multipasse de aços",
                             "Soldabilidade do alumínio e ligas",
                             "Aços de elevado desempenho: ARBL, AHSS, ligados ao níquel e  P91 entre outros.",
                             "Aços inoxidáveis (austeníticos, ferríticos, martensíticos, duplex, duplex 'lean' , super duplex e hiper duplex.",
                             "Física da soldagem",
                             "Brasagem metal/metal e metal/cerâmica",
                             "Molhamento e espalhamento de metais líquidos em metais sólidos",
                             "Soldagem para aplicações em eletrônica",
                             "Soldagem FSW",
                             "Soldagem a arco elétrico"],
                  consultings: ["Consultoria em análise de falhas de juntas soldadas",			
                                "Consultoria em processos de soldagem",			
                                "Coordenador curso de especialização em Engenharia de Soldagem"] },

                                
                                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Doutora",
                  picture: assets+"img/professores/profTicianeSanchesValera.jpg",
                  page: "ticiane-sanches-valera/",
                  name: "Ticiane Sanches Valera",
                  phone: "+55 11 3091-5470",
                  fax: "+55 (11) 3091-5243",
                  email: "xxx@usp.br",
                  lattes: "http://lattes.cnpq.br/5435032272754548",
                  academic_backgroud: [{ year: "2002 - 2005", title: "Doutorado em Engenharia Metalúrgica e de Materiais", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"},
                                       { year: "1998 - 2000", title: "Mestrado em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       { year: "1992 - 1997", title: "Graduação em Engenharia Química", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br"}],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Blendas poliméricas",
                             "Compósitos e nanocompósitos",
                             "Argilas",
                             "Reologia"],
                  consultings: false },
                                
                                
                                
                                
                { status: "active",
                  laboratory : { name: "Nome Laboratório", link: "#" },
                  category: "Associada",
                  picture: assets+"img/professores/profWangShuHui.jpg",
                  page: "wang-shu-hui/",
                  name: "Wang Shu Hui",
                  phone: "+55 11 3091-XXXX",
                  fax: "+55 (11) 3091-5243",
                  email: "xxx@usp.br",
                  lattes: "http://lattes.cnpq.br/7984507949644750",
                  academic_backgroud: [{ year: "1989 - 1995", title: "Doutorado em Ciência e Tecnologia de Polímeros", university: "Universidade Federal do Rio de Janeiro, UFRJ, Brasil", link: "http://www.ufrj.br"},
                                       { year: "1981 - 1986", title: "Mestrado em Engenharia Metalúrgica", university: "Universidade de São Paulo, USP, Brasil", link: "http://www.usp.br" },
                                       { year: "1975 - 1979", title: "Graduação em Engenharia Química", university: "Universidade Federal do Rio de Janeiro, UFRJ, Brasil", link: "http://www.ufrj.br"}],
                  modules: { undergraduation: [{ name: "", link: "" }, 
                                               { name: "", link: "" }],
                             graduation:      [{ name: "", link:"" },
                                               { name: "", link:"" }]},
                  research: ["Blendas poliméricas",
                             "Compósitos e nanocompósitos",
                             "Argilas",
                             "Reologia"],
                  consultings: false },                
                                
                                
              ]
