extends ../base.jade

block home
  - var home_path = "../../"
  
block stylesheet
  - var stylesheet = "graduacao-administracao.min.css"
  
block page-title
  - page_title = "Administração - " + page_title

block breadcrumbs-path
  -
    breadcrumbs_path = {"Home"   : home_path,
                        "Graduação" : home_path + paths[page_name],
                        "Administração" : false}

block content

  .graduacao-administracao
    .container
      .session
        h1.session-title
          | Administração
        p.session-body
          | A coordenação dos cursos de Engenharia Metalúrgica e de Materiais é eleita a cada X anos durante reunião lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales sollicitudin justo, euismod elementum urna congue vitae. Sed turpis nisl, faucibus nec lacus vitae, fringilla ullamcorper neque. In hendrerit laoreet turpis, ac scelerisque sapien finibus quis
        br/
        h2.session-subtitle
          | Coordenação - Chefia PMT
        h2.session-subtitle
          | CoC Materias/Metalurgia
        h2.session-subtitle
          | CPG - PMT 
        h2.session-subtitle
          | Congregação da Escola Politécnica da USP
           
              
