extends ../base.jade

block home
  - var home_path = "../../"
  
block stylesheet
  - var stylesheet = "graduacao.min.css"
  
block page-title
  - page_title = strings.breadcrumbs.estagio + " - " + page_title

block breadcrumbs-path
  -
    breadcrumbs_path = {}
    breadcrumbs_path[strings.breadcrumbs.home] = home_path
    breadcrumbs_path[strings.breadcrumbs.graduacao] = home_path + "graduacao/index.html"
    breadcrumbs_path[strings.breadcrumbs.estagio] = false

block content

  .graduacao-programa
    .container
      .session
        h1.session-title
          != strings.undergrad.estagio.estagio
        
        p.session-body
          != strings.undergrad.estagio.estagioTexto
           
        p.session-subtitle
          != strings.undergrad.estagio.regulamentacao
        p
          ul
            li
              a(href="http://www.poli.usp.br/pt/ensino/graduacao/aluno/atendimento-ao-aluno/estagios/informacoes-para-o-aluno/149-orientacoes-gerais.html" target="_blank")
                span.field-body  
                  != strings.undergrad.estagio.orientacoes
              span(class="external-link glyphicon glyphicon-new-window") 
            li
              a(href="http://www.planalto.gov.br/ccivil_03/_Ato2007-2010/2008/Lei/L11788.htm" target="_blank")
                span.field-body  
                  != strings.undergrad.estagio.leiEstagio
              span(class="external-link glyphicon glyphicon-new-window")

            li
              a(href="http://www.leginf.usp.br/?resolucao=resolucao-no-5528-de-18-de-marco-de-2009" target="_blank")
                span.field-body  
                  != strings.undergrad.estagio.graduacao
              span(class="external-link glyphicon glyphicon-new-window")

            li
              a(href="http://www.leginf.usp.br/?resolucao=resolucao-no-6090-de-26-de-marco-de-2012" target="_blank")
                span.field-body  
                  != strings.undergrad.estagio.concessao
              span(class="external-link glyphicon glyphicon-new-window")

            li
              a(href="http://www.poli.usp.br/images/stories/media/download/estagios/regulamentacao-estagios-poli.pdf" target="_blank")
                span.field-body  
                  != strings.undergrad.estagio.regulamentacao
              span(class="external-link glyphicon glyphicon-new-window")
        
