-
  var strings = { 
    
    menu: {
      nomeDepartamento: "DEPARTMENT OF METALURGICAL AND MATERIALS ENGINEERING",
      poli: "POLYTECHNIC SCHOOL OF THE UNIVERSITY OF SÃO PAULO"
    },
    
    breadcrumbs: {
      home: "Home",
      departamento: "The Department",
      graduacao: "Undergraduate",
      estagio: "Internship",
      tf: "Final Year Project",
      diversos: "Misc",
      sitesLinks: "Sites & External Links",
      noticias: "News",
      equipe: "People",
      apoio: "Support Staff",
      docentes: "Faculty",
      extensaoCultura: "Extension and Culture",
      laboratorios: "laboratories",
      pesquisa: "Research",
      posgrad: "Graduate",
      internacionalizacao: "Internacionalization",
      modulo_vermelho: "Red Module & Pre-Master Degree"
    },
    
    templates: {
      main: {
        pageName: "The Department"
      }
    },
    
    home: {
      materials: "Materials Engineering",
      materialsInfo: "The revolution that has occurred in recent years in the field of materials science and engineering, manifested by important technological innovations in practically all sectors of human activity, and particularly in computing, telecommunication, transportation and health, has led most universities and institutions to broaden the scope of action in this field.<br/><br/>The development of Materials Engineering has been very strong in the area of nanomaterials, defined as materials consisting of grains or particles with morphological aspects smaller than one tenth of a micrometer in at least one dimension.<br/><br/>The field of activity of the Materials Engineer covers the metallic, polymeric, ceramic and composite materials in the characterization aspects of properties, manufacturing processes and applications, as well as the analysis, creation and development of new products.<br/><br/>Alongside the study of materials themselves, understanding the fundamentals of manufacturing processes is essential. The materials are the resources through which the most diverse engineering projects are implemented, in which the Materials Engineer finds a wide field of action. In this way, students of the course acquire theoretical and practical knowledge that emphasize the relationships between microstructure, processing, properties and the consequent performance of the material in service.",
      metallurgical: "Metallurgical Engineering",
      metallurgicalInfo: "With more than 50 years in the field of brazilian metallurgical, the Department of Materials and Metallurgical Engineering has achieved a leading position, becoming a center of high level human resources formation. This fact is reinforced by the elevated number of alumni holding high state positions not only in the industry but also in Reasearch & Development areas.<br/><br/>The Department's alumni has been participating in governmental planning institutions and technical associations, responsible for the growth and development in the domestic metallurgy industry. The Metallurgical Engineer covers an extense field including primary production processes and the refinery of metals and metallic alloys, metals primary production, parts finishing and components assembly.<br/><br/>The metallurgical engineering covers three fields:<ul><li class='session-body'><strong>Extractive metallurgy:</strong> primary production processes and the refinery of metals and metallic alloys</li><li class='session-body'><strong>Transformation metallurgy:</strong> mechanical conformation, casting, thermal treatment, surface treatments, welding and dust metallurgy</li><li class='session-body'><strong>Physical metallurgy:</strong> deals with the characteristics of the material</li></ul>",
      contact: "Contact",
      contactInfoUndergraduate: "Any doubts about <strong>undergraduate</strong> courses? Talk to",
      contactInfoGraduate: "Any doubts about <strong>graduate</strong> courses? Talk to",
      phone: "Phone:",
      contactTime: "Monday-Friday from 8h to 11h and 12h30to 16h30.",
      address: "Address"
    },
    
    department: {
      overview: {
        overview: "Overview",
        clockSquare: "Clock Square - Cidade Universitária - São Paulo/SP",
        usp: "University of São Paulo",
        uspText1: "After São Paulo was defeated in the 1932 revolution, the State realized it needed to create a new elite capable of contributing to the enhancement of the institutions, the government and the country as a whole. With this in mind a group of entrepeneurs founded the Escola Livre de Sociologia e Política (ELSP) (the current Fundação Escola de Sociologia e Política de São Paulo) in 1933, and the intervenor of São Paulo (a position which corresponded to governor at the time), Armando Salles de Oliveira, created the Universidade de São Paulo (USP) in 1934. USP arose from the union of the recently created Faculdade de Filosofia, Ciências e Letras (FFCL) with the existing Escola Politécnica São Paulo, the Escola Superior de Agricultura (Luiz de Queiroz), the Faculdade de Medicina, the Faculdade de Direito and the Faculdade de Farmácia and Odontologia.",
        uspText2: "Universidade de São Paulo is the most important institution of higher education in Brazil. USP is a public university, maintained by the State of São Paulo and connected to the State Secretariat for Economic, Scientific and Technological Development.",
        uspText3: "Each year around 130,000 students seek university entrance exams (Vestibular) to compete for the more than 10,000 vacancies at USP, making it the most fiercely disputed vestibular in the country. USP boasts 89,000 registered students (among undergraduate and graduate), 16,000 staff members, 5,800 professors, 246 undergraduate courses and 225 graduate courses at the 42 teaching and research units located on 8 campuses (São Paulo, Bauru, Lorena, Piracicaba, Pirassununga, Ribeirão Preto, Santos and São Carlos).",
        uspText4: "Universidade de São Paulo is responsible for around 30% of the Brazilian scientific production and the highest number of PhD graduates in the world, according to the Academic Ranking of World Universities compiled by the Center for World-Class Universities (CWCU) of the Shanghai Jiao Tong University in China (2012). These figures do not merely represent quantity, as the talent and dedication of the instructors, students and members of staff have been acknowledged by different global rankings, which regard USP as the most important teaching and research institution in Brazil and Latin America.",
        uspText5: "Some of the most important rankings to have acknowledged USP are: Shanghai Jiao Tong University; the Times; Performance Ranking of Scientific Papers for World Universities of the Higher Education Evaluation & Accreditation Council of Taiwan, and the Webometrics Ranking of World Universities.",
        uspText6: "This performance, achieved throughout more than 75 years of an unfaltering quest for excelence, enables USP (founded in 1934) to form part of a select group of world-standard institutions.",
        poli: "Polytechnic School",
        poliText1: "Escola Politécnica at Universidade de São Paulo (Poli-USP) boasts over a century of history, turning out generations of engineers who have excelled not only in their own personal fields, but also in the political life of the country and the running of corporations and public entities. Founded in 1893, the erstwhile Escola Politécnica de São Paulo was first based in the building named Solar Marquês de Três Rios. Over time, there was a significant rise in the demand for technical professions and an increase in the number of professors and students, resulting in the need to hire certain well-known international names from the field of engineering. This also led to the expansion of the School's facilities and the construction of the Paula Souza building, concluded in 1899, which also housed the research laboratories and educational workshops. Escola Politécnica became a part of USP in 1934 and was transferred to the University Campus in the 1960s. Today, Escola Politécnica is a national benchmark and considered to be the most complete faculty of engineering in Latin America.<br><br>Escola Politécnica occupies around 141,500 m<sup>2</sup> in nine buildings on the University Campus in São Paulo. 457 professors, 478 members of staff, 4,500 undergraduate students and 2,500 graduate students either work or study at the school (2012). It is divided into 15 departments involved in teaching, research and community services.<br><br>17 graduate courses are available. 15 of these courses - Environmental Engineering, Civil Engineering, Electrical Engineering (focusing on Computing, Automation and Control, Energy and Automation, Telecommunications or Electronic Systems), Materials Engineering, Mechanical Engineering, Mechatronic Engineering, Metallurgical Engineering, Mining Engineering, Naval Engineering, Petroleum Engineering, and Industrial Engineering - are six-monthly, and the remaining 2 - Computing Engineering and Chemical Engineering - are different from the others: these courses are scheduled in quarterly periods and held in partnership with companies.<br><br>Escola Politécnica also offers ten Master's courses, nine PhD courses and one professional Master's course. Around 7,000 Master's and PhD degrees were awarded between 1970 and 2006. 235 Master's and 125 PhD degrees were awarded in 2012, placing the school among the biggest graduate institutions in the country and the biggest in the field of engineering.<br><br>Escola Politécnica has cooperation programs with dozens of foreign research and education institutions, amongst them France, Italy, Germany, Korea, Spain and USA institutions, which enable its students to make international exchange. Escola Politécnica offers three kinds of exchange programmes: Double Degree; Non-Degree Studies and Academic Internship.",
        bienio: "College Building - Polytechnic School - São Paulo/SP"
      },
      ourHistory: {
        ourHistory: "Our History",
        pmtSubtitle: "Materials and Metalurgical Engineering building - Polytechnic School - São Paulo/SP",
        history: "Background",
        historyText1: "The founding of Escola Politécnica and the concern in relation to doing and finding out why led to the opening of the first foundry geared to student's work in 1902. This foundry's cupola furnace (cubilot), a symbol of this spirit, is currently displayed in the entrance hall to the Department of Metallurgical and Materials Engineering. This concern, geared to the experimental bases of teaching, stems from the engineering schools of Germany, Switzerland and the USA. The foundry was opened by the founder of the Polytechnic School, Antônio Francisco de Paula Souza.<br><br>Metallurgical engineering began to be taught at Escola Politécnica in 1939. The original undergraduate course encompassed the area of mining engineering and had a duration of six years. In 1955, Metallurgical engineering and Mining engineering were split into two independent five-year courses. Therefore, it was from Europe and the USA that the department adopted the concept of long-term professional teaching of engineering, featuring, in addition to basic and engineering sciences, engineering projects and practices, as well as socio-economic sciences, taught in an applied perspective.<br><br>The Metallurgical Engineering Graduate Program was implemented in 1969 at Masters and PhD levels. In 1972, the department became the first in the field of engineering to be accredited by the Federal Education Council.<br><br>As from the late 1980s, the faculty, made up largely of part-time professors, began to gradually comprise full-time teaching and research professors with modern scientific academic qualifications. In 1990, the scope of the graduate program was expanded to graduate in metallurgical and materials engineering, and in 1995 the materials engineering graduation course was introduced, with the aim of accompanying the revolution taking place in the field of materials."
      },
      pmt: {
        pmt:"The PMT",
        pmtText1: "The Department of Metallurgical and Materials Engineering (PMT) is responsible for teaching materials and metallurgical engineers at Escola Politécnica. The department is located in its own building and covers an area of 6,700 m<sup>2</sup>. The laboratories occupy an area of around 2,500 m<sup>2</sup> and the library 261 m<sup>2</sup> (which has 5830 books and 556 thesis or dissertations), the remainder being divided among the mechanical workshop, computer room, classrooms, amphitheater, staff rooms and secretarial offices. The Department holds covenants with private and state companies and development agencies, as a means of conducting research, consultancy services, continuous education courses and training activities geared to the recycling of the expertise of professionals working in the area of metallurgical and materials engineering. The Department of Metallurgical and Materials Engineering employs 25 professors, 5 of which are full professors. 3 retired professors still work at the Department (2 of which full professors). Many of the professors are in charge of laboratories, which encompass active engineering research groups.<br/><br/> The metallurgical engineering and materials engineering undergraduate courses are five years long. Basic scientific formation in engineering sciences is achieved after two years. The 3rd year of the course begins to focus on the areas of metallurgy and materials, and both undergraduate courses share the same curriculum. In the final two years of the courses, each area follows a specific technical and technological-based curriculum aimed at producing professionals with a high analytical capacity, capable of solving problems, working in teams and possessing a spirit of leadership and innovation. PMT also offers Master's and PhD strictu-sensu graduate courses in the area of metallurgical and materials engineering. The goal of the programs is to produce first-class human resources, particularly professors and researchers.",
        pmtSubtitle: "Materials and Metalurgical Engineering building - Polytechnic School - São Paulo/SP",
        externalLinks: "External links about the department",
        link1: "Department's Instutional Video (2013)",
        link2: "PMT page at exame.com",
        link3: "PMT at facebook",
        link4: "Article about Metalurgical Engineering at &quot;guia do estudante&quot;",
        link5: "Article about Material Engineering at &quot;guia do estudante&quot;"
      },
      mission: {
        mission: "Mission",
        missionText: "The mission of Metallurgical and Materials Engineering Department at Polytechnic School is to build human resource for excellence at <strong> Metallurgical and Materials Engineering</strong>, as well to consolidate the knowledge to the country's sustainable growth."
      },
      vision: {
        vision: "Vision",
        visionText: "The vision of Metallurgical and Materials Engineering Department at Polytechnic School is to be a center of global excellence in teaching, research and extension at <strong>Metallurgical and Materials Engineering</strong>"
      },
      admin: {
        admin: "Head Office",
        adminText1: "Head of Department: ",
        adminText2: "Vice-Head of Department: ",
        adminText3: "Department Secretary: ",
        adminText4: "Commission for Metallurgical and Materials Engineering Courses Coordination",
        adminText5: "Commission for Metallurgical and Materials Engineering Graduation Courses Coordination",
        adminText6: "Representatives at Research Commission - EPUSP",
        adminText7: "Representatives at Culture and Extension Commission - EPUSP",
        adminText8: "Department Council",
        adminText9: "Full Professors",
        adminText10: "Associate Professors Representatives (mandate 21/10/2015 to 20/10/2017)",
        adminText11: "Doctor Professors Representatives (mandate 30/03/2015 to 29/03/2017)",
        adminText12: "Student Representatives",
        adminText13: "Staff Representatives"
      },
      contact: {
        contact: "Contact",
        contactText1: "Department of Metallurgical and Materials Engineering -  Polytechnic School - University of São Paulo",
        contactText2: "Address:<br/>Av. Professor Mello Moraes, 2463<br/>CEP: 05508-030<br/>São Paulo/SP<br/><br/>",
        phone: "Phone: ",
        fax: "Fax: "
         
      }
    },
    
    undergrad: {
      main: {
        informacoes: "Information",
        coordenador: "Coordinator",
        secretaria: "Secretary",
        linksUteis: "Useful Links",
        metalurgica: "Metalurgical Engineering",
        metalurgicaText: "The metallurgy course covers three fields:<ul><li class='session-body'><strong>Extractive metallurgy:</strong> primary production processes and the refinery of metals and metallic alloys</li><li class='session-body'><strong>Transformation metallurgy:</strong> mechanical conformation, casting, thermal treatment, surface treatments, welding and dust metallurgy</li><li class='session-body'><strong>Physical metallurgy:</strong> deals with the characteristics of the material</li></ul><br/><p class='session-body'>Thus, the metallurgical engineer may operate in the processes of the beneficiation of ores, the obtainment of metallic alloys with physical, chemical and metallurgical properties adapted to several different uses and even the obtainment of finished parts and product for use in other industries, with properties adapted to different needs.<br/><br/>In addition to these activities, closely linked to the base industries and the metal-mechanical sector, the scope of responsability of modern-day metallurgical engineers has been expanded considerably in the development and coordination of projects, the selection of materials, quality control, safety, and environmental monitoring.<br/><br/>In the last 20 years around 300 metallurgical engineers have graduated through the Department. 20 vacancies per year are now on offer. The Department of Metallurgical and Materials Engineering at Escola Politécnica holds a noteworthy position in the field of teaching metallurgical engineering, not merely due to the tradition of the same, but for its modernity focused on the creation of first-rate human resources. This fact is underlined by the high number of professionals graduating from this department and occupying top positions in both industry and research and development. No less important is the participation of former students in governmental planning institutions and technical associations, responsible for the growth and development in the domestic metallurgy industry.</p>",
        metalurgicaProgram: "Course Program",
        materiais: "Materials Engineering",
        materiaisText: "The scope of responsability of materials engineers encompasses metallic, polymer and ceramic materials in relation to the characterization of properties, manufacturing processes and applications, in addition to the analysis, creation and development of new products. Besides the analysis of the materials themselves, it is essential to understand the basics of the manufacturing processes, the cornerstones of industrial competitiveness. The materials represent the resources by means of which a wide range of engineering projects are carried out. As such, materials engineers enjoy a broad field of operations, as the course provides them with theoretical and practical expertise which emphasizes the relations between microstructure, processing, properties and the consequent performance of the material in service.<br/><br/>The materials engineering course was introduced at Escola Politécnica in 1995, with the aim of accompanying the revolution which was taking place in the field of materials, reflected in significant technological innovations in practically all the sectors of human activity, and, principally, in those of computer science, telecommunications, transport and health. The employment market for materials engineers covers the field of the supply of raw materials, the transformation industry, the provision of services, technical assistance, advisory services and educational, development, research and scientific and technological institutions. 20 vacancies per year are currently on offer for the materials engineering course at the Department, which differs from the metallurgical engineering course in that it devotes more space to the study of polymer and ceramic materials intead of only courses in the area of metallurgy.",
        materiaisProgram: "Course Program",
        texto1: 'The more than 100 innovation and industrialization laboratories and the possibilities opened by the curricular reform were also pointed out as responsible for classifying the School as the best Brazilian public university. In the evaluation of the superior courses conducted annually by the Student Guide, USP had 121 of its 141 courses classified with five stars, considered the maximum grade. On its website, the Guide published a report on the differentials of Poli-USP, such as Internationalization, which has already trained more than 1,000 students only within the Double Diploma program with partner universities, new disciplines and the possibility to study subjects of different specialties.',
        link1: 'Understand the criteria of the Best Universities Award'
      },
      tf: {
        tf: "Final Year Project",
        normasDiretrizes: "Technical Standards and Guidelines:",
        normasABNT: "ABNT Technical Standards",
        guiaFormatacao: "Final Year Project formatting guide",
        title: "Project Title",
        autor: "Author",
        professor: "Professor Adviser",
        year: "Year"
      },
      estagio: {
        estagio: "Internships",
        estagioTexto: "The undergraduate and graduate students of the Polytechnic School comply with the terms of the New Internship Law - Law 11.788, dated September 25, 2008 and are governed by USP Resolution No. 5.528 (March 18, 2009). The objective of the internship is to provide the complementation of teaching and learning, contituting an instrument of integration in terms of practical training, technical-cultural, scientific and human relationship improvement. The internship can be carried out in the community in general or with legal entities under public or private law, udner the responsability and coordination of the educational institution.<br/><br/>Internships are only allowed for undergraduate students from the third year onwards. The student needs to divide his time between academic and internship activities. In this modality, the internships are divided into non-compulsory (not included in the school curriculum) and compulsory (included in the curriculum, counting as credit for the courses).<br/><br/>Each internship should be planned, conducted, monitored and evaluated taking into account curriculum, programs and course calendars. The working day on an internship must be compatible with the school schedule and with the operation of the company or entity that offers the internship. However, during school holidays, the student may negotiate for a different stage, established in agreement with the grantor.<br/><br/>The Poly student who does an internship in any company or institution must not create employment relationship with it. However, he can receive a scholarship and he must be insured against accidents and receive the social security coverage provided by law.",
        regulamentacao: "Regulation:",
        orientacoes: "General guidelines",
        leiEstagio: "Internships federal law (Federal government, Law no. 11788 from 25th of September, 2008)",
        graduacao: "Undergraduate",
        concessao: "USP's internships concession (Resolution no. 5528 from 18th of March, 2009)",
        regulamentacao: "Regulations of internships"
      },
      internacionalizacao: {
        titulo: 'Internationalization & Graduation Exchange (PMT - Department of Metallurgy & Materials)',
        texto1: 'The Department of Metallurgy and Materials (PMT-POLI / USP) has an intense international insertion in the area of ​​scientific and technological research. Students are supported by the Polytechnic School in exchange participation through various agreements and academic cooperation programs with universities in Europe, the Americas and Australia. The programs includes academic internships, internships in laboratories researches, obtaining a double degree and taking advantage from credits from subjects studied abroad. In addition, laboratories and professors of the Department of Metallurgical and Materials Engineering receive students for the exchange, conducting of research and double diploma, guaranteeing access to research laboratories and an updated, dynamic and internationally acclaimed academic curriculum.',
        texto2: 'See the list of our students and foreign students who participated in exchange in our Department from the year 2013:',
        texto3: 'Some of the Agreements Established by the Polytechnic School for Obtaining a Double Diploma:',
        link0: "Click to view student list",
        link1: 'École Polytéchnique - France',
        link2: 'Écoles Centrales Paris - France',
        link3: 'Écoles Centrales Lille - France',
        link4: 'Écoles Centrales Nantes - France',
        link5: 'Écoles Centrales Lyon - France',
        link6: 'École Nationale des Ponts et Chaussées - France',
        link7: 'École Nationale Supérieure de Chimie - France',
        texto4: 'More Information:',
        link8: 'International Relations EPUSP',
        link9: 'USP International Cooperation Committee',
        link10: 'SVREInt / Poli - Poli\'s International Relations Service'
      },
      modulo_vermelho: {
        titulo: 'Red & Pre-Master Module',
        texto1: 'Red Modules: The choice of a red module by the students will take place in October through the Jupiter System. Below is a summary of the Graduation Committee\'s decisions regarding the "red" specialization modules, both the oldest and the most recent:',
        texto2: 'It will always be guaranteed that a student will have a place to study the module naturally associated with his own course. Thus, in the case of our courses, the student of Metallurgy will always have access to the module "Processing of Ceramic and Polymeric Materials", while the student of Materials will always have a vacancy in the module "Processing of Metallic Materials"',
        texto3: 'Poli\'s various courses will offer, in 2018, 42 modules of specialization and 7 pre-masters. ',
        texto4: 'When you reach 80% of the credits in the curricular structure of your course until the 7th semester, the student will be able to enroll for a module. However, he will not be obliged to do so. ',
        texto5: 'There will be no process of transferring students from one module to another. If the student withdraws from the module in which he / she is enrolled, then he / she should wait for the option period for modules and register as a candidate for the new module, competing on equal terms with the opponents for the first time.',
        texto6: 'If the student is not selected to attend the desired module, then it will not be stopped, because it will always have a guaranteed slot in the module associated with its course.',
        texto7: 'If the student wants, he can make more than one module in the School. However, you will not be able to apply for more than one module simultaneously. Do not forget too that since 2014 the maximum term for graduation is only 7.5 years. At the end of this time in the school the student enters the "Article 76" and has the possibility of having only 3 more approved enrollments - under mentoring - to complete his course. ',
        texto8: 'If the student is selected for a module (the end of the second semester) and then in the next semester he studies abroad ("credit utilization"), then his vacancy in the module will remain assured until he returns to Brazil.',
        texto9: 'On the other hand, if the student is already abroad, his or her enrollment status will be "Studying abroad", which will not allow him to enter the selection process. This is the same treatment given to the student with locked registration or even studying abroad, but in an autonomous way (without Poli\'s authorization or without having undergone an official selection process). ',
        texto10: 'Students in Dual Diploma programs typically attend Poli until the 7th semester (in a few cases, until the 5th semester only). The international agreements that are already being concluded under the EC3 have established that the student of this program that leaves the country after the 7th semester, will study two years abroad, training that will replace the need to take a red module and, when returning, will take only the 8th semester of his course at Poli, after which he graduates with both degrees. So your training will last for 6 years and will not involve red module. ',
        texto11: 'The student studying subjects abroad, that is, in "credit utilization", when returning to Brazil will have two options:',
        texto12: 'If you have studied abroad, disciplines relevant to your module, then it enters with a request for equivalence of disciplines which will be evaluated by the coordinator of the module. The student may have equivalence of disciplines from abroad with disciplines of the module, gaining time to complete it.',
        texto13: 'If the subjects studied abroad do not give equivalence, the student can still ask for their inclusion in the curriculum and they can be valid as free elective subjects. Remember that our courses stipulate a total load of free credits of 23 credits-class',
        texto14: 'The student studying subjects abroad, that is, in "credit utilization", when returning to Brazil will have two options:',
        texto15: 'If you have studied abroad, disciplines relevant to your module, then it enters with a request for equivalence of disciplines which will be evaluated by the coordinator of the module. The student may have equivalence of disciplines from abroad with disciplines of the module, gaining time to complete it.',
        texto16: 'If the subjects studied abroad do not give equivalence, the student can still ask for their inclusion in the curriculum and they can be valid as free elective subjects. Remember that our courses stipulate a total load of free credits of 23 credits-class.'
      }
    },
    
    grad: {
      informacoes: "Information",
      coordenador: "Coordinator: ",
      secretaria: "Secretary: ",
      docs: "Documents & Forms",
      objetivos: "Objectives (Overview, Evolution and Trends)",
      objetivosTexto: "The Metallurgical and Materials Engineering Department ('PMT') of the Polytechnic School of the University of São Paulo ('EPUSP') is responsible for the Metallurgical and Materials Engineering 'strictu-sensu' graduate area, offering Masters and Doctorate graduate programs <a href='https://sucupira.capes.gov.br/sucupira/public/consultas/coleta/programa/viewPrograma.jsf?popup=true&id_programa=981' target='_blank'>with 'CAPES' concept 7</a>.<br/><br/>The main objectives of the program are:<ul class='session-body'><li class='session-body'>Training of high level human resources in the areas of Metallurgical and Materials Engineering</li><li class='session-body'>Training of university professors and researchers</li><li class='session-body'>Training of researchers for public institutions and industrial research centers</li><li class='session-body'>Carrying out scientific and technological research</li></ul><br/><p class='session-body'>The Graduate Program in Metallurgical Engineering at the Polytechnic School of USP in Master and PhD levels was implemented in 1969. In 1972 it became the first to be accredited by the Federal Council of Education in the engineering field. The scope of the Program was extended to Graduation in Metallurgical and Materials Engineering in 1990 and in 1995, a Course Recovery Plan was implemented, which involved the transformation of several aspects of the Program such as reformulation of disciplines, full-time advisors, research organogram into five defined Research Groups and Lines, hiring of new faculty members, number of scholarship students in full-time increase, post-doctorate implementation, new laboratories implantation and reformulation of existing ones.</p>",
      estruturaAcademica: "Academic Structure",
      estruturaAcademicaTexto: "The Program follows the general regulations of the University of São Paulo formalized in the Graduate Regiment; The deliberative organs are the Graduate Council of the University of São Paulo and the Graduate Committee of the Polytechnic School. The executive responsible team is formed by the Graduate Dean, the Graduate Committee President and the Coordinators of each Program.",
      admissao: "Program admission",
      candidatoMestrado: "MA candidates",
      candidatoMestradoTexto: "The candidates must take the entrance examination applied by the Department’s Graduate Program. The exam consists of basic questions about Metallurgical and Materials Engineering. The minimum score required for entrance is 5.0 (five point zero). The candidate has the possibility to apply for a CAPES or CNPq scholarship, depending on the availability. The scholarships will be distributed according the candidates’ performance on the entrance examination.",
      candidatoDoutorado: "PhD candidates",
      candidatoDoutoradoTexto: "The candidates must take the entrance examination applied by the Department’s Graduate Program. The exam consists of basic questions about Metallurgical and Materials Engineering. The minimum score required for entrance is 5.0 (five point zero). The candidates, have the possibility to apply for a CAPES or CNPq scholarship, depending on the availability. The scholarships will be distributed according the candidates’ performance on the entrance examination. The candidates that have already been approved in previous entrance examinations do not need to apply for it again.<br/></br><strong>More information in 'Graduate Program Rules', available in this website.</strong>",
      obtencaoTitulo: "Obtaining the Academic Title",
      obtencaoTituloTexto: "For the Master’s degree, the candidates are required: to obtain the course credits equivalent of five graduate courses, to present the Qualification Exam towards an examining board of three Professors (after a complete paper published in a congress) and to have the Dissertation approved by an examining board of 3 Professors with one of them being necessarily external. For the defense, the student must submit a paper to an international journal. The Master’s students must prove their proficiency in English Language.<br/><br/>Those with the Masters’ degree can obtain the Doctor of Science title after the completion of the course credits equivalent of three postgraduate courses, the approval in the Qualification Exam (after two complete papers published in congress) and the defense of the thesis towards an examining board of five Professors, with two of them being necessarily external. For the defense, the student must submit two papers to an international journal. The Doctorate’s students must prove their proficiency in English Language."
    },
    
    pesquisa: {
      laboratorios: {
        laboratorios: "Laboratories",
        responsavel: "Responsible: ",
        atividades: "Activities: "
      }
    },
    
    extensaoCultura: {
      grupos: "Extension and Culture Groups",
      gruposTexto: "Regarding extension and culture, the Polytechnic School has several programs and projects which make possible strengthening bounds between this institution and the society.",
      apresentacao: "About us",
      video: "Institutional video (Portuguese)",
      polijr: "POLI Jr",
      polijrTexto: "Poli Júnior is located in the very building of Polytechnic School of the University of Sao Paulo, in the <i>Cidade Universitária</i>, which is one of the most recognized institutions in the world. We develop solutions to your project in a customized way, aiming to attend your need and building a close relationship. We have an history of successful projects among many engineering areas, what give us the foundations to guide our activities.<br/>You can found us at the Mechanical Engineering building, where we can arrange meetings to discuss and understand your project. Our office has all the physical and technological infrastructe needed to the members of our team to perform their tasks. In this way, using the proper resources, we can connect kwnoledge, strategy, information and data to create, develop and solve. Keeping in mind that the pursuit of low costs is one of our main goals",
      semm: "SEMM – Semana de Estudos Mínero-Metalúrgicos (Week of Mining and Metalurgical Studies)",
      semmTexto: "SEMM is one of the most traditional events of Poli. For more than five decades, undergraduate students yearly organize a week full of activities, exalting the pride of the mining and metalurgical sectors. There are lectures and workshops conducted by industry professionals, talks regarding relevant topics to the sector and guided tours to main companies. All of this to provide the participants the maturity of their network and the relationship with the industry, besides opening the minds of future engineers to new topics and points of view. In other words, the SEMM invests in the biggest asset an engineer has: his mind and network!",
      cmr: "CRM – Centro Moraes Rego",
      cmrTexto: "Centro Moraes Rêgo (CMR) is the academy center of Material/Metalurgical, Mining and Petroleum Engineering of Polytechnic School of the university of Sao Paulo. Our main objectives are to represent the students interest before the Head Office and others Academy Centers, to provide to the students a pleasant lounge to meet new people, besides academically assisting our students."
    },
    
    equipe: {
      corpoDocente: {
        corpoDocente: "Faculty Members",
        telefone: "Phone: ",
        email: "E-mail: ",
        professor: "Professor: ",
        areaPesquisa: "Research Areas: ",
        template: {
          telefone: "Phone: ",
          email: "E-mail: ",
          laboratorio: "Laboratory: ",
          professor: "Professor: ",
          formacaoAcademica: "Accademic Background",
          disciplinas: "Disciplinas Ministradas no Departamento",
          grad: "Undergraduate",
          posgrad: "Graduate",
          linhaPesquisaConsultorias: "Research Area and Consultings",
          linhaPesquisa: "Research Area",
          consultorias: "Consultings"
        }
      },
      funcionarios: {
        equipeApoio: "Supporting Staff",
        cargo: "Position: ",
        email: "E-mail: ",
        telefone: "Phone: ",
        fax: "Fax: "
      }
    },
    
    diversos: {
      sitesLinks: {
        sitesLinks: "Sites & External Links",
        poli: "Poli USP",
        acervo: "Bibliographic Collection",
        comunidade: "Scientific community, Scientific Search Engines and Accademic Social Networks",
        fundacoes: "Research Support Foundations",
        associacoes: "Brazilian and Latin American Technical and Scientific Associations",
        associacoesEstrangeiras: "Foreign Technical and Scientific Associations",
        engenharia: "Engineering Sites",
        guiaPoli: "POLI's Guide to Services and Activities",
        biblioteca: "Library",
        portalRevistas: "Magazines Portal",
        tesesEDissertacoes: "Theses and Dissertations",
        portalBuscaIntegrada: "USP Integrated Search Portal",
        portalDominioPublico: "Public Domain Portal",
        cnpq: "CNPq: National Council for Scientific and Technological Development",
        capes: "Capes: Coordination for higher Education Staff Development)",
        fapesp: "FAPESP: Research Support Foundation of the State of São Paulo",
        abm: "ABM: Brazilian Metallurgy, Materials and Mining Association",
        abpol: "ABPol: Brazilian Polymers Association ",
        abceram: "ABCeram: Brazilian Ceramics Association ",
        abcarb: "ABCarb: Brazilian Carbon Association ",
        sbpmat: "SBPMat: Brazilian Materials Research Society",
        almaco: "ALMACO: Latin American Association of Composites Materials",
        alafar: "ALAFAR: Latin American Association of Manufacturers of Refractories",
        aep: "AEP: Polytechnic Engineers Association",
        fundoPatrimonial: "Endowenment Fund 'POLI Friends'",
        creasp: "CREA-SP: Regional Council of Engineering and Agronomy of Sao Paulo",
        hsenano: "HSEnano: Nano Health, Safety and Environment Platform"
      },
      noticias: {
        noticias: "News",
        noticiasEInformacoes: "News and Information",
        agenciaUSP:  "USP News Agency",
        servicoComunicacao: "Social Comunication Service POLI-USP",
        graduacao: "Undergraduation",
        proReitoriaGraduacao: "Dean of Undergraduate Studies",
        poliGraduacao: "POLI-USP: Undergraduate",
        intercambio: "Exchange Programs USP & CR-Int",
        programaBolsaIntercambio: "USP: Exchange Program Schoolarships to Undergraduate Students",
        crint: "Comission for International Relations",
        jornalCMR: "CMR Newspaper",
        pesquisa: "Research",
        proreitoriaPesquisa: "USP: Dean of Research",
        poli: "POLI-USP",
        culturaEExtensao: "Culture and Extension",
        proreitoriaCulturaExtensao: "USP: Dean of Culture and Extension",
        poliUspCulturaExtensao: "POLI-USP: Culture and Extension",
        posGraduacao: "Graduate",
        proReitoriaPosGraduacao: "Dean of Graduate Studies",
        poliUspPosGraduacao: "POLI-USP: Graduate",
        escolaPolitecnica: "Polytechnic School",
        poliUspEnsino: "POLI-USP: Education"
      }
    }
  }
