-
  var strings = { 
    
    menu: {
      nomeDepartamento: "DEPARTAMENTO DE ENGENHARIA METALÚRGICA E DE MATERIAIS",
      poli: "ESCOLA POLITÉCNICA DA UNIVERSIDADE DE SÃO PAULO"
    },
    
    breadcrumbs: {
      home: "Home",
      departmento: "O Departamento",
      graduacao: "Graduação",
      estagio: "Estágio",
      tf: "Trabalhos de Formatura",
      diversos: "Diversos",
      sitesLinks: "Sites & Links Externos",
      noticias: "Notícias",
      equipe: "Equipe",
      apoio: "Equipe de Apoio",
      docentes: "Corpo Docente",
      extensaoCultura: "Extensão e Cultura",
      laboratorios: "laboratórios",
      pesquisa: "Pesquisa",
      laboratorios: "Laboratórios",
      posgrad: "Pós-graduação",
      internacionalizacao: "Internacionalizacao",
      modulo_vermelho: "Módulo Vermelho e Pré-Mestrado"
    },
    
    templates: {
      main: {
        pageName: "The Department"
      }
    },
    
    home: {
      materials: "Engenharia de Materiais",
      materialsInfo: "A revolução que nos últimos anos tem ocorrido no campo da ciência e engenharia de materiais, manifestada por importantes inovações tecnológicas em praticamente todos os setores de atividade humana e, particularmente, no de computação, telecomunicação, transporte e saúde tem levado a maioria das universidades e instituições de pesquisa a ampliar o escopo de atuação com relação a esse campo.<br /><br />O desenvolvimento da Engenharia de Materiais tem sido muito forte na área de nanomateriais, definidos como materiais constituídos de grãos ou partículas com aspectos morfológicos menores que um décimo de um micrômetro em pelo menos uma dimensão.<br /><br />O campo de atuação do Engenheiro(a) de Materiais abrange os materiais metálicos, poliméricos, cerâmicos e materiais compósitos, nos aspectos de caracterização de propriedades, processos de fabricação e aplicações, assim como a análise, criação e desenvolvimento de novos produtos.<br /><br />Ao lado do estudo dos materiais em si, é essencial o entendimento dos fundamentos dos processos de fabricação. Os materiais constituem os recursos através dos quais são implementados os mais diversos projetos de Engenharia, nos quais o Engenheiro(a) de Materiais encontra amplo campo de atuação. Deste modo os estudantes do curso adquirem conhecimentos teóricos e práticos que enfatizam as relações entre microestrutura, processa­mento, propriedades e o consequente desempenho do material em serviço.",
      metallurgical: "Engenharia Metalúrgica",
      metallurgicalInfo: "Com mais de 50 anos de existência no campo da metalurgia brasileira, o Departamento de Engenharia Metalúrgica e de Materiais consolidou uma posição de destaque, constituindo-se num dos focos de formação de recursos humanos de alto nível. Esse fato é evidenciado pelo elevado número de profissionais formados por este Departamento ocupando cargos de primeiro escalão tanto na indústria como no campo de pesquisa e desenvolvimento.<br /><br />Seus formados têm tido participação em órgãos de planejamento governamentais e em associações técnicas responsáveis pelo crescimento e desenvolvimento da indústria metalúrgica nacional. A atuação do Engenheiro(a) Metalurgista cobre o extenso campo que vai desde o desenvolvimento e otimização de processos de redução de minérios e produção primária de metais até o acabamento de peças e montagem de componentes.<br /><br />A formação do Metalurgista cobre três campos: metalurgia extrativa (processos de produção primária de metais e refino de metais e ligas metálicas), metalurgia de transformação (conformação mecânica, fundição, tratamentos térmicos, tratamentos superficiais, soldagem, metalurgia do pó, etc.) e metalurgia física (trata dos fenômenos físicos e transformações que ocorrem nos metais e ligas e correlaciona a estrutura dos materiais metálicos com suas propriedades).",
      contact: "Contatos",
      contactInfoUndergraduate: "Alguma dúvida sobre a <strong>graduação</strong>? Entre em contato com a",
      contactInfoGraduate: "Alguma dúvida sobre a <strong>pós-graduação</strong>? Entre em contato com a",
      phone: "Telefone:",
      contactTime: "Segunda a sexta-feira das 08:00 às 11:00 e das 12h30 às 16h30",
      address: "Endereço"
    },
    
    department: {
      overview: {
        overview: "Panorama",
        clockSquare: "Praça do Relógio - Cidade Universitária - São Paulo/SP",
        usp: "Universidade de São Paulo",
        uspText1: "Após São Paulo ter sido derrotado na revolução constitucionalista de 1932, o Estado percebeu a necessidade de criar uma nova elite intelectual capaz de contribuir para o avanço das instituições, do governo e do país como um todo. Com essa ideia em mente um grupo de empreendedores fundaram a Escola Livre de Sociologia e Política (ELSP) (atual Fundação Escola de Sociologia e Política de São Paulo) em 1933, e o Interventor Federal de São Paulo (posição equivalente ao cargo de governador) Armando de Salles Oliveira, criou a <strong>Universidade de São Paulo (USP)</strong> em 1934. A <strong>USP</strong> surgiu da união da recém-criada Faculdade de Filosofia, Ciências e Letras (FFCL) com as já existente Escola Politécnica de São Paulo, Escola Superior de Agricultura (Luiz de Queiroz), Faculdade de Medicina, Faculdade de Direito e Faculdade de Farmácia e Odontologia.",
        uspText2: "<strong>A Universidade de São Paulo</strong> hoje é a mais importante instituição de ensino superior do Brasil. A <strong>USP</strong> é uma universidade pública, mantida pelo Estado de São Paulo e ligada à Secretaria de Desenvolvimento Econômico, Ciência e Tecnologia.",
        uspText3: "A cada ano cerca de 130.000 alunos prestam o exame de admissão (Vestibular) buscando competir pelas mais de 10.000 vagas na USP, fazendo deste o mais disputado vestibular do país. A Universidade conta com 89.000 alunos matriculados entre graduação e pós-graduação, 16.000 funcionários, 5.800 docentes, 264 cursos de graduação e 255 cursos de pós-graduação nas 42 unidades de ensino espalhadas pelos 8 campi (São Paulo, Bauru, Lorena, Piracicaba, Pirassununga, Ribeirão Preto, Santos e São Carlos).",
        uspText4: "A <strong>Universidade de São Paulo</strong> é responsável por cerca de 30% da produção acadêmica do país e pelo maior número de graduados em PhD no mundo, de acordo com o <a href='http://www.shanghairanking.com/' target='_blank'>Academic Ranking University compilado pelo Center for World-Class Universities (CWCU)</a> da Universidade de Shanghai Jiao Tong na China (2012). Esses números não representam apenas quantidade, uma vez que o talento e dedicação dos docentes, alunos e funcionários são reconhecidos por diversos rankings globais, que consideram a <strong>USP</strong> a mais importante instituição de ensino e pesquisa do Brasil e da América Latina.",
        uspText5: "Alguns dos mais importantes destes rankings a se saber são: Sanghai Jiao Tong University; Times Higher Education World University Rankings; Performance Ranking of Scientific Papers for World Universities of the Higher Education Evaluation & Accreditation Concil of Taiwan e o Webometrics Ranking of World Universities.",
        uspText6: "Todo esse reconhecimento foi adquirido ao longo de mais de 75 anos de inabalável busca pela excelência, permitiu à <strong>USP</strong> (fundada em 1934) a fazer parte de um seleto grupo de intituições com padrões internacionais.",
        poli: "Escola Politécnica",
        poliText1: "A Escola Politécnica da Universidade de São Paulo (Poli/USP) tem mais de um século de história, formando gerações de engenheiros(as) que têm se destacado não só em suas especialidades profissionais, mas também na vida política do País e na administração de empresas e de órgãos públicos. Fundada em 1893, a então denominada Escola Politécnica de São Paulo foi incorporada à USP em 1934; hoje ela é referência nacional e considerada a mais completa faculdade de Engenharia da América Latina.<br /><br />A Poli ocupa nove prédios na Cidade Universitária, em São Paulo, num total de 141.500 metros quadrados de área construída. Ali trabalham ou estudam 457  professores, 478  funcionários, 4.500 alunos de graduação e 2.500 alunos de pós-graduação. A Escola está organizada em 15 departamentos, responsáveis pelas atividades de ensino, de pesquisa e de extensão de serviços à comunidade. <br /><br />Na graduação, são oferecidos 17 cursos, agrupados em quatro grandes áreas da engenharia: Civil, Elétrica, Mecânica e Química. Desses cursos, 15 são semestrais e dois – Engenharia de Computação e Engenharia Química – têm características que os diferenciam dos demais: eles são organizados em períodos quadrimestrais e realizados em cooperação com empresas.<br /><br />Na pós-graduação, a Poli oferece dez cursos de mestrado, nove de doutorado e um de mestrado profissionalizante. De 1970 a 2006 foram outorgados cerca de 7.000 títulos, entre mestrado e doutorado, o que coloca a Escola como um dos maiores centros de pós-graduação do País e o maior na área de Engenharia.<br /><br />A Poli também se destaca na realização de pesquisas científicas e tecnológicas, com as quais contribui para o progresso social e econômico do País e para a modernização, competitividade e qualidade dos produtos e processos das empresas.",
        bienio: "Prédio do Biênio - Escola Politécnica - São Paulo/SP"
      },
      ourHistory: {
        ourHistory: "Nossa História",
        pmtSubtitle: "Prédio do Departamento de Engenharia Metalúrgica e de Materiais - Escola Politécnica - São Paulo/SP",
        history: "Histórico",
        historyText1: "A fundação da Escola Politécnica e a preocupação sobre a relação entre fazer e descobrir levou à abertura da primeira fundição voltada para o aprendizado prático dos alunos em 1902. Este forno de cúpula de fundição (cubilot), um símbolo desse espírito é atualmente exibido no hall de entrada do Departamento de Engenharia Metalúrgica e de Materiais. Essa preocupação, voltada às bases experimentais de ensino deriva de escolas de engenharia da Alemanha, Suíça e dos Estados Unidos da América. A fundição foi inaugurada pelo fundador da Escola Politécnica, Antônio Francisco de Paula Souza. Engenharia Metalúrgica começou a ser ensinada na Escola Politécnica em 1939. O curso de graduação original englobava a área de engenharia de minas e tinha duração de seis anos. Em 1955, Engenharia Metalúrgica e Engenharia de Minas foram separadas dois cursos independentes de cinco anos. Assim, foi da Europa e dos Estados Unidos da América que o Departamento adotou o conceito de ensino profissional de engenharia de longo prazo, apresentando, adicionalmente ao básico e ciências de engenharia, projetos e práticas de engenharia assim como ciências sócio-econômicas, ensinadas em perspectiva de aplicação.<br/><br/>O Programa de Graduação em Engenharia Metalúrgica foi expandido em 1969 com a adição de cursos de Mestrado e Doutorado. Em 1972, o departamento se tornou o primeiro no campo de engenharia a ser aprovado pelo Conselho Federal de Educação.<br/><br/>No final dos anos 80, a faculdade, formada amplamente por professores em meio-período, começou gradualmente a compreender ensino em tempo integral e professores pesquisadores com qualificações científico-acadêmicas modernas. Em 1990, o escopo do programa de graduação foi expandido para graduação em Engenharia Metalúrgica e de Materiais e, em 1995, o curso de graduação de Engenharia de Materiais foi introduzido com o objetivo de acompanhar a revolução que ocorria no campo dos materiais."
      },
      pmt: {
        pmt:"O PMT",
        pmtText1: "O Departamento de Engenharia Metalúrgica e de Materiais (PMT) é responsável por ensinar engenheiros de materiais e metalurgistas na Escola Politécnica. O Departamento está localizado em um prédio próprio e abrange uma área de 6.700 m<sup>2</sup>. Os laboratórios ocupam uma área de aproximadamente 2.500 m<sup>2</sup> e a biblioteca 261 m<sup>2</sup> (que possui 5.830 livros e 556 teses ou dissertações), o restante sendo dividido entre a oficina mecânica, salas de computação, salas de aula, anfiteatro, salas de professores e secretaria. O Departamento mantém convênios com agências privadas e estatais e agências de desenvolvimento como meio de condução de pesquisa, serviços de consultoria, cursos de educação continuada e atividades de treinamento orientada para a reciclagem da experiência dos profissionais que trabalham na área de Engenharia de Materiais e Metalúrgica.<br/><br/> O Departamento de Engenharia Metalúrgica e de Materiais emprega 25 professores, 5 dos quais são professores titulares; 3 professores aposentados que ainda trabalham no Departamento (2 dos quais são professores titulares). Muitos dos professores são responsáveis por laboratórios que abrangem grupos de pesquisa em engenharia ativos.<br/><br/>Os cursos de graduação de Engenharia Metalúrgica e de Materiais são de cinco anos. Informações científicas básicas em ciências de engenharia são adquiridas em dois anos. O terceiro ano do curso começa a focar em áreas de metalurgia e de materiais e ambos os cursos de graduação compartilham do mesmo currículo. Nos dois últimos anos, cada área segue um currículo específico de tecnologias e técnicas visando produzir profissionais com alta capacidade analítica, capazes de resolver problemas e de trabalhar em equipe e que possuam um espírito inovador e de liderança.<br/><br/>O PMT também oferece cursos de Mestrado e Doutorado (strictu-sensu) nas áreas de Engenharia Metalúrgica e de Materiais. O objetivo dos programas é de produzir recursos humanos de primeira classe, particularmente professores e pesquisadores.",
        pmtSubtitle: "Prédio do Departamento de Engenharia Metalúrgica e de Materiais - Escola Politécnica - São Paulo/SP",
        externalLinks: "Links Externos Sobre o Departamento",
        link1: "Vídeo institucional do Departamento (2013)",
        link2: "Página do PMT no catálogo da exame.com",
        link3: "PMT no facebook",
        link4: "Reportagem do guia do estudante sobre o curso de Engenharia Metalúrgica",
        link5: "Reportagem do guia do estudante sobre o curso de Engenharia de Materiais"
      },
      mission: {
        mission: "Missão",
        missionText: "&quot;Formar recursos humanos de excelência em <strong> Engenharias Metalúrgica e de Materiais</strong>, bem como gerar conhecimento para o progresso sustentável do país&quot;"
      },
      vision: {
        vision: "Visão",
        visionText: "&quot;Ser um centro de excelência mundial de ensino, pesquisa e extensão em <strong>Engenharia Metalúrgica e Engenharia de Materiais</strong>&quot;"
      },
      admin: {
        admin: "Administração",
        adminText1: "Chefe do Departamento: ",
        adminText2: "Vice-Chefe do Departamento:",
        adminText3: "Secretária do Departamento:",
        adminText4: "Comissão de Coordenação dos Cursos de Engenharia Metalúrgica e Engenharia de Materiais",
        adminText5: "Comissão de Coordenação do Programa de Pós-Graduação em Engenharias Metalúrgica e de Materiais",
        adminText6: "Representantes na Comissão de Pesquisa da EPUSP",
        adminText7: "Representante na Comissão de Cultura e Extensão da EPUSP",
        adminText8: "Conselho do Departamento",
        adminText9: "Professores Titulares",
        adminText10: "Representantes dos Professores Associados (mandato 21/10/2015 a 20/10/2017)",
        adminText11: "Representantes dos Professores Doutores (mandato 30/03/2015 a 29/03/2017)",
        adminText12: "Representação Discente",
        adminText13: "Representante dos Funcionários Não-Docentes"
      },
      contact: {
        contact: "Contato",
        contactText1: "Departamento de Engenharia Metalúrgica e de Materiais da Escola Politécnica da Universidade de São Paulo",
        contactText2: "Endereço:<br/>Av. Professor Mello Moraes, 2463<br/>CEP: 05508-030<br/>São Paulo/SP<br/><br/>",
        phone: "Telefone",
        fax: "Fax"
         
      }
    },
    
    undergrad: {
      main: {
        informacoes: "Informações",
        coordenador: "Coordenador",
        secretaria: "Secretária",
        linksUteis: "Links úteis",
        metalurgica: "Engenharia Metalúrgica",
        metalurgicaText: "O curso de Engenharia Metalúrgica cobre três áreas principais:<ul><li class='session-body'><strong>Metalurgia extrativa: </strong>Processos de produção primário e refino de metais e ligas metálicas</li><li class='session-body'><strong>Transformações metalúrgicas: </strong> Conformação mecânica, fundição, tratamentos térmicos, tratamento de superfícies, soldagem e metalurgia do pó)</li><li class='session-body'><strong>Metalurgia física: </strong> Lida com as características do material</li></ul><p class='session-body'>Sendo assim, os Engenheiros e Engenheiras Metalúrgicos podem operar tanto em processos de beneficiamento de minérios, quanto na obtenção de ligas metálicas com propriedades físicas, químicas e metalúrgicas adaptadas aos mais variados usos e inclusive na fabricação de peças e produtos para uso em outras indústrias, com propriedades adaptadas às diferentes necessidades.<br/><br/>Adicionalmente estas atividades estão fortemente relacionadas às indústrias de base e ao setor metal-mecânico, sendo assim o escopo de responsabilidade do Engenheiro Metalurgista se expandiu consideravelmente no que tange o desenvolvimento e gestão de projetos, seleção de materiais, controle de qualidade, segurança e gestão ambiental.<br/><br/>Nos últimos 20 anos cerca de 300 Engenheiras e Engenheiros Metalurgistas foram formados pelo departamento. Atualmente são oferecidas 20 vagas por ano. O Departamento de Engenharia Metalúrgica e de Materiais da Escola Politécnica, possui renome no campo de ensino de Engenharia Metalúrgica. Não somente pela sua tradição, mas também por estar sempre na vanguarda e focada em criar os melhores e mais completos engenheiros. Tal fato é acentuado pelo grande número de profissionais, formados pelo departamento, ocupando posições de destaque tanto na indústria quanto no setor de P&D. Não menos importante é a participação de ex-alunos em instituições de planejamento governamentais e na indústria metalúrgica doméstica.",
        metalurgicaProgram: "Programa do curso",
        materiais: "Engenharia de Materiais",
        materiaisText: "O escopo de responsabilidades dos Engenheiros e Engenheiras de Materiais compreende o estudo dos materiais metálicos, poliméricos e cerâmicos no que se refere à caracterização de propriedades, processos de manufatura e aplicações, adicionalmente à análise, criação e desenvolvimento de novos produtos. Além disso a análise de materiais em si é essencial para entender as bases dos processos de manufatura, que são as pedras fundamentais da competitividade das indústrias.<br/><br/>Os materiais representam as matérias-primas nas quais uma grande quantidade de projetos de engenharia se baseiam. Sendo assim, Engenheiras e Engenheiros de Materiais possuem uma extensa área de atuação, uma vez que o curso provê um amplo conhecimento teórico e prático que enfatiza as relações entre microestruturas, processamento, propriedades e consequentemente a performance do material durante sua utilização.<br/><br/>O curso de Engenharia de Materiais foi criado na Escola Politécnica em 1995, com o objetivo de acompanhar a revolução em curso no campo de materiais, refletida em inovações em praticamente todos os setores de atividade humana, e, principalmente nos campos da computação, telecomunicações, transporte e saúde. O mercado de trabalho para Engenheiros e Engenheiras de Materiais compreende o suprimento de matérias-primas, indústrias de transformação, prestação de serviço, consultorias técnica e P&D. 20 vagas por ano são atualmente oferecidas ao curso de Engenharia de Materiais, que se diferencia do curso de engenharia metalúrgica no que se refere ao espaço dedicado ao estudo de materiais poliméricos e cerâmicos além dos metálicos.",
        materiaisProgram: "Programa do curso",
        texto1: 'Os mais de 100 laboratórios de inovação e industrialização e as possibilidades abertas pela reforma curricular também foram apontados como responsáveis pela classificação da Escola como a melhor universidade pública brasileira. Na avaliação dos cursos superiores realizada anualmente pelo Guia do Estudante, a USP teve 121 de seus 141 cursos classificados com cinco estrelas, considerada a nota máxima. Em seu site, o Guia publicou uma reportagem sobre os diferenciais da Poli-USP, como a Internacionalização, que já formou mais de mil alunos apenas dentro do programa de Duplo Diploma com universidades parceiras, as novas disciplinas e a possibilidade de cursar matérias de diferentes especialidades.',
        link1: 'Entenda os critérios do Prêmio Melhores Universidades'
      },
      tf: {
        tf: "Trabalhos de Formatura",
        normasDiretrizes: "Normas e Diretrizes:",
        normasABNT: "Normas ABNT",
        guiaFormatacao: "Guia de formatação dos trabalhos de conclusão de curso",
        title: "Título do Trabalho",
        autor: "Autor",
        professor: "Professor Orientador",
        year: "Ano"
      },
      estagio: {
        estagio: "Estágio",
        estagioTexto: "Os estágios de estudantes de graduação e pós-graduação da Escola Politécnica obedecem aos termos da Nova Lei de Estágio – Lei 11.788, de 25 de setembro de 2008 e são regidos pela Resolução USP No 5.528 (18-03-2009). O objetivo do estágio é propiciar a complementação do ensino e da aprendizagem, constituindo instrumento de integração em termos de treinamento prático, aperfeiçoamento técnico-cultural, científico e de relacionamento humano. O estágio pode ser realizado na comunidade em geral ou junto a pessoas jurídicas de direito público ou privado, sob responsabilidade e coordenação da instituição de ensino. <br/><br/>É permitido aos alunos da Poli realizar estágios a partir do 3º ano do curso de graduação. O aluno precisa dividir seu tempo entre as atividades acadêmicas e do estágio. Nessa modalidade, os estágios são divididos em não obrigatórios (não incluídos no currículo escolar) e obrigatórios (incluídos no currículo, contando como crédito para as disciplinas). <br/><br/>Cada estágio deve ser planejado, realizado, acompanhado e avaliado levando em conta os currículos, programas e calendários escolares dos cursos. A jornada de atividade em estágio deve ser compatível com o horário escolar e com o funcionamento da empresa ou entidade que oferece o estágio. No entanto, nos períodos de férias escolares, o aluno pode negociar de estágio diferenciado, estabelecido em comum acordo com o concedente. <br/><br/>O aluno da Poli que estagiar em qualquer empresa ou instituição não deve criar vínculo empregatício com a mesma. No entanto, pode receber bolsa-estágio e, obrigatoriamente, tem de estar segurado contra acidentes e receber a cobertura previdenciária prevista em lei.",
        regulamentacao: "Regulamentação:",
        orientacoes: "Orientações gerais",
        leiEstagio: "Lei federal de estágios (Governo Federal, Lei 11788 de 25 de setembro de 2008)",
        graduacao: "Graduação",
        concessao: "Concessão de estágios na USP (Resolução no. 5528 de 18 de março de 2009)",
        regulamentacao: "Regulamentação de estágios na Escola Politécnica"
      },
      internacionalizacao: {
        titulo: 'Internacionalização & Intercâmbio da graduação (PMT – Departamento de Metalurgia & Materiais)',
        texto1: 'O Departamento de Metalurgia e Materiais (PMT-POLI/USP) possui uma intensa inserção internacional na área de pesquisa científica e tecnológica. Os alunos contam com o apoio da Escola Politécnica na participação de intercâmbio por meio de diversos convênios e programas de cooperação acadêmica com universidades na Europa, Américas e Austrália. Os programas incluem estágios acadêmicos, estágios em laboratórios de pesquisa, obtenção de duplo diploma e aproveitamento de crédito de disciplinas cursadas no exterior. Além disto, laboratórios e professores do Departamento de Engenharia Metalúrgica e de Materiais recebem alunos para intercâmbio, condução de pesquisas e realização de duplo diploma garantindo acesso aos laboratórios de pesquisa e a um currículo acadêmico atualizado, dinâmico e de excelência internacional.',
        texto2: 'Veja a lista de nossos alunos e dos alunos estrangeiros que participaram de intercâmbio no nosso Departamento a partir do ano de 2013:',
        texto3: 'Alguns dos Convênios Estabelecidos pela Escola Politécnica para Obtenção de Diploma Duplo:',
        link0: "Clique para ver a lista de alunos",
        link1: 'École Polytéchnique - França',
        link2: 'Écoles Centrales Paris - França',
        link3: 'Écoles Centrales Lille - França',
        link4: 'Écoles Centrales Nantes - França',
        link5: 'Écoles Centrales Lyon - França',
        link6: 'École Nationale des Ponts et Chaussées - França',
        link7: 'École Nationale Supérieure de Chimie - França',
        texto4: 'Mais Informações:',
        link8: 'Relações Internacionais EPUSP',
        link9: 'Comissão de Cooperação Internacional USP',
        link10: 'SVREInt/Poli – Serviço de Relações Internacionais da Poli'
      },
      modulo_vermelho: {
        titulo: 'Módulo Vermelho & Pré-Mestrado',
        texto1: 'Módulos Vermelhos: A escolha de um módulo vermelho pelos alunos se dará no mês de outubro, através do Sistema Júpiter. Abaixo, um resumo das decisões da Comissão de Graduação a respeito dos módulos de especialização (“vermelhos”), tanto as mais antigas como as muito recentes:',
        texto2: 'Estará sempre garantido que um aluno terá vaga para cursar o módulo naturalmente associado ao seu próprio curso. Assim, no caso dos nossos cursos, o aluno de Metalurgia sempre terá acesso ao módulo “Processamento de Materiais Cerâmicos e Poliméricos”, enquanto que o aluno de Materiais sempre terá vaga garantida no módulo “Processamento de Materiais Metálicos”.',
        texto3: 'Os vários cursos da Poli vão oferecer, em 2018, 42 módulos de especialização e 7 pré-mestrados. ',
        texto4: 'Ao atingir 80% de aprovação nos créditos da estrutura curricular de seu curso até o 7º semestre, o aluno estará apto a inscrever-se para um módulo. Entretanto, ele não será obrigado a fazê-lo.',
        texto5: 'Não haverá processo de transferência de alunos de um módulo para outro. Se o aluno desistir do módulo em que está matriculado, então ele deverá aguardar a época de opção por módulos e inscrever-se como candidato ao novo módulo, concorrendo em igualdade de condições com os optantes pela primeira vez.',
        texto6: 'Se o aluno não for selecionado para cursar o módulo desejado, então ele não ficará parado, pois sempre terá vaga garantida no módulo associado ao seu curso.',
        texto7: 'Se o aluno quiser, ele poderá fazer mais de um módulo na Escola. Entretanto, ele não poderá candidatar-se a mais de um módulo simultaneamente. Não se esquecer também que desde 2014 o prazo máximo para formatura é de apenas 7,5 anos. Ao concluir esse tempo na Escola o aluno entra no “Artigo 76” e tem possibilidade de ter apenas mais 3 matrículas aprovadas – sob tutoria – para concluir seu curso. ',
        texto8: 'Se o aluno for selecionado para um módulo (~final do 2º semestre) e já no semestre seguinte ele for cursar disciplinas no exterior (“aproveitamento de créditos”), então a sua vaga no módulo permanecerá assegurada até ele retornar ao Brasil.',
        texto9: 'Por outro lado, se o aluno já estiver no exterior, seu status de matrícula será o de “Cursando disciplinas no exterior”, o qual não permitirá que ele entre no processo de seleção. Esse é mesmo tratamento dispensado ao aluno com matrícula trancada ou ainda que esteja estudando no exterior, mas de forma autônoma (sem autorização da Poli ou sem ter-se submetido a processo seletivo oficial).',
        texto10: 'Os alunos dos programas de Duplo Diploma tipicamente cursam a Poli até o 7º semestre (em alguns poucos casos, até o 5º semestre apenas). Os acordos internacionais que estão sendo celebrados já no âmbito da EC3 têm estabelecido que o aluno desse programa que sair do país após o 7º semestre, cursará dois anos no exterior, formação que substituirá a necessidade de cursar um módulo vermelho e, ao retornar, cursará apenas o 8º semestre de seu curso na Poli, após o que se forma com os dois diplomas. Assim, sua formação irá durar 6 anos e não envolverá módulo vermelho.',
        texto11: 'O aluno cursando disciplinas no exterior, ou seja, em “aproveitamento de créditos”, ao retornar ao Brasil terá duas opções:',
        texto12: 'Se tiver cursado no exterior, disciplinas pertinentes ao seu módulo, então ele entra com pedido de equivalência de disciplinas o qual será avaliado pelo coordenador do módulo. O aluno poderá ter equivalência de disciplinas do exterior com disciplinas do módulo, ganhando tempo para concluí-lo.',
        texto13: 'Se as disciplinas cursadas no exterior não derem equivalência, o aluno ainda pode pedir sua inclusão no currículo e elas poderão valer como disciplinas optativas livres. Lembrar que nossos cursos estipulam uma carga total de optativas livres de 23 créditos-aula',
        texto14: 'O aluno cursando disciplinas no exterior, ou seja, em “aproveitamento de créditos”, ao retornar ao Brasil terá duas opções:',
        texto15: 'Se tiver cursado no exterior, disciplinas pertinentes ao seu módulo, então ele entra com pedido de equivalência de disciplinas o qual será avaliado pelo coordenador do módulo. O aluno poderá ter equivalência de disciplinas do exterior com disciplinas do módulo, ganhando tempo para concluí-lo.',
        texto16: 'Se as disciplinas cursadas no exterior não derem equivalência, o aluno ainda pode pedir sua inclusão no currículo e elas poderão valer como disciplinas optativas livres. Lembrar que nossos cursos estipulam uma carga total de optativas livres de 23 créditos-aula.'
      }
    },
    
    grad: {
      informacoes: "Informações",
      coordenador: "Coordenador: ",
      secretaria: "Secretária: ",
      docs: "Documentos & Formulários",
      objetivos: "Objetivos (Visão Geral, Evolução e Tendências)",
      objetivosTexto: "O Departamento de Engenharia Metalúrgica e de Materiais (PMT) da Escola Politécnica da Universidade de São Paulo (EPUSP) responsável pela área de pós-graduação, 'strictu-sensu', de Engenharia Metalúrgica e de Materiais, oferece programas de pós-graduação de Mestrado e Doutorado com <a href='https://sucupira.capes.gov.br/sucupira/public/consultas/coleta/programa/viewPrograma.jsf?popup=true&id_programa=981' target='_blank'>conceito 7 da CAPES</a>. <br/><br/>Os objetivos principais do programa são: <ul class='session-body'><li class='session-body'>Formação de recursos humanos de alto nível nas áreas de Engenharia Metalúrgica e Engenharia de Materiais</li><li class='session-body'>Formação de professores universitários e pesquisadores;</li><li class='session-body'>Formação de pesquisadores para instituições públicas e centros de pesquisa industrial;</li><li class='session-body'>Realização de pesquisa científica e tecnológica;</li></ul><br/><br/><p class='session-body'>O Programa de Pós-Graduação em Engenharia Metalúrgica da Escola Politécnica da USP, nos níveis de Mestrado e Doutorado, foi implantado em 1969, e em 1972 tornou-se o primeiro no campo da engenharia a ser credenciado pelo Conselho Federal de Educação. Em 1990 o escopo do Programa foi ampliado para Pós-Graduação em Engenharia Metalúrgica e de Materiais. Em 1995, foi implantado um Plano de Recuperação do Curso que implicou na transformação de diversos aspectos do Programa, como reformulação de disciplinas, professores orientadores na maior parte de período integral, organização da pesquisa em cinco Linhas e Grupos de Pesquisa definidos, contratação de novos professores, aumento do número de alunos-bolsistas em tempo integral, implantação do Pós-Doutoramento, implantação de novos laboratórios e reformulação dos existentes.</p>",
      estruturaAcademica: "Estrutura acadêmica",
      estruturaAcademicaTexto: "O Programa segue a regulamentação geral da Universidade de São Paulo formalizada no Regimento da Pós-Graduação; os órgãos deliberativos são o Conselho de Pós-Graduação da Universidade de São Paulo e a Comissão de Pós-Graduação da Escola Politécnica, e os executivos responsáveis são o Pró-Reitor de Pós-Graduação, o Presidente da Comissão de Pós-Graduação e os Coordenadores de cada Programa.",
      admissao: "Admissão no Programa",
      candidatoMestrado: "Candidatos ao Mestrado",
      candidatoMestradoTexto: "Devem realizar exame de ingresso aplicado pelo programa de pós graduação do departamento, contendo questões básicas sobre Engenharia Metalúrgica e de Materiais. O exame de ingresso será eliminatório, cuja nota mínima deve ser 5,0 (cinco). O candidato tem a possibilidade de, no ato da inscrição para a prova de ingresso, optar por concorrer a bolsa de estudos pela CAPES ou CNPq, conforme disponibilidade, sendo as bolsas distribuídas conforme a classificação das notas dos candidatos concorrentes a bolsa.",
      candidatoDoutorado: "Candidatos ao Doutorado",
      candidatoDoutoradoTexto: "Candidatos ao Doutorado, devem realizar exame de ingresso aplicado pelo programa de pós graduação do departamento, contendo questões básicas sobre Engenharia Metalúrgica e de Materiais. O exame de ingresso será eliminatório, cuja nota mínima deve ser 5,0 (cinco). O candidato tem a possibilidade de, no ato da inscrição para a prova de ingresso, optar por concorrer a bolsa de estudos pela CAPES ou CNPq, conforme disponibilidade, sendo as bolsas distribuídas conforme a classificação das notas dos candidatos concorrentes a bolsa. O candidato que já tenha sido aprovado no exame de suficiência para mestrado em Engenharia Metalúrgica e de Materiais no PMT, não precisará fazer novamente o exame de ingresso.<br/></br><strong>Verifique mais informações nas Regras do Programa de Pós Graduação, disponível neste site.</strong>",
      obtencaoTitulo: "Obtenção do título",
      obtencaoTituloTexto: "Para a obtenção do título de Mestre, os candidatos a Mestrado devem obter créditos equivalentes a 5 disciplinas de pós-graduação, apresentar exame de qualificação perante banca de três professores (com um trabalho completo em Congresso) e ter a Dissertação aprovada por banca de três professores, sendo obrigatoriamente um deles externo ao Programa. Para estar apto para a defesa o aluno necessita submeter um trabalho para revista internacional. Os mestrandos deverão ser aprovados em exame de inglês.<br/><br/>Os portadores do título de Mestre podem obter o título de Doutor em Ciências após a integralização de créditos equivalentes a 3 disciplinas de pós-graduação, exame de qualificação (com dois trabalhos completos em Congresso) e defesa de Tese perante Banca de 5 professores, dos quais no mínimo dois externos ao programa. Para estar apto para a defesa o aluno necessita submeter dois trabalho para revista internacional. Os doutorandos deverão ser aprovados em exame de inglês."
    },
    
    pesquisa: {
      laboratorios: {
        laboratorios: "Laboratórios",
        responsavel: "Responsável: ",
        atividades: "Atividades: "
      }
    },
    
    extensaoCultura: {
      grupos: "Grupos de Extensão e Cultura",
      gruposTexto: "Na área de extensão e cultura, a Escola Politécnica dispõe de diversos programas e projetos que possibilitam estreitar os laços da instituição com a sociedade.",
      apresentacao: "Apresentação",
      video: "Vídeo Institucional",
      polijr: "POLI Jr",
      polijrTexto: "A Poli Júnior fica localizada na própria Escola Politécnica da USP, na Cidade Universitária, que é uma das escolas mais reconhecidas no mundo. Desenvolvemos as soluções para seu projeto de forma customizada, buscando atender às necessidades, construindo um relacionamento próximo. Contamos com um histórico de projetos de sucesso em diversas áreas da engenharia, o que nos oferece embasamento para a condução de nossas atividades.<br/>Você pode nos encontrar no Edifí­cio da Engenharia Mecânica, onde podemos fazer reuniões para a discussão dos detalhes do seu projeto. Nossa sede possui toda a infraestrutura física e computacional para que os membros executem suas tarefas. Dessa maneira, usufruindo dos recursos adequados, conectamos conhecimento, estratégia, informação e dados para criar, desenvolver, elaborar e solucionar. Lembrando que a busca pelo baixo custo é um dos nossos principais objetivos",
      semm: "SEMM – Semana de Estudos Mínero-Metalúrgicos",
      semmTexto: "A SEMM é um dos mais tradicionais eventos da Poli. Há mais de cinco décadas, alunos de graduação anualmente organizam uma semana repleta de atividades, exaltando o orgulho do setor mínero-metalúrgico. São palestras e minicursos ministrados por profisionais da área, mesas-redondas com debates de assuntos relevantes ao setor, workshop e visitas técnicas a grandes empresas. Tudo isso para propiciar ao participante o amadurecimento de seu network e sua interação com a indústria, além de abrir a mente dos futuros engenheiros a novos assuntos e pontos de vista. Em suma, a SEMM investe nos maiores ativos que um Engenheiro pode ter: seu intelecto e seus contatos!",
      cmr: "CRM – Centro Moraes Rego",
      cmrTexto: "O Centro Moraes Rêgo (CMR) é o centro acadêmico das Engenharias de Materiais/Metalúrgica, de Minas e de Petróleo da Escola Politécnica da USP. Nossos principais objetivos são representar os interesses de nossos alunos frente à diretoria e/ou aos outros centros acadêmicos, fornecer aos alunos um ambiente agradadável para se passar o tempo, conhecer novas pessoas, além de prestar assistência acadêmica a nossos alunos."
    },
    
    equipe: {
      corpoDocente: {
        corpoDocente: "Corpo Docente",
        telefone: "Telefone: ",
        email: "E-mail: ",
        professor: "Professor(a): ",
        areaPesquisa: "Áreas de Pesquisa: ",
        template: {
          telefone: "Telefone: ",
          email: "E-mail: ",
          laboratorio: "Laboratorio: ",
          professor: "Professor(a): ",
          formacaoAcademica: "Formação Acadêmica",
          disciplinas: "Disciplinas Ministradas no Departamento",
          grad: "Graduação",
          posgrad: "Pós-Graduação",
          linhaPesquisaConsultorias: "Linhas de Pesquisa e Consultorias",
          linhaPesquisa: "Linhas de Pesquisa",
          consultorias: "Consultorias"
        }
      },
      funcionarios: {
        equipeApoio: "Equipe de Apoio",
        cargo: "Cargo: ",
        email: "E-mail: ",
        telefone: "Telefone: ",
        fax: "Fax: "
      }
    },
    
    diversos: {
      sitesLinks: {
        sitesLinks: "Sites & Links Externos",
        poli: "Poli USP",
        acervo: "Acervo Bibliográfico",
        comunidade: "Comunidade Científica, Ferramentas de Busca Científica e Redes Sociais Acadêmicas",
        fundacoes: "Fundações de Amparo/Apoio à Pesquisa",
        associacoes: "Associações Técnicas e Científicas Brasileiras & Latino-Americanas",
        associacoesEstrangeiras: "Associações Técnicas e Científicas Estrangeiras",
        engenharia: "Sites de Engenharia",
        guiaPoli: "Guia Poli de Serviços e Atividades",
        biblioteca: "Bibliotecas",
        portalRevistas: "Portal de revistas",
        tesesEDissertacoes: "Teses e dissertações",
        portalBuscaIntegrada: "Portal de busca integrada",
        PortalDominioPublico: "Portal Domínio Público",
        cnpq: "CNPq: Conselho Nacional de Desenvolvimento Científico e Tecnológico",
        capes: "Capes: Fundação Capes / Ministério da Educação",
        fapesp: "FAPESP: Fundação de Amparo à Pesquisa do Estado de São Paulo",
        abm: "ABM: Associação Brasileira de Metalurgia, Materiais e Mineração",
        abpol: "ABPol: Associação Brasileira de Polímeros",
        abceram: "ABCeram: Associação Brasileira de Cerâmica",
        abcarb: "ABCarb: Associação Brasileira de Carbono",
        sbpmat: "SBPMat: Sociedade Brasileira de Pesquisa em Materiais",
        almaco: "ALMACO: Associação Latino-Americana de Materiais Compósitos",
        alafar: "ALAFAR: Associação Latino-America de Fabricantes de Refratários",
        aep: "AEP: Associação dos Engenheiros Politécnicos",
        fundoPatrimonial: "Fundo Patrimonial 'Amigos da POLI'",
        creasp: "CREA-SP: Conselho Regional de Engenharia de São Paulo",
        hsenano: "HSEnano: Plataforma de Saúde, Segurança e Meio-Ambiente em Nanotecnologia"
      },
      noticias: {
        noticias: "Notícias",
        noticiasEInformacoes: "Notícias e Informações",
        agenciaUSP:  "Agência USP de Notícias",
        servicoComunicacao: "Serviço de comunicação social da POLI-USP",
        graduacao: "Graduação",
        proReitoriaGraduacao: "USP: Pró-Reitoria de Graduação",
        poliGraduacao: "POLI-USP: Graduação",
        intercambio: "Intercâmbio USP & CR-Int",
        programaBolsaIntercambio: "USP: Programa de Bolsas de Intercâmbio Internacional para Alunos de Graduação",
        crint: "POLI-USP: Comissão de Relações Internacionais",
        jornalCMR: "Jornal do CMR",
        pesquisa: "Pesquisa",
        proreitoriaPesquisa: "USP: Pró-reitoria de Pesquisa",
        poli: "POLI-USP",
        culturaEExtensao: "Cultura e Extensão",
        proreitoriaCulturaExtensao: "USP: Pró-reitoria de Cultura e Extensão Universitária",
        poliUspCulturaExtensao: "POLI-USP: Cultura e Extensão",
        posGraduacao: "Pós-grauação",
        proReitoriaPosGraduacao: "USP: Pró-reitoria de Pós-graduação",
        poliUspPosGraduacao: "POLI-USP: Pós-graduação",
        escolaPolitecnica: "Escola Politécnica",
        poliUspEnsino: "POLI-USP: Ensino"
      }
    }
  }
