extends base.jade

block home
  - var home_path = "../"
  
block stylesheet
  - var stylesheet = "extensao.min.css"
  
block page-title
  - page_title = page_title

block breadcrumbs-path
  -
    breadcrumbs_path = {}
    breadcrumbs_path[strings.breadcrumbs.home] = home_path
    breadcrumbs_path[strings.breadcrumbs.extensaoCultura] = false

block content

  .extensaoCultura
    .container
      .session
        h1.session-title
          != strings.extensaoCultura.grupos
        p.session-body
          != strings.extensaoCultura.gruposTexto
        
      .session.extension-group
        .row
          .col-md-2.group-logo
            a(href="http://polijr.com.br" target="_blank")
              img.full-width(src=assets+"img/polijr_logo.png")
          
          .col-md-10
            h2.session-subtitle
              a(href="http://polijr.com.br" target="_blank")
                != strings.extensaoCultura.polijr
            h2.session-subtitle
              != strings.extensaoCultura.apresentacao
            p.session-body
              != strings.extensaoCultura.polijrTexto
              br/
              br/
              a.iframe-link(href="https://www.youtube.com/watch?v=HCpQi1an0js")
                != strings.extensaoCultura.video
              
      .session.extension-group
        .row
          .col-md-2.group-logo
            a(href="http://www.cmr.poli.usp.br/SEMM/index.html" target="_blank")
              img.full-width(src=assets+"img/semm_logo.jpg")
          
          .col-md-10
            h2.session-subtitle
              a(href="http://www.cmr.poli.usp.br/SEMM/index.html" target="_blank")
                != strings.extensaoCultura.semm
            h2.session-subtitle
              != strings.extensaoCultura.apresentacao
            p.session-body
              != strings.extensaoCultura.semmTexto
                  
              
      .session.extension-group
        .row
          .col-md-2.group-logo
            a(href="http://cmr.poli.usp.br/" target="_blank")
              img.full-width(src=assets+"img/cmr_logo.png") 
          
          .col-md-10
            h2.session-subtitle
              a(href="http://cmr.poli.usp.br/" target="_blank")
                != strings.extensaoCultura.cmr
            h2.session-subtitle
              != strings.extensaoCultura.apresentacao
            p.session-body
              != strings.extensaoCultura.cmrTexto
