-
  documents = [
    { 
      title: { 
        ptBr: "Calendário Acadêmico 2017",
        en: "Academic Calendar 2017"
      },
      url: "https://uspdigital.usp.br/jupiterweb/jupCalendario2017_final.jsp?codmnu=7920", 
      active: true 
    },
    { 
      title: { 
        ptBr: "Disciplinas Oferecidas",
        en: "Courses"
      },
      url: "https://uspdigital.usp.br/jupiterweb/jupDisciplinaLista?codcg=3&pfxdisval=PMT&tipo=D", 
      active: true 
    },
    { 
      title: { 
        ptBr: "Horário Disciplinas: Ciclo Básico (2º semestre 2017)",
        en: "Classes Hours: Basic Cicle (2nd semester 2017)"
      },
      url: assets + "downloads/horario_disciplinas_ciclo_basico_2_sem_2017.pdf", 
      active: true 
    },
    { 
      title: {
        ptBr: "Horário Disciplinas: Materiais (2º semestre 2017)",
        en: "Classes Hours: Materials (2nd semester 2017)"
      }, 
      url: assets + "downloads/horario_disciplinas_materiais_2_sem_2017.pdf", 
      active: true 
    },
    { 
      title: {
        ptBr: "Horário Disciplinas: Metal (2º semestre 2017)", 
        en: "Classes Hours: Metal (2nd semester 2017)"
      },
      url: assets + "downloads/horario_disciplinas_metal_2_sem_2017.pdf", 
      active: true 
    }
  ]
