-
  quick_links = [
                 { title: "Calendário 2016", url: "https://uspdigital.usp.br/jupiterweb/jupArquivosPublicos.jsp?tiparq=8&anoprg=2015&codmnu=6863", active: true},
                 { title: "Disciplinas oferecidas", url: "https://uspdigital.usp.br/jupiterweb/jupDisciplinaLista?codcg=3&pfxdisval=PMT&tipo=D", active: true}
                ]
