.breadcrumbs  
  block breadcrumbs-path
    - var breadcrumbs_path = {"Path1" : "#", "Path2" : "#", "Path3" : "#", "Path4" : false}
  each link, path_name in breadcrumbs_path
    if link && link !== "nolink"
      a(href=link)
        span.path
          | #{path_name}
      span(class="breadcrumb-divider glyphicon glyphicon-menu-right" aria-hidden="true")
    
    if link === "nolink"
      span.path
        | #{path_name}
        span(class="breadcrumb-divider glyphicon glyphicon-menu-right" aria-hidden="true")
    
    if !link  
      span.current-path
        | #{path_name}
