extends base.jade

block home
  - var home_path = "../"
  
block stylesheet
  - var stylesheet = "departamento.min.css"
  
block page-title
  - page_title = page_title

block breadcrumbs-path
  -
    breadcrumbs_path = {"Home": home_path, 
                        "O Departamento" : false}

block content

  .departamento
    .container
      #departamento-overview.session
        h1.session-title
          | Panorama
        .row
          .col-md-6
            img.full-width(src=assets+"img/praca_relogio.jpg")
            p.image-subtitle
              | Praça do Relógio - Cidade Universitária - São Paulo/SP
          .col-md-6
            h2.session-subtitle
              | Universidade de São Paulo
            p.session-body.
              Após São Paulo ter sido derrotado na revolução constitucionalista 
              de 1932, o Estado percebeu a necessídade de criar uma nova elite 
              intelectual capaz de contribuir para o avanço das instituições, do 
              governo e do país como um todo. Com essa ideia em mente um grupo 
              de empreendedores fundaram a Escola Livre de Sociologia e Política 
              (ELSP) (atual Fundação Escola de Sociologia e Política de São Paulo) 
              em 1933, e o Interventor Federal de São Paulo (posição equivalente 
              ao cargo de governador) Armando de Salles Oliveira, criou a 
              <strong>Universidade de São Paulo (USP)</strong> em 1934. A <strong>USP</strong> surgiu da união 
              da recém criada Faculdade de Filosofia, Ciências e Letras (FFCL) 
              com as já existente Escola Politécnica de São Paulo, Escola 
              Superior de Agricultura "Luiz de Queiroz", Faculdade de Medicina, 
              Faculdade de Direito e Faculdade de Farmácia e Odontologia.
            br/
            p.session-body.
              <strong>A Universidade de São Paulo</strong> hoje é a mais importante instituição 
              de ensino superior do Brasil. A <strong>USP</strong> é uma universidade pública, 
              mantida pelo Estado de São Paulo e ligada à Secretaria de 
              Desenvolvimento Econômico, Ciência e Tecnologia.
            br/
            p.session-body.
              A cada ano cerca de 130.000 alunos prestam o exame de admissão 
              (Vestibular) buscando competir pelas mais de 10.000 vagas na USP, 
              fazendo deste o mais disputado vestibular do país. A Universidade 
              conta com 89.000 alunos matriculados entre graduação e pós-graduação, 
              16.000 funcionários, 5,800 docentes, 264 cursos de graduação e 255 
              cursos de pós-graduação nas 42 unidades de ensino espalhadas pelos 
              8 campuses (São Paulo, Bauru, Lorena, Piracicaba, Pirassununga, 
                Ribeirão Preto, Santos e São Carlos).
            br/
            p.session-body.
              A <strong>Universidade de São Paulo</strong> é responsável por cerca de 30% da 
              produção acadêmica do país e pelo maior número de graduados em PhD 
              no mundo, de acordo com o <a href="http://www.shanghairanking.com/" target="_blank">Academic Ranking University compilado 
              pelo Center for World-Class Universities (CWCU)</a> da Universidade de 
              Shanghai Jiao Tong na China (2012). Esses números não representam 
              apenas quantidade, uma vez que o talento e dedicação dos docentes, 
              alunos e funcionários são reconhecidos por diversos rankings globais, 
              que consideram a <strong>USP</strong> a mais importante instituição de ensino e 
              pesquisa do Brasil e da América Latina.
            br/
            p.session-body.
              Alguns dos mais importantes destes rankings a se saber são: Sanghai 
              Jiao Tong University; Times Higher Education World University 
              Rankings; Performance Ranking of Scientific Papers for World 
              Universities of the Higher Education Evaluation & Accreditation 
              Concil of Taiwan e o Webometrics Ranking of World Universities.
            p.session-body.
              Todo esse reconhecimento foi adquirido ao longo de mais de 75 
              anos de inabalável busca pela excelência, permitiu à <strong>USP</strong> (fundada 
                em 1934) a fazer parte de um seleto grupo de intituições com 
                padrões internacional.
      .session
        .row
          .col-md-6
            h2.session-subtitle
              | Escola Politécnica
            p.session-body.
              A Escola Politécnica da Universidade de São Paulo (Poli/USP) tem mais de um século de história, formando gerações de engenheiros que têm se destacado não só em suas especialidades profissionais, mas também na vida política do País e na administração de empresas e de órgãos públicos. Fundada em 1893, a então denominada Escola Politécnica de São Paulo foi incorporada à USP em 1934; hoje ela é referência nacional e considerada a mais completa faculdade de Engenharia da América Latina.
              <br /><br />
              A Poli ocupa nove prédios na Cidade Universitária, em São Paulo, num total de 141.500 metros quadrados de área construída. Ali trabalham ou estudam 457  professores, 478  funcionários, 4.500 alunos de graduação e 2.500 alunos de pós-graduação. A Escola está organizada em 15 departamentos, responsáveis pelas atividades de ensino, de pesquisa e de extensão de serviços à comunidade. 
              <br /><br />
              Na graduação, são oferecidos 17 cursos,  agrupados em quatro grandes áreas da engenharia: Civil, Elétrica, Mecânica e Química. Desses cursos, 15 são semestrais e dois – Engenharia de Computação e Engenharia Química – têm características que os diferenciam dos demais: eles são organizados em períodos quadrimestrais e realizados em cooperação com empresas.
              <br /><br />
              Na pós-graduação, a Poli oferece dez cursos de mestrado, nove de doutorado e um de mestrado profissionalizante. De 1970 a 2006 foram outorgados cerca de 7.000 títulos, entre mestrado e doutorado, o que coloca a Escola como um dos maiores centros de pós-graduação do País e o maior na área de Engenharia.
              <br /><br />
              A Poli também se destaca na realização de pesquisas científicas e tecnológicas, com as quais contribui para o progresso social e econômico do País e para a modernização, competitividade e qualidade dos produtos e processos das empresas.
          .col-md-6
            img.full-width(src=assets+"img/bienio.jpg")
            p.image-subtitle.right-image
              | Prédio do Biênio - Escola Politécnica - São Paulo/SP
            
      #departamento-history.session
        h1.session-title
          | Nossa História
        .row
          .col-md-6
            img.full-width(src=assets+"img/pmt.jpg")
            p.image-subtitle
              | Prédio do Departamento de Engenharia Metalúrgica e de Materiais - Escola Politécnica - São Paulo/SP
          .col-md-6
            h2.session-subtitle
              | O PMT
            p.session-body
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra.

      #departamento-mission.session
        h1.session-title
          | Missão
        p.session-body
          | A missão do departamento é ser um centro internacional de excelência no ensino, pesquisa e extensão em engenharia metalúrgica e de materiais. Focada na criação de profissionais qualificados e éticos capazes de exercerem atividades técnicas e científicas dentro da sociedade brasileira.

      #departamento-contact.session
        h1.session-title
          | Contato
        .row  
          .col-md-6
            iframe.full-width(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.432512515424!2d-46.73069728531061!3d-23.552904867164468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xdb372587646a5901!2sDepartamento+de+Engenharia+Metal%C3%BArgica+e+de+Materiais!5e0!3m2!1sen!2sbr!4v1463971653120" height="350" frameborder="0" style="border:0" allowfullscreen)
          .col-md-6
            .session-body
              strong
                | Departamento de Engenharia Metalúrgica e de Materiais da Escola Politécnica da Universidade de São Paulo
              br/
              br/
              span.field-title
                | Endereço:
              br/
              | Av. Professor Mello Moraes, 2463
              br/
              | CEP: 05508-030
              br/
              | São Paulo/SP
              br/
              br/
              span.field-title
                | Telefone: 
              | +55 (11) 3091-5235
              br/
              span.field-title
                | Fax: 
              | +55 (11) 3091-5243
              
