extends base.jade

block home
  - var home_path = "../"
  
block stylesheet
  - var stylesheet = "departamento.min.css"
  
block page-title
  - page_title = page_title

block breadcrumbs-path
  -
    breadcrumbs_path = {}
    
    breadcrumbs_path[strings.breadcrumbs.home] = home_path
    breadcrumbs_path[strings.breadcrumbs.departamento] = false
    

block content

  .departamento
    .container
      #departamento-overview.session
        h1.session-title
          != strings.department.overview.overview
        .row
          .col-md-6
            img.full-width(src=assets+"img/praca_relogio.jpg")
            p.image-subtitle
              != strings.department.overview.clockSquare
          .col-md-6
            h2.session-subtitle
              != strings.department.overview.usp
            p.session-body
              != strings.department.overview.uspText1
            br/
            p.session-body
              != strings.department.overview.uspText2
            br/
            p.session-body
              != strings.department.overview.uspText3
            br/
            p.session-body
              != strings.department.overview.uspText4
            br/
            p.session-body
              != strings.department.overview.uspText5
            p.session-body
              != strings.department.overview.uspText6
      .session
        .row
          .col-md-6
            h2.session-subtitle
              != strings.department.overview.poli
            p.session-body
              != strings.department.overview.poliText1
          .col-md-6
            img.full-width(src=assets+"img/bienio.jpg")
            p.image-subtitle.right-image
              != strings.department.overview.bienio
            
      #departamento-history.session
        h1.session-title
          != strings.department.ourHistory.ourHistory
        .row
          .col-md-6
            img.full-width(src=assets+"img/pmt.jpg")
            p.image-subtitle
              != strings.department.ourHistory.pmtSubtitle
          .col-md-6
            h2.session-subtitle
              != strings.department.ourHistory.history
            p.session-body
              != strings.department.ourHistory.historyText1
      .session
        .row
          .col-md-6
            h2.session-subtitle
              != strings.department.pmt.pmt
            p.session-body
              != strings.department.pmt.pmtText1
          
          .col-md-6
            img.full-width(src=assets+"img/pmt2.png")
            p.image-subtitle.right-image
              != strings.department.pmt.pmtSubtitle
      
        .row
          .col-md-6
            iframe(style="margin-top: 20px;", width="100%", height="315", src="https://www.youtube.com/embed/6MB_NJ23Sbo", frameborder="0", allowfullscreen)
          .col-md-6
          
            h1.session-subtitle.external-links
              != strings.department.pmt.externalLinks
            p
              ul.session-body
                li
                  a.iframe-link(href="https://www.youtube.com/watch?v=6MB_NJ23Sbo")
                    != strings.department.pmt.link1
                li
                  a(href="http://minhafaculdade.exame2.com.br/faculdades/ficha/engenharia-metalurgica-departamento-de-engenharia-metalurgica-e-de-materiais-escola-politecnica-univ" target="_blank")
                    != strings.department.pmt.link2
                  span(class="external-link-icon glyphicon glyphicon-new-window") 
                li
                  a(href="https://www.facebook.com/pages/Departamento-de-Engenharia-Metal%C3%BArgica-e-de-Materiais-da-USP/432007576919316" target="_blank")
                    != strings.department.pmt.link3
                  span(class="external-link-icon glyphicon glyphicon-new-window") 
                li
                  a(href="http://guiadoestudante.abril.com.br/profissoes/engenharia-producao/engenharia-metalurgica-685910.shtml" target="_blank")
                    != strings.department.pmt.link4
                  span(class="external-link-icon glyphicon glyphicon-new-window") 
                li
                  a(href="http://guiadoestudante.abril.com.br/profissoes/engenharia-producao/engenharia-materiais-685542.shtml" target="_blank")
                    != strings.department.pmt.link5
                  span(class="external-link-icon glyphicon glyphicon-new-window") 
                    
      #departamento-mission.session
        h1.session-title
          != strings.department.mission.mission
        p.session-body
          != strings.department.mission.missionText
        
      #departamento-vision.session
        h1.session-title
          != strings.department.vision.vision
        p.session-body
          != strings.department.vision.visionText
      
      #departamento-administracao.session
        h1.session-title
          != strings.department.admin.admin
        .row  
          .col-md-12
            .session-subtitle
              != strings.department.admin.admin
            .session-body
              ul
                li
                  strong
                    != strings.department.admin.adminText1
                  | Prof. Dr. Marcelo Breda Mourão
                li  
                  strong
                    != strings.department.admin.adminText2
                  | Prof. Dr. Douglas Gouvea
                li  
                  strong
                    != strings.department.admin.adminText3
                  | Maria Cristina Biasoli
            
            .session-subtitle
              != strings.department.admin.adminText4
            .session-body
              ul
                li
                  | Prof. Dr. Samuel Toffoli 
                  - if (lang == "en")
                    | &nbsp;(Coordinator)
                  - else
                    | &nbsp;(Coordenador)
                li  
                  | Prof. Dr. Guilherme F. B. Lenz e Silva
                li  
                  | Prof. Dr. Flavio Beneduce Neto
                li  
                  | Prof. Dr. Ticiane Sanches Valera
                li  
                  | Prof. Dr. Francisco Valenzuela Diaz
                  - if (lang == "en")
                    | &nbsp;(Substitute)
                  - else
                    | &nbsp;(Suplente)
                li  
                  | Prof. Dr. Cesar Roberto F. Azevedo
                  - if (lang == "en")
                    | &nbsp;(Substitute)
                  - else
                    | &nbsp;(Suplente)
                li  
                  | Prof. Dr. Yvette Oppenheim
                  - if (lang == "en")
                    | &nbsp;(Substitute)
                  - else
                    | &nbsp;(Suplente)
                li  
                  | Prof. Dr. Eduardo Franco de Monlevade
                  - if (lang == "en")
                    | &nbsp;(Substitute)
                  - else
                    | &nbsp;(Suplente)
                li  
                  | Isabela Casemiro Perini
                  - if (lang == "en")
                    | &nbsp;(Student representative)
                  - else
                    | &nbsp;(Representante discente)
                li  
                  | Jefferson Batista de Oliveira Alvares
                  - if (lang == "en")
                    | &nbsp;(Substitute student representative)
                  - else
                    | &nbsp;(Representante discente suplente)
                li
                  - if (lang == "en")
                    | Commission's secretary:&nbsp;
                  - if (lang == "pt_br")
                    | Secretária da comissão:&nbsp;
                  | Patricia dos Santos
                  
            .session-subtitle
              != strings.department.admin.adminText5
            .session-body
              ul
                li
                  | Prof. Dr. André Paulo Tschiptschin
                  - if (lang == "en")
                    | &nbsp;(Coordinator)
                  - else
                    | &nbsp;(Coordenador)
                li  
                  | Profa. Dra. Ticiane Sanches Valera
                li  
                  | Prof. Dr. Cesar Roberto F. Azevedo
                li  
                  | Prof. Dr. Guilherme F. B. Lenz e Silva
                  - if (lang == "en")
                    | &nbsp;&nbsp;(Substitute)
                  - else
                    | &nbsp;&nbsp;(Suplente)
                li  
                  - if (lang == "en")
                    | Commission's secretary:&nbsp;
                  - if (lang == "pt_br")
                    | Secretária da comissão:&nbsp;
                  | Suellen Alves

            .session-subtitle
              != strings.department.admin.adminText6
            .session-body
              ul
                li
                  | Prof. Dr. Hélio Goldenstein
                li
                  | Prof. Dr. Guilherme F. B. Lenz e Silva
                  - if (lang == "en")
                    | &nbsp;(Substitute)
                  - else
                    | &nbsp;(Suplente)
            .session-subtitle 
              != strings.department.admin.adminText7
            .session-body
              ul
                li  
                  | Prof. Dr. Francisco Rolando Valenzuela Diaz 
                li  
                  | Prof. Dr. Samuel Toffoli
                  - if (lang == "en")
                    | &nbsp;(Substitute)
                  - else
                    | &nbsp;(Suplente)


            .session-subtitle
              != strings.department.admin.adminText8
            .session-body
              ul
                li
                  strong
                    != strings.department.admin.adminText9
                ul
                  li
                    | Prof. Dr. André Paulo Tschiptschin
                  li  
                    | Prof. Dr. Angelo Fernando Padilha
                  li  
                    | Prof. Dr. Hélio Goldenstein
                  li
                    | Prof. Dr. Sérgio Duarte Brandi
                    
                li
                  strong
                    != strings.department.admin.adminText10
                ul
                  li
                    | Prof. Dr. Antonio Carlos Vieira Coelho
                  li  
                    | Prof. Dr. Douglas Gouvea
                  li
                    | Prof. Dr. Marcelo Breda Mourão
                  li  
                    | Profa. Dra. Wang Shu Hui
                  li
                    | Prof. Dr. Cláudio Geraldo Schon
                    - if (lang == "en")
                      | &nbsp;(Substitute)
                    - else
                      | &nbsp;(Suplente) 
                
                li
                  strong
                    != strings.department.admin.adminText11
                ul
                  li
                    | Prof. Dr. Guilherme F. B. Lenz e Silva
                  li  
                    | Prof. Dr. Hercílio Gomes de Melo
                  li  
                    | Prof. Dr. Samuel Toffoli
                  li  
                    | Prof. Dr. Francisco Rolando Valenzuela Diaz
                    - if (lang == "en")
                      | &nbsp;(Substitute)
                    - else
                      | &nbsp;(Suplente)
                  li  
                    | Prof. Dr. Augusto Camara Neiva
                    - if (lang == "en")
                      | &nbsp;(Substitute)
                    - else
                      | &nbsp;(Suplente)
                  li  
                    | Prof. Dr. Eduardo Franco de Monlevade
                    - if (lang == "en")
                      | &nbsp;(Substitute)
                    - else
                      | &nbsp;(Suplente)
                li
                  strong
                    != strings.department.admin.adminText12
                ul
                  li
                    | Isabela Casemiro Perini
                  li
                    | Jefferson Batista de Oliveira Alvares
                    - if (lang == "en")
                      | &nbsp;(Substitute)
                    - else
                      | &nbsp;(Suplente)
                
                li
                  strong
                    != strings.department.admin.adminText13
                ul
                  li
                    | Rafael Rocha Maia
                  li
                    | José Rubens B. de Carvalho
                    - if (lang == "en")
                      | &nbsp;(Substitute)
                    - else
                      | &nbsp;(Suplente)

      #departamento-contact.session
        h1.session-title
          != strings.department.contact.contact
        .row  
          .col-md-6
            iframe.full-width(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.432512515424!2d-46.73069728531061!3d-23.552904867164468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xdb372587646a5901!2sDepartamento+de+Engenharia+Metal%C3%BArgica+e+de+Materiais!5e0!3m2!1sen!2sbr!4v1463971653120" height="350" frameborder="0" style="border:0" allowfullscreen)
          .col-md-6
            .session-body
              strong
                != strings.department.contact.contactText1
              br/
              br/
              span.field-title
                != strings.department.contact.contactText2
              span.field-title
                != strings.department.contact.phone
              | +55 (11) 3091-5235
              br/
              span.field-title
                != strings.department.contact.fax
              | +55 (11) 3091-5243
              
