extends ../base.jade

block home
  - var home_path = "../../"
  
block stylesheet
  - var stylesheet = "graduacao.min.css"
  
block page-title
  - page_title = "Estágio - " + page_title

block breadcrumbs-path
  -
    breadcrumbs_path = {}
    breadcrumbs_path[strings.breadcrumbs.home] = home_path
    breadcrumbs_path[strings.breadcrumbs.diversos] = "nolink"
    breadcrumbs_path[strings.breadcrumbs.noticias] = false

block content

  .graduacao-programa
    .container
      .session
        h1.session-title
          != strings.diversos.noticias.noticias
           
        p.session-subtitle
          != strings.diversos.noticias.noticiasEInformacoes
        p
          ul
            li
              a(href="http://www.usp.br/agen/" target="_blank")
                span.field-body  
                  != strings.diversos.noticias.agenciaUSP
              span(class="external-link glyphicon glyphicon-new-window") 
            li
              a(href="http://www.poli.usp.br/pt/comunicacao/noticias.html" target="_blank")
                span.field-body  
                  != strings.diversos.noticias.servicoComunicacao
              span(class="external-link glyphicon glyphicon-new-window")

      
        p.session-subtitle
          != strings.diversos.noticias.graduate
        p
          ul
            li
              a(href="http://www.prg.usp.br/" target="_blank")
                span.field-body  
                  != strings.diversos.noticias.proReitoriaGraduacao
              span(class="external-link glyphicon glyphicon-new-window") 
            li
              a(href="http://www.poli.usp.br/pt/comunicacao/noticias.html" target="_blank")
                span.field-body  
                  != strings.diversos.noticias.poliGraduacao
              span(class="external-link glyphicon glyphicon-new-window")


        p.session-subtitle
          != strings.diversos.noticias.intercambio
        p
          ul
            li
              a(href="http://www.reitoria.usp.br/intercambio/" target="_blank")
                span.field-body  
                  != strings.diversos.noticias.programaBolsaIntercambio
              span(class="external-link glyphicon glyphicon-new-window") 
            li
              a(href="http://www.poli.usp.br/io/comissao-de-relacoes-internacionais.html" target="_blank")
                span.field-body  
                  != strings.diversos.noticias.crint
              span(class="external-link glyphicon glyphicon-new-window")

  
        p.session-subtitle
          != strings.diversos.noticias.jornalCMR
        p
          ul
            li
              a(href="http://www.cmr.poli.usp.br/noticias/Nosso-jornal-esta-de-volta.html" target="_blank")
                span.field-body  
                  != strings.diversos.noticias.jornalCMR
              span(class="external-link glyphicon glyphicon-new-window") 


        p.session-subtitle
          != strings.diversos.noticias.pesquisa
        p
          ul
            li
              a(href="http://www.prp.usp.br/" target="_blank")
                span.field-body  
                  != strings.diversos.noticias.proreitoriaPesquisa
              span(class="external-link glyphicon glyphicon-new-window") 
            li
              a(href="http://www.poli.usp.br/pt/pesquisa.html" target="_blank")
                span.field-body  
                  != strings.diversos.noticias.poli
              span(class="external-link glyphicon glyphicon-new-window")


        p.session-subtitle
          != strings.diversos.noticias.culturaEExtensao
        p
          ul
            li
              a(href="http://prceu.usp.br/" target="_blank")
                span.field-body  
                  != strings.diversos.noticias.proreitoriaCulturaExtensao
              span(class="external-link glyphicon glyphicon-new-window") 
            li
              a(href="http://www.poli.usp.br/pt/cultura-e-extensao.html" target="_blank")
                span.field-body  
                  != strings.diversos.noticias.poliUspCulturaExtensao
              span(class="external-link glyphicon glyphicon-new-window")


        p.session-subtitle
          != strings.diversos.noticias.posGraduacao
        p
          ul
            li
              a(href="http://www.prpg.usp.br/index.php/pt-br/" target="_blank")
                span.field-body  
                  != strings.diversos.noticias.proReitoriaPosGraduacao
              span(class="external-link glyphicon glyphicon-new-window") 
            li
              a(href="http://www.poli.usp.br/pt/ensino/pos-graduacao/cpg.html" target="_blank")
                span.field-body  
                  != strings.diversos.noticias.poliUspPosGraduacao
              span(class="external-link glyphicon glyphicon-new-window")


        p.session-subtitle
          != strings.diversos.noticias.escolaPolitecnica
        p
          ul
            li
              a(href="http://www.poli.usp.br/pt/ensino.html" target="_blank")
                span.field-body  
                  != strings.diversos.noticias.poliUspEnsino
              span(class="external-link glyphicon glyphicon-new-window") 
