-
  news = [
          {
              image: "bienio.jpg",
              title: "XV Concurso MetMat de Fotomicrografias de Metalurgia e Materiais",
              date:  new Date(2016,9,21),
              body:  "<a href='" + assets + "img/news/cartaz_concurso_microfot_2016.png' class='image-link'>Clique aqui</a> para conferir mais informações do concurso."
          }
         ]
