-
  news = [
          {
              image: "bienio.jpg",
              title: "Professor titular da Escola Politécnica é homenageado pela SBPMat",
              date:  new Date(2017,5,7),
              body:  "Angelo Fernando Padilha, professor titular da Escola Politécnica é homenageado pela Sociedade Brasileira de Ciência dos Materiais – SBPMat. <a href='http://sbpmat.org.br/pt/gente-da-comunidade-entrevista-com-o-pesquisador-angelo-fernando-padilha/' target='_blank'>Clique aqui</a> leia a íntegra da entrevista."
          },
          
          {
              image: "bienio.jpg",
              title: "Bolsas de iniciação científica institucional",
              date:  new Date(2017,5,7),
              body:  "Estão abertas até dia 24/05/2017 as inscrições para o programa de bolsas de iniciação científica institucional (CNPq) e Santander. Mais informações <a href='http://www.prp.usp.br/programas/ic' target='_blank'>clique aqui</a>."
          },
          
          {
              image: "bienio.jpg",
              title: "Poli lança vídeo da Campanha 'USP aqui não'. Participe desta campanha!",
              date:  new Date(2017,3,8),
              body:  "Vídeo da campanha USP aqui não está disponível para YouTube. Para assisti-lo <a href='https://www.youtube.com/watch?v=Kuk0RQGUmDA' class='iframe-link' target='_blank'>clique aqui</a>."
          },
          
          {
              image: "bienio.jpg",
              title: "Professor do Departamento dá palestra na Campus Party Brasil 2017 ( Palco Ciência - 03/02/2017) sobre: Nanomateriais de Carbono e suas Incríveis Propriedades.",
              date:  new Date(2017,02,03),
              body:  "O professor Guilherme F. B. Lenz e Silva do PMT/POLI foi palestrante convidado da décima edição da Campus Party Brazil <a href='http://brasil.campus-party.org/' target='_blank'>CPBR-10</a>. Para download da apresentação <a href='" + assets + "downloads/apresentacao_cpbr10.pdf' target='_blank'>clique aqui</a>."
          },
          
          {
              image: "bienio.jpg",
              title: "Saíram os resultados do XV Concurso MetMat de Fotomicrografias de Metalurgia e Materiais",
              date:  new Date(2016,12,05),
              body:  "<a href='http://www.pmt.usp.br/Concurso%202016/regulamento.htm' target='_blank'>Clique aqui</a> para conferir mais informações do concurso. <br/>(<a href='http://www.pmt.usp.br/exposicaotica2016.htm'>Clique aqui para visualizar</a>)"
          },
          
          {
              image: "bienio.jpg",
              title: "Oportunidades de bolsas e auxílios em projetos conjuntos com o IPT - Projeto Inova Talentos, edição 01/2017.",
              date:  new Date(2017,03,06),
              body:  "Estão abertas as inscrições, até dia 20/04/2017, para candidatos ao programa 'Novos Talentos': Programa de apoio à pesquisa de pós-graduação e pós-doutorado. Mais informaçõe <a href='" + assets + "downloads/ipt_novos_talentos.pdf' target='_blank'>clique aqui</a>."
          },
          
          {
              image: "bienio.jpg",
              title: "Professor do departamento desenvolveu projeto de pesquisa em parceria com Prêmio Nobel de Química",
              date:  new Date(2016,10,10),
              body:  "Douglas Gouvêa, professor do Departamento de Engenharia Metalúrgica e de Materiais, é um dos coautores, com J. Fraser Stoddart, de artigo sobre nanotecnologia. <a href='http://www.poli.usp.br/pt/comunicacao/noticias/2044-professor-da-poli-usp-desenvolveu-projeto-de-pesquisa-em-parceria-com-premio-nobel-de-quimica.html' target='_blank'>Clique aqui</a> para ler a matéria completa."
          },
          
          
          {
              image: "bienio.jpg",
              title: "6º Encontro INCT-Nano Carbono",
              date:  new Date(2016,10,10),
              body:  "De 7 a 9 de Novembro 2016 - Curitiba - PR. <a href='http://inctcarbono.wixsite.com/encontro2016' target='_blank'>Clique aqui</a> para conferir mais informações."
          },
          
          {
              image: "bienio.jpg",
              title: "Bolsa de mestrado profissional no exterior",
              date:  new Date(2016,10,10),
              body:  "<a href='http://cnpq.br/web/guest/noticiasviews/-/journal_content/56_INSTANCE_a6MO/10157/5536560' target='_blank'>Clique aqui</a> para conferir mais informações."
          },
         ]
