extends ./templates/main/main.jade

block page-name
  - var page_name = "Graduação"

block home
  - var home_path = "./"
  
block stylesheet
  - var stylesheet = "landing.min.css"
  
block page-title
  - page_title = "PMT - Departamento de Engenharia Metalúrgica e de Materiais - POLI/USP"

block content
  - if (lang === "pt_br")  
    .news-bar
      
      include _news/news.jade
      
      .container-fluid
        .container 
          h1.session-title
            | Últimas Notícias
          a(href=home_path+"noticias/index.html")  
            span.pull-right.more-news-btn
              | + Notícias
          
          //- .row
          .multiple-items
            each item, index in news.sort(function(a,b){return b.date-a.date})
              if index < 15
                //- .col-sm-3.news-col
                .news-block
                  .news-content
                    .news-header
                      h3.news-title
                        | #{item.title}
                      p.news-date 
                        span(class="glyphicon glyphicon-time" aria-hidden="true")
                        = item.date.getDate() + "." + item.date.getMonth() + "." + item.date.getFullYear() 
                    p.news-body 
                      != item.body
    
  .container.landing
    .row
      .col-sm-9
        .row
          .col-sm-6.mobile-session
            h1.session-title
              != strings.home.materials
            p.session-body
              != strings.home.materialsInfo

          .col-sm-6.mobile-session
            h1.session-title
              != strings.home.metallurgical
            p.session-body
              != strings.home.metallurgicalInfo
            
      .col-sm-3
        .sidebar
          h2.sidebar-title
            != strings.home.contact
          p.sidebar-body
            != strings.home.contactInfoUndergraduate
            a(href="mailto:vera.santos@usp.br") 
              | Vera Lúcia.
          p.sidebar-body
            != strings.home.contactInfoGraduate
            a(href="mailto:suellen.alves@usp.br") 
              | Suellen.
          p.sidebar-body
            span.field-title
              != strings.home.phone
            | &nbsp;+55 (11) 3091-5235
            br/
            span.field-title
              | Fax: 
            | +55 (11) 3091-5243
            br/
            br/
            != strings.home.contactTime
        
        .sidebar
          h2.sidebar-title
            != strings.home.address
          p.sidebar-body
            | Av. Professor Mello Moraes, 2463
            br/
            | CEP: 05508-030
            br/
            | São Paulo/SP
            br/
            br/
        
        .sidebar.ferreiro
          img(src=assets+"img/ferreiro.gif", style="width: 100%; border: 1px solid #eae7e3")
          .contador(style="text-align: center; margin-top: 20px;")
            script(type="text/javascript" src="http://www.contadorgratis.pog.com.br/contador.php?page=201610101476143424&estilo=web1&tp=0")
          
              
