.content
  font-family: 'PT Sans', sans-serif
  font-size: 15px

  li
    padding-bottom: 10px

  .external-link
    font-size: 10px
    padding-left: 5px

  .general-info
    img
      width: 100%

    .lecturer-name
      font-family: 'Open Sans Condensed', sans-serif
      font-weight: 700
      font-size: 30px

    .lecturer-info
      margin-bottom: 5px
      .title
        font-weight: 700
      

  .education_background
    .year
      text-align: right

      span
        font-weight: 700

    .info
      border-left: 1px solid #bbb
      padding-right: 10px
      margin-bottom: 20px

      .title
        font-weight: 700

      .university
        margin-bottom: 0px
