.equipe-docentes
  .professors-list
    font-family: 'PT Sans', sans-serif
    font-size: 16px
    
    .professor
      margin-bottom: 50px
      
      .professor-picture
        img
          width: 100%
        
      .professor-name
        margin-bottom: 10px
        
        a
          font-weight: 700
              
      .research-area
        margin-top: 10px
        
        .comma:last-child
          display: none
        
@media (max-width: $breakpoint-mobile)
  .equipe-docentes
    .professors-list
      .professor
        padding-bottom: 30px
        border-bottom: 1px solid #ccc
        
        .professor-picture
          text-align: center
          
          img
            width: 60% 
            margin-bottom: 20px
      
      .professor:last-child
        border-bottom: 0px