-
  paths =  { "The Department": 
              [
                {name:"Overview", relative_path:"departamento/index.html#departamento-overview"},
                {name:"Our History", relative_path:"departamento/index.html#departamento-history"},
                {name:"Mission", relative_path:"departamento/index.html#departamento-mission"},
                {name:"Vision", relative_path:"departamento/index.html#departamento-vision"},
                {name:"Head Office", relative_path:"departamento/index.html#departamento-administracao"},
                {name:"Contact", relative_path:"departamento/index.html#departamento-contact"}
              ],
            "Undergraduate": 
              [
                {name:"Program", relative_path:"graduacao/index.html"},
                {name:"Final Year Project", relative_path:"graduacao/trabalhos-formatura/index.html"},
                {name:"Internship", relative_path:"graduacao/estagio/index.html"}
              ],
            "Graduate": 
              [
                {name:"Graduate", relative_path:"pos-graduacao/index.html"}
              ],
            "Research": 
              [
                {name:"Laboratories", relative_path:"pesquisa/laboratorios/index.html"},
                {name:"Research Guidelines to the Students", relative_path:"assets/downloads/manual_ic.pdf", target: "_blank"}
              ],
            "Extension and Culture": 
              [
                {name:"Extension and Culture", relative_path:"extensao/index.html"},
              ],
            "People": 
              [
                {name:"Faculty", relative_path:"equipe/docentes/index.html"},
                {name:"Supporting Staff", relative_path:"equipe/apoio/index.html"}
              ],
            "Misc": 
              [
                {name:"Sites & External Links", relative_path:"diversos/sites-links/index.html"},
                {name:"News", relative_path:"diversos/noticias/index.html"},
              ]
              
          }
