-
  paths =  { "O Departamento": 
              [
                {name:"Panorama", relative_path:"departamento/index.html#departamento-overview"},
                {name:"Nossa História", relative_path:"departamento/index.html#departamento-history"},
                {name:"Missão", relative_path:"departamento/index.html#departamento-mission"},
                {name:"Contato", relative_path:"depatamento/index.html#contact"}
              ],
            "Graduação": 
              [
                {name:"Programa dos Cursos", relative_path:"graduacao/programa/index.html"},
                {name:"Disciplinas e Horários", relative_path:"graduacao/disciplinas-horarios/index.html"},
                {name:"Calendário Acadêmico", relative_path:"graduacao/calendario/index.html"},
                {name:"Administração", relative_path:"graduacao/administracao/index.html"}
              ],
            "Pós-Graduação": 
              [
                {name:"Sobre os Cursos", relative_path:"pos-graduacao/index.html"},
                {name:"Notícias", relative_path:"pos-graduacao/noticias/index.html"}
              ],
            "Equipe": 
              [
                {name:"Corpo Docente", relative_path:"equipe/docentes/index.html"},
                {name:"Equipe de Apoio", relative_path:"equipe/apoio/index.html"}
              ],
            "Laboratórios": 
              [
                {name:"Laboratórios", relative_path:"laboratorios/index.html"}
              ]
          }
