-
  paths =  { "O Departamento": 
              [
                {name:"Panorama", relative_path:"departamento/index.html#departamento-overview"},
                {name:"Nossa História", relative_path:"departamento/index.html#departamento-history"},
                {name:"Missão", relative_path:"departamento/index.html#departamento-mission"},
                {name:"Visão", relative_path:"departamento/index.html#departamento-vision"},
                {name:"Administração", relative_path:"departamento/index.html#departamento-administracao"},
                {name:"Contato", relative_path:"departamento/index.html#departamento-contact"}
              ],
            "Graduação": 
              [
                {name:"Sobre os Cursos", relative_path:"graduacao/index.html"},
                {name:"Trabalhos de Formatura", relative_path:"graduacao/trabalhos-formatura/index.html"},
                {name:"Estágio", relative_path:"graduacao/estagio/index.html"}
              ],
            "Pós-Graduação": 
              [
                {name:"Pós-Graduação", relative_path:"pos-graduacao/index.html"}
              ],
            "Pesquisa": 
              [
                {name:"Laboratórios", relative_path:"pesquisa/laboratorios/index.html"},
                {name:"Manual de Pesquisa para Alunos", relative_path:"assets/downloads/manual_ic.pdf", target: "_blank"}
              ],
            "Extensão e Cultura": 
              [
                {name:"Extensão e Cultura", relative_path:"extensao/index.html"},
              ],
            "Equipe": 
              [
                {name:"Corpo Docente", relative_path:"equipe/docentes/index.html"},
                {name:"Equipe de Apoio", relative_path:"equipe/apoio/index.html"}
              ],
            "Diversos": 
              [
                {name:"Sites & Links Externos", relative_path:"diversos/sites-links/index.html"},
                {name:"Notícias", relative_path:"diversos/noticias/index.html"},
              ]
              
          }
