extends ../../templates/docentes/professor/professor.jade

block page-name
  - var page_name = "Equipe"
  
block home
  - var home_path = "../../../" 

block stylesheet
  - var stylesheet = "equipe_docentes_professor.min.css" 

block page-title
  - page_title = professor_name + " - " + page_title
  
block breadcrumbs-path
  -
    breadcrumbs_path = { "Home"   : home_path, 
                         "Equipe" : home_path + "equipe/index.html",  
                         "Corpo Docente" : home_path + "equipe/docentes/index.html" }
                         
  = breadcrumbs_path[professor_name] = ""

block professor-info
   
  include _professores-info/professores-info.jade
  include ./../../pesquisa/laboratorios/_lab-info/lab-info.jade
  
  - var laboratory = {}
  
  each item in laboratories
    if item.professor == professor_name
      - laboratory = item
 
  each professorInfo in professors
    if professorInfo.name == professor_name
  
     -
       professor = { name: professorInfo.name,
                     picture_path : professorInfo.picture, 
                     phone : professorInfo.phone,
                     email : professorInfo.email,
                     category : professorInfo.category,
                     laboratory : { name: laboratory.name, link: laboratory.internal_site_url},
                     lattes: professorInfo.lattes,
                     researcherId: professorInfo.researcherId,
                     orcid: professorInfo.orcid} 
     -
       education_background = professorInfo.academic_backgroud   
     -
       undergraduation_module = professorInfo.modules.undergraduation
     -
       graduation_module = professorInfo.modules.graduation                     
     -
       research_areas = professorInfo.research
     -
       consultings = professorInfo.consultings
 
