-
  laboratories = [
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Engenharia de Macromoléculas",
                    name_en: "Macromolecules Engineering & Polymer Mixture And Transforming Laboratories",
                    initials: "LEM",
                    professor: "Wang Shu Hui",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"pesquisa/laboratorios/lem/index.html",
                    external_site_url: "",
                    activities: "O laboratório tem por objetivo a análise de materiais, particularmente polímeros, com objetivo de utilizar o mesmo em tecnologias sustentáveis, incluindo biomateriais, produtos biodegradáveis, células solares orgânicas e dispositivos orgânicos eletroluminescentes, entre outros.",
                    activities_en: "The analysis of materials, particularly polymers, with a view to using the same in sustainable technologies, including biomaterials, biodegradable products, organic solar cells and electroluminescent organic devices, among others.",
                    equipments: ["Fornos à vácuo","Estufas","Glove Boxes","Evaporador rotativo","Banhos termostáticos para aquecimento e resfriamento","Espectômetro de absorção UV-Vis","Espectômetro fluorescente UV-Vis","Espectômetro infravermelho","Simulador solar","Voltage-current curve sources and tracers","Sistema de medição do efeito Hall","Sistema de alta voltagem para deposição eletrostática","Sistema de deposição de filmes através de spin-coating e aquecimento","Mini prensa (20 x 20 cm2)","Mini extrusora (a partir de 200g)","Mini extrusora (a partir de 5g)","Mini injetora (a partir de 3g)"],
                    equipments_en: ["Vacuum ovens", "Drying ovens", "Gloveboxes", "Rota evaporators", "Ultrathermostatized baths for heating and cooling", "UV-Vis absorption spectrophotometer", "UV-Vis fluorescent spectrophotometer", "Infrared spectrometer", "Solar simulator", "Voltage-current curve sources and tracers", "System for measuring the Hall effect", "High-voltage system for electrospinning", "Film deposition system via spin-coating and heating", "Mini press (20 x 20 cm)", "Mini extruder (from 200g)", "Mini extruder (from 5g)", "Mini injector (from 3g)"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Microscopia Eletrônica e de Força Atômica",
                    name_en: "Electronic And Atomic Force Microscopy Laboratory",
                    initials: "LabMicro",
                    professor: "André Paulo Tschiptschin",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"pesquisa/laboratorios/labmicro/index.html",
                    external_site_url: "http://www.pmt.usp.br/Labmicro/index.htm",
                    activities: "O laboratório é equipado para testes microestruturais em escala micrométrica e nanométrica.",
                    activities_en: "This laboratory is equipped for microstructural testing on a micrometric and nanometric scale.",
                    equipments: ["Microscópio eletrônico de varredura Philips XL-30 com detector de elétrons secundários e retroespalhados","Espectômetro de Raios X EDS EDAX","Câmera e software TSL para determinar a microestrutura dos materiais usando a técnica EBSD","Microscópio eletrônico de varredura FEI Quanta 450 FEG com detector de elétrons secundários e retroespalhados","Microscópio de força atômica Shimadzu - SPM 9500 para análise de forças de contato, não-contato e magnéticas","Durômetro Shimadzu","Equipamento Hysitron de nanoindentação linear e nano esclerometria acoplado ao microscópio de força atômica Shimadzu","Equipamento para avaliação de adesão de filmes e camadas de substrato","Esclerômetro linear CETR-UMT-2 com sensor acústico e acoplado ao microscópio para monitoramento in situ do teste."],
                    equipments_en: ["Philips XL-30 scanning electron microscope with a secondary and backscattered electron detector", "EDS EDAX X-ray spectrometer", "TSL camera and software to determine the microtexture of materials using the EBSD technique", "FEI Quanta 450 FEG scanning electron microscope with a secondary and backscattered electron detector", "Shimadzu - SPM 9500 atomic force microscope for contact, non-contact and magnetic force analysis", "Shimadzu durometer", "Hysitron linear nanoindentation and nanosclerometry equipment coupled to the Shimadzu atomic force microscope", "Equipment for the assessment of the adhesion of films and substrate layers. CETR-UMT-2 linear instrumented sclerometer with an acoustic emission sensor and coupled microscope for in situ monitoring of the test."]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Moagem de Alta Energia, Materiais de Carbono e Compósitos",
                    name_en: "High Energy Milling, Carbon Materials And Composites For High Temperatures Laboratory",
                    initials: "LM<sup>2</sup>C<sup>2</sup>",
                    professor: "Guilherme Frederico Bernardo Lenz e Silva",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"pesquisa/laboratorios/lm2c2/index.html",
                    external_site_url: "http://www.pmt.usp.br/ACADEMIC/guilherme/laboratorio/INDEX.html",
                    activities: "O Laboratório de Moagem de Alta Energia, Materiais, Carbono e Compósitos para Altas Temperaturas (LM²C²/USP), busca desenvolver novos materiais e materiais compósitos contendo carbono como parte da matriz e sistema ligante para aplicações em ambientes onde os processos de corrosão e oxidação degradam e comprometem a vida de dispositivos, componentes e reatores químicos. O laboratório pesquisa a produção de materiais metálicos e ligas metálicas produzidas por moagem de alta energia a base de alumínio-silício-magnésio, titânio e boro como agentes antioxidantes e/ou precursores de carbetos e boretos para aplicações em elevadas temperaturas, com o objetivo de proteger o carbono e seus compósitos contra a oxidação. O Laboratório conduz também pesquisas para a modificação superficial das diversas fontes de carbono, tais como negro de fumo, grafita, piches sólidos, nanotubos e grafeno de forma a otimizar propriedades térmicas, químicas e mecânicas de compósitos óxido-carbono e materiais refratários utilizados em elevadas temperaturas. Outras linhas de pesquisa são a modificação catalítica do processo de grafitização de resinas/polímeros, deposição de carbono e análise de risco do manuseio seguro de nanomateriais, nanofibras e nanoparticulados metálicos e nanocarbonos.",
                    activities_en: "The laboratory for the milling of high energy carbon materials and composites for high temperatures (LM²C²/USP) strives to develop new materials and composite materials containing carbon as part of the matrix and associated system for use in environments where processes of corrosion and oxidation degrade and undermine the life of devices, components and chemical reactors. The laboratory researches the production of metallic materials and metal alloys produced by high-energy milling based on aluminum-silicon-magnesium, SIALONs, titanium and boron as antioxidant agents and/or precursors of carbides and borides for use in high temperature, with the objective of protecting the carbon, such as soot, graphite, solid tar, nanotubes and graphene as a mean of optimizing the thermal, chemical and mechanical properties of oxide-carbon composites and refractory materials used in high temperatures. Other lines of research include the catalytic modification of the graphitization process of resins/polymers, the deposition of carbon, and the risk analysis of the safe handling of nanomaterials, nanofibers and metallic nanoparticles and nanocarbons.",
                    equipments: ["Fornos tipo poço, mufla e tubular de até 1400 <sup>o</sup>C", "Forno de alta temperatura até 1700 <sup>o</sup>C - EDG 1700", "Moinhos de alta energia Spex, Attritor e Pulverisette 6", "Sistema de analise térmica: DSC/TG/DTA Netzsch até 1800 <sup>o</sup>C", "Misturador de alta intensidade Eirich (modelo R02)", "Sistema de medição de módulo de elasticidade e amortecimento por excitação por impulso Sonelastic", "Sistemas acessórios: prensa, glove box, pirômetro 2100 <sup>o</sup>C, célula hidrotérmica, medição de turbidez, etc.", "Softwares: 1000minds, Neurosolutions, FACTsage, COMSOL, FurnaceXpert, Oracle Crystal Ball"],
                    equipments_en: ["General use furnaces from 1000 to 1400 <sup>o</sup>C", "High temperature (1700 <sup>o</sup>C) with environmental atmosphere control with nitrogen, argon or air", "High intensive mills (Spex, attritor and Pulverissete 6)", "DSC/TG/DTA - Differential thermal analysis system – Netzsch until 1800 <sup>o</sup>C", "Eirch intensive mixer (R02 model – 5 Kg)", "Elastic modulus (Young's Modulus, shear modulus and Poisson's ratio) measurement system using impulse excitation technique from Sonelastic Company.", "General equipment’s: glove box, high temperature (2100 <sup>o</sup>C) laser meter, hydrothermal cells, etc.", "Software’s: 1000Minds, Neural networking modeling from Neurosolution, FACTsage, COMSOL, FurnaceXpert, Oracle Crystal Ball, etc."]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Processos Cerâmicos",
                    name_en: "Laboratório de Processos Cerâmicos",
                    initials: "LPC",
                    professor: "Douglas Gouvêa",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"pesquisa/laboratorios/lpc/index.html",
                    external_site_url: "http://www.pmt.usp.br/ACADEMIC/dgouvea/nova_pagina/index.html",
                    activities: "O laboratório conduz pesquisas focadas em: química de colóides e superfícies aplicada para avaliar a estabilidade de suspensões cerâmicas; síntese de pós cerâmicos nanométricos através de rotas químicas; sinterização de pós nanométricos e processamento de cerâmicas: fabricação de perfis no que diz respeito à possibilidade de aplicações nas engenharias química, metalúrgica, elétrica e eletrônica e civil.",
                    activities_en: "O laboratório conduz pesquisas focadas em: química de colóides e superfícies aplicada para avaliar a estabilidade de suspensões cerâmicas; síntese de pós cerâmicos nanométricos através de rotas químicas; sinterização de pós nanométricos e processamento de cerâmicas: fabricação de perfis no que diz respeito à possibilidade de aplicações nas engenharias química, metalúrgica, elétrica e eletrônica e civil.",
                    equipments: ["Micrometrics Gemini III 2375 Analyzer","ESA-8000 - Matec System (Zeta Potencial)","Espectômetro Nicolet Magna-IR 560 FT-IR","Porosímetro de Mercúrio Micrometrics Autopore III 9410","Viscosímetro The DV-II+ Digital","Analisador de tamanho de gota e partícula Malvern Series 2600","Forno e Forno Tubular de Alta Temperatura (1500-1600°C)","Prensa Uniaxial"],
                    equipments_en: ["Micrometrics Gemini III 2375 Analyzer","ESA-8000 - Matec System (Zeta Potencial)","Espectômetro Nicolet Magna-IR 560 FT-IR","Porosímetro de Mercúrio Micrometrics Autopore III 9410","Viscosímetro The DV-II+ Digital","Analisador de tamanho de gota e partícula Malvern Series 2600","Forno e Forno Tubular de Alta Temperatura (1500-1600°C)","Prensa Uniaxial"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Processos Eletroquímicos",
                    name_en: "Laboratório de Processos Eletroquímicos",
                    initials: "LPE",
                    professor: "Hercílio Gomes de Melo",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"pesquisa/laboratorios/lpe/index.html",
                    external_site_url: "http://www.pmt.usp.br/LPE/index.htm",
                    activities: "O LPE é equipado para conduzir testes para a análise de corrosão de materiais metálicos, baseada em grande parte em curvas de polarizaçãoe perda de massa. O Laboratório H2S é parte do LPE e é designado ao estudo de corrosão e fragilização em oleodutos de aço em gases especiais.",
                    activities_en: "O LPE é equipado para conduzir testes para a análise de corrosão de materiais metálicos, baseada em grande parte em curvas de polarizaçãoe perda de massa. O Laboratório H2S é parte do LPE e é designado ao estudo de corrosão e fragilização em oleodutos de aço em gases especiais.",
                    equipments: ["Potenciostatos","Software de corrosão","Microscópio Óptico","Células eletroquímicas","Gabinete de segurança para gases","Fornos","Bomba de vácuo","Balanças de precisão","Testador de erosão/corrosão","Dispositivo de segurança de vazamento de gás tóxico com alarme","Controle de fluxo gasoso e painel de medição","Gas Washer"],
                    equipments_en: ["Potenciostatos","Software de corrosão","Microscópio Óptico","Células eletroquímicas","Gabinete de segurança para gases","Fornos","Bomba de vácuo","Balanças de precisão","Testador de erosão/corrosão","Dispositivo de segurança de vazamento de gás tóxico com alarme","Controle de fluxo gasoso e painel de medição","Gas Washer"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Simulação de Engenharia de Materiais",
                    name_en: "Laboratório de Simulação de Engenharia de Materiais",
                    initials: "LSEM",
                    professor: "Marcelo de Aquino Martorano",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"pesquisa/laboratorios/lsem/index.html",
                    external_site_url: "",
                    activities: "Desenvolver modelos matemáticos para a análise de fenômenos que ocorrem no processamento de materiais. Muito do trabalho realizado neste laboratório é relacionado ao modelamento de fenômenos de transporte e transformação de fase, como é o caso da solidificação de metais.",
                    activities_en: "Desenvolver modelos matemáticos para a análise de fenômenos que ocorrem no processamento de materiais. Muito do trabalho realizado neste laboratório é relacionado ao modelamento de fenômenos de transporte e transformação de fase, como é o caso da solidificação de metais.",
                    equipments: ["6 microcomputadores pessoais","Software Pro-Cast para a simulação de processos de fundição","Software Comsol Multiphysics para simulações de fenômenos de transporte","Software Tecplot para visualização de resultados numéricos","Softwares gerais: Office, Origin, Matlab"],
                    equipments_en: ["6 microcomputadores pessoais","Software Pro-Cast para a simulação de processos de fundição","Software Comsol Multiphysics para simulações de fenômenos de transporte","Software Tecplot para visualização de resultados numéricos","Softwares gerais: Office, Origin, Matlab"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Transformações de Fases",
                    name_en: "Laboratório de Transformações de Fases",
                    initials: "LTF",
                    professor: "Hélio Goldenstein",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"pesquisa/laboratorios/ltf/index.html",
                    external_site_url: "",
                    activities: "Os trabalhos de pesquisa realizados neste laboratório visam combinar métodos globais de monitoramento de transformações de fase com métodos locais de observação direta. Exemplos de métodos globais são medidas de propriedades mecânicas e físicas, dilatometria, análise térmica, Difração de Raios X, etc. Exemplos de métodos locais são técnicas metalográficas aplicadas a microscopias óptica e eletrônica.",
                    activities_en: "Os trabalhos de pesquisa realizados neste laboratório visam combinar métodos globais de monitoramento de transformações de fase com métodos locais de observação direta. Exemplos de métodos globais são medidas de propriedades mecânicas e físicas, dilatometria, análise térmica, Difração de Raios X, etc. Exemplos de métodos locais são técnicas metalográficas aplicadas a microscopias óptica e eletrônica.",
                    equipments: ["Well Furnaces heat for heat treatment in salt and oil baths","Muffle furnaces","Vacuum and atmospherically controlled tube furnaces","Chamber furnace for treatment up to 1500°C","Cryostat","Fina cutting machine","Automatic polishing machine","Optical microscope","Adamel Lomarghi dilatometer*","Bähr dilatometer"],
                    equipments_en: ["Well Furnaces heat for heat treatment in salt and oil baths","Muffle furnaces","Vacuum and atmospherically controlled tube furnaces","Chamber furnace for treatment up to 1500°C","Cryostat","Fina cutting machine","Automatic polishing machine","Optical microscope","Adamel Lomarghi dilatometer*","Bähr dilatometer"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Computação em Ciência dos Materiais",
                    name_en: "Material Science Computer Laboratory",
                    initials: "LCCMat",
                    professor: "Cláudio Geraldo Schön",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"pesquisa/laboratorios/lccmat/index.html",
                    external_site_url: "http://www.pmt.usp.br/LCCMat/LCCMat.html",
                    activities: "O laboratório é equipado com dois computadores pessoais e está registrado juntamente com o Laboratório de Computação Científica Avançada do Centro de Computação Eletrônica da Universidade de São Paulo visando o uso dos recursos disponíveis nesta instituição. Para um futuro próximo planeja-se a aquisição de recursos adicionais de computação avançada que farão parte da instalação física do LCCMat.",
                    activities_en: "The materials engineering computer laboratory is equipped with two personal computers and is registered together with the advanced scientific computer laboratory of the electronic computer center of the University of São Paulo, with a view to the use of the resources available at this institution.",
                    equipments: ["Programas Thermocalc e Dictra, desenvolvidos pelo Instituto Real de Tecnologia de Estocolmo, Suécia e adquiridos pelo departamento de engenharia metalúrgica e de materiais em 1997. Estes programas correspondem a máquinas de cálculo de diagramas de fases (Thermocalc) e de cinética de reações controladas por difusão (Dictra) associadas a poderosos bancos de dados, que permitem a aplicação a ampla gama de problemas de interesse da Engenharia Metalúrgica e de Materiais","Programas para o cálculos termodinâmicos usando o Método Variacional de Clusters (Cluster Variation Method, CVM) em sistemas com até 17 componentes","Programas para cálculos termodinâmicos empregando simulações pelo Método de Monte Carlo em sistemas com até 16 componentes","Planeja-se ampliar o escopo do LCCMat no próximo ano por meio do convite a especialistas no campo de simulação atomística de materiais para uma estadia de curta duração"],
                    equipments_en: ["The Thermocalc and Dictra programs, which correspond to machinery for the calculation of phase diagrams (Thermocalc) and the kinetics of reactions controlled by diffusion (Dictra), associated with powerful databases which allow for the application of a wide range of problems in relation to metallurgical and materials engineering.", "Programs for thermodynamic calculations using the Cluster Variation Method (CVM) in systems with up to 17 components.", "Program for thermodynamic calculations using the Monte Carlo Method in systems of up to 16 components."]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Caracterização Microestrutural Hubertus Colpaert",
                    name_en: "Microstructural Characterization Hubertus Colpaert Laboratory",
                    initials: "LCMHC",
                    professor: "Eduardo Franco de Monlevade",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"pesquisa/laboratorios/lcmhc/index.html",
                    external_site_url: "",
                    activities: "As atividades principais do laboratório são as diversas atividades didáticas para o ensino de graduação, especialmente nas disciplinas de Transformações de fases, Seleção de Materiais, Análise de falhas, Ceramografia e Metalografia. Adicionalmente, o laboratório oferece instalações básicas para alunos de pós-graduandos e trabalhos de consultoria em áreas como corrosão, análise de falhas, soldagem e otimização microestrutural.",
                    activities_en: "The main activities of the laboratory are the various didatic activities for undergraduate studies, especially in subjects such as Phase Transformation in Metals, Selection of Materials, Failure Analysis, Ceramography and Metallography. Additionally, the laboratory offers basic facilities for graduate students and consultancy work in areas such as corrosion, failure analysis, welding and microstructural optimization.",
                    equipments: ["2 Speed saw devices, Struers","4 Precision sectioning saw device, Buehler","5 Metallographic compression mounting presses, Struers and Teclago","1 Vacuum system for metallographic sample preparation, Buehler","2 Manual grunders, Buehler","4 Semiautomatic grinders, Arotec","1 High velocity samiautomatic grinder, Buehler","20 Semiautomatic polishing machines","2 Automatic polishing machines, Struers","1 Vibrational polisher, Struers","2 Electrolytic polishing and etching devices, Struers","10 Optical reflective microscopes with 5MP digital camera (BX60M), Olympus","3 Optical reflective microscopes (Metaval, Jeneval and Ultraphot), Carls Zeiss","1 Optical inverted microscope with 5MP digital camera, NeoPhot 30, Carl Zeiss","2 Stereomicroscopes, Carl Zeiss","2 Hardness testers, Otto Wolpert and Wolpert Sussen","2 Microhardness testers, Wilson Tukon and Swick","1 Ultrasonic cleaner, Quimis","1 Heat treatment furnace, Metaltrend"],
                    equipments_en: ["2 Speed saw devices, Struers","4 Precision sectioning saw device, Buehler","5 Metallographic compression mounting presses, Struers and Teclago","1 Vacuum system for metallographic sample preparation, Buehler","2 Manual grunders, Buehler","4 Semiautomatic grinders, Arotec","1 High velocity samiautomatic grinder, Buehler","20 Semiautomatic polishing machines","2 Automatic polishing machines, Struers","1 Vibrational polisher, Struers","2 Electrolytic polishing and etching devices, Struers","10 Optical reflective microscopes with 5MP digital camera (BX60M), Olympus","3 Optical reflective microscopes (Metaval, Jeneval and Ultraphot), Carls Zeiss","1 Optical inverted microscope with 5MP digital camera, NeoPhot 30, Carl Zeiss","2 Stereomicroscopes, Carl Zeiss","2 Hardness testers, Otto Wolpert and Wolpert Sussen","2 Microhardness testers, Wilson Tukon and Swick","1 Ultrasonic cleaner, Quimis","1 Heat treatment furnace, Metaltrend"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Matérias Primas Particuladas e Sólidos não Metálicos",
                    name_en: "Particulate And Non-Metallic Solids Laboratory",
                    initials: "LMPSol",
                    professor: "Antonio Carlos Vieira Coelho",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"pesquisa/laboratorios/lmpsol/index.html",
                    external_site_url: "",
                    activities: "O escopo do LMPSol baseia-se em linhas de pesquisa bem consolidadas nas áreas de ciência e tecnologia, no que tange argilas, argilas minerais, minerais industriais, materiais cerâmicos tradicionais e vidros. Além destas, outras linhas de pesquisa relacionadas ao meio ambiente estão, atualmente, em desenvolvimento: tratamento e reciclagem de resíduos sólidos e descarte de resíduos perigosos resultantes de processos químicos industriais.",
                    activities_en: "The scope of LMPSol is based on well consolidated lines in the research of scientific and technological aspects involving clays, clay minerals, industrial minerals, traditional ceramic materials and glass. Furthermore, other lines of research in connection with the environment are under development: tge treatment and recycling of solid waste and the disposal of hazardous waste from industrial chemical processes.",
                    equipments: ["X-ray diffractometer", "BET gas adsorption measuring equipment", "Rheometer (Brookfiled and Fann)", "Calender", "Hydraulic press", "Mills(ball, knife, eccentric and vibratory)", "High-temperature furnaces", "Ovens for thermal treatment", "Stereoscopes", "Chemical laboratory", "Centrifuges"],
                    equipments_en: ["X-ray diffractometer", "BET gas adsorption measuring equipment", "Rheometer (Brookfiled and Fann)", "Calender", "Hydraulic press", "Mills(ball, knife, eccentric and vibratory)", "High-temperature furnaces", "Ovens for thermal treatment", "Stereoscopes", "Chemical laboratory", "Centrifuges"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratórios de Reologia e Processamento de Materiais Poliméricos",
                    name_en: "Laboratórios de Reologia e Processamento de Materiais Poliméricos",
                    initials: "RPPL",
                    professor: "Ticiane Sanches Valera",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"laboratorios/rppl/index.html",
                    external_site_url: "http://www.pmt.usp.br/ACADEMIC/nick/research%20group/",
                    activities: "A principal atividade conduzida neste laboratório são: Viscoelasticidade linear e não linear de blendas poliméricas; Tensão interfacial em blendas poliméricas; Nanocompositos e Modificacao de superficie a plasma",
                    activities_en: "A principal atividade conduzida neste laboratório são: Viscoelasticidade linear e não linear de blendas poliméricas; Tensão interfacial em blendas poliméricas; Nanocompositos e Modificacao de superficie a plasma",
                    equipments: ["Pedant drop apparatus", "Sr 5000 and ARES rotational rheometer", "Ares rheometer", "Goniometer equpipment", "Vacuum oven", "Injection Molding Machine","Torque rheometers","Plasma reactors","Breaking threat equipment","Hydraulic press reactors","Granulator"],
                    equipments_en: ["Pedant drop apparatus", "Sr 5000 and ARES rotational rheometer", "Ares rheometer", "Goniometer equpipment", "Vacuum oven", "Injection Molding Machine","Torque rheometers","Plasma reactors","Breaking threat equipment","Hydraulic press reactors","Granulator"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Auto Redução e Fusão Redução",
                    name_en: "Self-Reduction and Fusion-Reduction Laboratory",
                    initials: "LABRED",
                    professor: "Marcelo Breda Mourão",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"pesquisa/laboratorios/labred/index.html",
                    external_site_url: "",
                    activities: "Estuda os aspectos básicos e tecnologicos da área de auto-redução (principalmente redução carbotermal de oxidos metálicos), processos de auto redução e fusão, obtenção de briquetes de compositos de carbono; obtenção e uso de redutores usando biomassa; redução do consumo de energia e geração de gases de efeito estufa m processos metalurgicos; uso de energia microondas em processos metalurgicos; recuperação de metais de resíduos industriais",
                    activities_en: "Basic and technological research of all aspects of self-reduction, principally the carbothermal reduction of metal oxides; the basic and technological aspects of tabletting processes, fusion-reduction processes; the obtainment of carbon composite briquettes; the obtainment and use of reducers using biomass; a reduction in the consumption of energy and the generation of greenhouse gases in metallurgical processes; the use of microwave energy in metallurgical processes; the recovery of metals from industrial waste.",
                    equipments: ["Thermal analysis (TG, DSC, DTA)","Macrothermogravimetrics", "High-intensitymixer", "Briquette maker", "Pelletizer", "Sinterizer", "Induction furnace", "Electirc muffle furnace","Universal mechanical testing machine","Hot stage microscope", "High energi mills", "Microwaveenergy applicators"],
                    equipments_en: ["Thermal analysis (TG, DSC, DTA)","Macrothermogravimetrics", "High-intensitymixer", "Briquette maker", "Pelletizer", "Sinterizer", "Induction furnace", "Electirc muffle furnace","Universal mechanical testing machine","Hot stage microscope", "High energi mills", "Microwaveenergy applicators"]
                  },
                  { image_url: [assets+"images/bienio.jpg"],
                    name: "Laboratório de Soldagem & Junção",
                    name_en: "Laboratório de Soldagem & Junção",
                    initials: "LABSOLD",
                    professor: "Sérgio Duarte Brandi",
                    phone_number: "+55 (11) 3091-5235",
                    internal_site_url: home_path+"pesquisa/laboratorios/labsold/index.html",
                    external_site_url: "",
                    activities: "A pesquisa desenvolvida no laboratório de Soldagem & Junção (LABSOLD) é focada no desenvolvimento da inter-relação do processo de soldagem, metalurgia da soldagem e comportamento da soldagem/junção dos materiais metálicos (aços e ligas não ferrosas) e de materiais poliméricos.",
                    activities_en: "A pesquisa desenvolvida no laboratório de Soldagem & Junção (LABSOLD) é focada no desenvolvimento da inter-relação do processo de soldagem, metalurgia da soldagem e comportamento da soldagem/junção dos materiais metálicos (aços e ligas não ferrosas) e de materiais poliméricos.",
                    equipments: ["Equipamento multipropósito de soldagem: GMAW, SMAW, GTAW e FCAW","Equipamento de corte a plasma","Equipamento de análise de hidrogênio em soldas","Equipamento para determinação de umidade em materiais de adição e formadores de escória protetivas de eletrodos consumíveis","Equipamento de medição de dureza","Ferri e estéreo microscópio","Equipamento de soldagem de polímeros por ultrassom","Equipamento de gota séssil para brasagem e soldagem"],
                    equipments_en: ["Equipamento multipropósito de soldagem: GMAW, SMAW, GTAW e FCAW","Equipamento de corte a plasma","Equipamento de análise de hidrogênio em soldas","Equipamento para determinação de umidade em materiais de adição e formadores de escória protetivas de eletrodos consumíveis","Equipamento de medição de dureza","Ferri e estéreo microscópio","Equipamento de soldagem de polímeros por ultrassom","Equipamento de gota séssil para brasagem e soldagem"]
                  }]
