extends base.jade

block home
  - var home_path = "../"

block stylesheet
  - var stylesheet = "graduacao.min.css"
  
block page-title
  - var page_title = page_title

block breadcrumbs-path
  -
    breadcrumbs_path = {"Home" : home_path,
                        "Graduação" : false }

block content

  .graduacao
    .container
      .session
        ul
          each page in paths[page_name]
            li
              a(href=home_path + page.relative_path)
                span.field-body  
                  | #{page.name}
