-
  tfs = 
        {
          "2016-001": [
          
            {
            autor: "Marcelle Herescu", 
            title: "Desenvolvimento e avaliação de materiais cerâmicos obtidos a partir de metacaulim e sódio para aplicação como propantes sintéticos", 
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: "TF_2016_MARCELLE_HERESCU.pdf"
            },
            
            {
            autor: "Edson Benedito Martins Filho", 
            title: "Efeito do tratamento térmico de revenimento e do pH sobre a resistência à corrosão por pite do aço inoxidavel supermartensítico SM1MoNb", 
            professor: "Neusa Alonso Falleiro",
            file_name: ""
            },

            {
            autor: "Vinicius Franca Oliveira", 
            title: "Decomposição térmica do amido e resíduos alimentares", 
            professor: "Marcelo Breda Mourão",
            file_name: ""
            },

            {
            autor: "Ivan Mauricio D.Prada", 
            title: "Avaliação do tipo de reductor e ligante para reciclagem de residuos de zinco (processo Waelz)", 
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: "TF_2016_IVAN_MAURICIO_DAZA_PRADA.pdf"
            },

            {
            autor: "Ivan Andres Portillo Cuadros", 
            title: "Estudos Metalúrgicos em ligas Fe-Ni utilizando pares de difusão", 
            professor: "Eduardo Franco de Monlevade",
            file_name: ""
            },

            {
            autor: "Jessica Katherine S.Lozada", 
            title: "Desenvolvimento de ligas nanométricas de NiTi, NiMo, NiNb via moagem intensiva", 
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: "TF_ 2016_JESSICA_KATERINE_SASTRE_LOZADA.pdf"
            },
            
            {
            autor: "Jessica Katherine S.Lozada", 
            title: "Obtainig nanocrystalline nickel with low additions of niobio, titanium and molybdenium by high energy milling", 
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: "TF_ 2016_JESSICA_KATERINE_SASTRE_LOZADA_EN.pdf"
            },

            {
            autor: "Rodrigo Tadashi Fujimoto", 
            title: "Projeto e usinagem de um corpo de prova para ensaio de propagação de trinca de fadiga", 
            professor: "Cláudio Geraldo Schön",
            file_name: ""
            },

            {
            autor: "Debora Arruda Cabral", 
            title: "Estudo da resistência da oxidação ao ar a latas temperaturas de um aço inoxidável austenítico microligado ao cério soldado pelo processo MIG/MAG com diferentes gases de proteção", 
            professor: "Jorge Alberto Soares Tenorio",
            file_name: ""
            },

            {
            autor: "Caroline Lopes de Souza", 
            title: "Carcacterização de Bentonitas para seu uso em Fármacos ", 
            professor: "Francisco Rolando Valenzuela Diaz",
            file_name: ""
            },

            {
            autor: "Taís Martins dos Santos", 
            title: "Estudo da tenacificação do PLA pela adição de EMA-GMA e carga rígica", 
            professor: "Ticiane Sanches Valera",
            file_name: ""
            },

            {
            autor: "Fernando Desiderio Grego", 
            title: "Polaglass – Inovação e desenvolvimento de um novo produto para controle da luminosidade", 
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: "TF_2016_FERNANDO_DESIDERIO_GREGO.pdf"
            },

            {
            autor: "Jessica de Carvalho Arjona", 
            title: "Propriedades físicas e estabilidade térmica em água de microcápsulas de PHB/VMF2", 
            professor: "Maria das Graças S.Valenzuela",
            file_name: ""
            },

            {
            autor: "Fernando Aragon dos Santos", 
            title: "Análise do Setor Siderúrgico Brasileiro", 
            professor: "Cesar Roberto de Farias Azevedo",
            file_name: ""
            },

            {
            autor: "Guilherme Giovannini", 
            title: "Nanocompósitos Argila Organofílica/Borracha contendo fibra de Piaçaba", 
            professor: "Francisco Rolando Valenzuela Diaz",
            file_name: ""
            },

            {
            autor: "Marina Ciconelli Del Guerra", 
            title: "Obtenção e caracterização de microcápsulas poliméricas reforçadas por argila", 
            professor: "Francisco Rolando Valenzuela Diaz",
            file_name: ""
            },

            {
            autor: "Cesar Roberto de Farias Azevedo",
            title: "Seleção de materiais para a industria alimentícia baseado em análise de ciclo de vida", 
            professor: "Cesar Roberto de Farias Azevedo",
            file_name: ""
            },

            {
            autor: "Leonardo Fernandes Augusto", 
            title: "Politica de residuos urbanos na Cidade de São Paulo: O Papel dos carroceiros", 
            professor: "Cesar Roberto de Farias Azevedo",
            file_name: ""
            },

            {
            autor: "Marcelli Susaki Dias", 
            title: "Estudo da fabricação de pelotas autorredutoras de minério de ferro e biomassa", 
            professor: "Marcelo Breda Mourão",
            file_name: ""
            },

            {
            autor: "Thais Fabris Trigo Rocha", 
            title: "Carcacterização de Bentonitas para seu uso em Fármacos e Cosméticos", 
            professor: "Francisco Rolando Valenzuela Diaz",
            file_name: ""
            },

            {
            autor: "Thatiane Lima Gomes", 
            title: "Seleção de materiais na área da moradia popular: estudo de casos", 
            professor: "Cesar Roberto de Farias Azevedo",
            file_name: ""
            },

            {
            autor: "Priscilla Aki Mori de Hanashiro", 
            title: "Caracterização e reaproveitamento de resíduo de usinagem", 
            professor: "Jorge Alberto Soares Tenorio",
            file_name: ""
            },

            {
            autor: "Lucas Sassmannshausen M. Kodaira", 
            title: "Influência do oxido de bora na sintese de espumas de cordierita a postura de um silicone", 
            professor: "Samuel Marcio Toffoli",
            file_name: ""
            },

            {
            autor: "Rafaela Youssef Sadka", 
            title: "Caracterização de filmes nanocompósitos GS Pla/Argilas", 
            professor: "Francisco Rolando Valenzuela Diaz",
            file_name: ""
            },

            {
            autor: "Barbara Mazzini Loureiro", 
            title: "Estudo de nanocompositos de borracha natural com nanoparticulas de celulose", 
            professor: "Ticiane Sanches Valera",
            file_name: ""
            },

            {
            autor: "Bruna Farina Lolli", 
            title: "Obtenção de Briquetes da Biomassa compostas por arroz e carvão vegetal", 
            professor: "Marcelo Breda Mourão",
            file_name: ""
            },

            {
            autor: "Luccas Koji Kavabata", 
            title: "Sintese e caracterização de nanotubos de carbono pelo metodo CVD utilizando catalizador bi-metalico a base de cobalto", 
            professor: "Elizabeth Grillo Fernandes",
            file_name: ""
            },
            
            {
            autor: "Ricardo Lamberti Indelicato",
            title: "Polaglass",
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: "TF_2016_RICARDO_LAMBERTI_INDELICATO.pdf"
            },
            
            {
            autor: "Guilherme Torresns Wünsch",
            title: "Evolução e competitividade da siderurgia brasileira: perspectivas",
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: "TF_2016_GUILHERME_TORRENS_WUNSCH.pdf"
            }
            
          ],
          
          "2015-002": [
            {
            autor: "Marcel Perez Vogt", 
            title: "Mercado de minério de ferro brasileiro de 1995 a 2014: identificação e análise de fatores de influência na precificação.", 
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: "TF_2015_MARCEL_VOGT.pdf"
            },
  
            {
            autor: "Luccas Esper Klotz", 
            title: "Efeito da temperatura de revenimento sobre o potencial de Pite em aço inoxidável supermartensítico (13Cr-5Ni-2Mo-0,11Nb) em 3,5% NaCl-pH 9", 
            professor: "Neusa Alonso Falleiros",
            file_name: ""
            },

            {
            autor: "Guilherme Augusto Falozzi", 
            title: "Obtenção de microcápsulas a partir de nanocompósito PLA/esmectita brasileira", 
            professor: "Francisco Rolando Valenzuela Diaz",
            file_name: ""
            },

            {
            autor: "Samar de Carvalho L. da Silva", 
            title: "Investigação da permeabilidade de Hidrogênio em aço alta resistência baixa liga grau  X80 contendo Nóbio", 
            professor: "Neusa Alonso Falleiros",
            file_name: ""
            },

            {
            autor: "Mario H. de Paula Iácono", 
            title: "Efeito dos passes de enchimento e acabamento nas propriedades mecânicas do passe de raia de um tubo soldado de aço API 5L X80", 
            professor: "Sérgio Duarte Brandi",
            file_name: ""
            },

            {
            autor: "Felipe Costa H. Bertin", 
            title: "Rota hidrometalúrgica de recuperação de metais apliacda a pilhas e baterias descartadas: estudo de fatores de lixiviação", 
            professor: "Jorge Alberto Soares Tenorio",
            file_name: ""
            },

            {
            autor: "Diego Silvestre Rato", 
            title: "Avaliação de diferentes telas para Tanque-Rede de Aquicultura", 
            professor: "Hélio Wiebeck",
            file_name: ""
            },

            {
            autor: "Felipe Cebukin", 
            title: "Incremento da resistência à tração e à fluência de compostos a base de borracha natural (NR) contendo argila e/ou fibras", 
            professor: "Francisco Rolando Valenzuela Diaz",
            file_name: ""
            },

            {
            autor: "Julia Abdalla Conte", 
            title: "Caracterização de mistura de borracha de pneu irradiada por micro-ondas e SBR", 
            professor: "Hélio Wiebeck",
            file_name: ""
            },

            {
            autor: "Thyago Miller O. Castellucci", 
            title: "Seleção de Materiais para Skates", 
            professor: "Cesar Roberto de Farias Azevedo",
            file_name: ""
            },

            {
            autor: "Yuri Sato Sophia", 
            title: "Análise de resistência a compressão de leitos de carvão vegetal", 
            professor: "Cyro Takano",
            file_name: ""
            },

            {
            autor: "Ana Carolina Z. de Oliveira", 
            title: "Avaliação do uso de aluminio e calcio-silicio na desozidação e engenharia de inclusões de aços baixo carbono", 
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: ""
            },

            {
            autor: "Mariane Yuka Tsubaki Oide", 
            title: "Desenvolvimento de cerâmicas de SIALON a partir de silíco/negro de fumo e SiC", 
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: "TF_2015_MARIANE_YUKA_TSUBAKI_OIDE.pdf"
            },

            {
            autor: "Sebastian Valencia Ramírez", 
            title: "Sintese de Nano-óxido de titânio pelo Método de Pechini para aplicações de filtração de agua", 
            professor: "Douglas Gouvêa",
            file_name: ""
            },

            {
            autor: "Andre da Silva Fernandes", 
            title: "Influência da distância de alimentação na porosidade de peças finas de aço", 
            professor: "Marcelo de Aquino Martorano",
            file_name: ""
            },

            {
            autor: "Katia Yabunaka Sakaguti", 
            title: "Obtenção,caracterização e eletrofiação de poli(3-hidroxibutirato-co-e-caprolactona)", 
            professor: "Wang Shu Hui",
            file_name: ""
            },

            {
            autor: "Rafael da Paz D. Pinto", 
            title: "Desenvolvimento e caracterização de fases cristalinas em vidros de basalto dopados", 
            professor: "Samuel Marcio Toffoli",
            file_name: ""
            },

            {
            autor: "Caio Cipriano Barbosa", 
            title: "Redução direto de minério de ferro", 
            professor: "Marcelo Breda Mourão",
            file_name: ""
            },

            {
            autor: "Adria Gallifa Terricabras", 
            title: "Mechanical behaviour and microstructure of duplex stainless steels ", 
            professor: "Cláudio Geraldo Schön",
            file_name: ""
            },

            {
            autor: "Bruno P. Contessotto", 
            title: "Produção de Hidrogênio pelo Método Ferro-Vapor", 
            professor: "Marcelo Breda Mourão",
            file_name: ""
            },

            {
            autor: "Hugo Lima do Nascimento", 
            title: "Obtenção de Microesferas Ocas de Vidro", 
            professor: "Douglas Gouvêa",
            file_name: ""
            },

            {
            autor: "Erika Maria Sequeda Leon", 
            title: "Caracterização de inclusões de Acos de Ipanema", 
            professor: "Fernando José Gomes Landgraf",
            file_name: ""
            },

            {
            autor: "Fabio Goncalves Rizzi", 
            title: "Camada de prata em contatos Elétricos Sinterizados", 
            professor: "Fernando José Gomes Landgraf",
            file_name: ""
            },
          ],
          
          "2014-003": [
            {
            autor: "Carolina Passanante", 
            title: "Influência da Temperatura de revenido sobre a resistência à corrosão de aço inoxidável supermartensítico(13Cr) em meios contendo cloreto (NaCl) e sulfeto (H2S)", 
            professor: "Neusa Alonso Falleiros",
            file_name: ""
            },

            {
            autor: "Fernanda Tojero Campos", 
            title: "-", 
            professor: "Denise Crocce R.Espinosa",
            file_name: ""
            },

            {
            autor: "Renato Hamakawa Ito", 
            title: "Efeitos e caracteristícas de combustivel sólido na injeção no alto forno", 
            professor: "Cyro Takano",
            file_name: ""
            },

            {
            autor: "Diego Silvestre Rato", 
            title: "Resistência Mecânica de Vidros", 
            professor: "Samuel Marcio Toffoli",
            file_name: ""
            },

            {
            autor: "Henrique Souza de Santis", 
            title: "Estudo da resistência química após envelhecimento e das propriedades de filtração de mambranas nanocompósitas com adição de argila", 
            professor: "Hélio Wiebeck",
            file_name: ""
            },

            {
            autor: "Josue Jin Nam", 
            title: "Comparação do comportamento eletroquimico de diferentes aços inoxidáveis em meios acidos", 
            professor: "Neusa Alonso Falleiros",
            file_name: ""
            },

            {
            autor: "Denny Serejo M. de Araujo", 
            title: "Influência do tratamento térmico sobre a resistência à corrosão de Aço Alta Resistência baixa liga", 
            professor: "Neusa Alonso Falleiros",
            file_name: ""
            },

            {
            autor: "Giuliano Pereira Russo", 
            title: "Influência da Permeabilidade de hidrogênio sobre a resistência à fragilização de aços API 5L X65 e X80", 
            professor: "Neusa Alonso Falleiros",
            file_name: ""
            },

            {
            autor: "Lucas Pintol Nishikawa", 
            title: "Revenimento de Aços Microligados", 
            professor: "Hélio Goldenstein",
            file_name: ""
            },

            {
            autor: "Stuart Tyler Blackaby", 
            title: "Efeito do tratamento de filmes finos de PEDOT: PSS com ácidos orgânicos na sua resistência elétrica", 
            professor: "Wang Shu Hui",
            file_name: ""
            },

            {
            autor: "Gustavo Toso R.Piazza", 
            title: "Modelamento do forjamento a quente de aços usando chumbo", 
            professor: "Cláudio Geraldo Schön",
            file_name: ""
            },

            {
            autor: "Fernanda Tojero Campos", 
            title: "Custo do Transporte da coleta de pilhas e baterias na região Metropolitanade São Paulocom destino a reciclagem", 
            professor: "Denise Crocce R.Espinosa",
            file_name: ""
            },

            {
            autor: "Rafael Arthur Reghine Giorjão", 
            title: "Modelamento da distorção de chapas de aço após tempera", 
            professor: "André Paulo Tschiptschin",
            file_name: ""
            },

            {
            autor: "Natalia Nobre Fidalgo", 
            title: "Processamento de TPS com diferentes plastificantes", 
            professor: "Ticiane Sanches Valera",
            file_name: ""
            },

            {
            autor: "Guilherme Wang F.Barros", 
            title: "Modelagem Matematica tridimensional da Macroestrutura de grãos utilizando o modelo de automato cellar", 
            professor: "Marcelo de Aquino Martorano",
            file_name: ""
            },

            {
            autor: "Thiago Rodrigues Herszkowicz ", 
            title: "Obtenção e Caracterização de Nanocompositos de Polimeros Biodegradaveis (ECOVIO) com Argilas Organofílicas", 
            professor: "Ticiane Sanches Valera",
            file_name: ""
            },

            {
            autor: "Gustavo Estevam Gimenes", 
            title: "Sinterização de Espinélios de Magnesio para a Fabricação de cerâmicos transparentes", 
            professor: "Douglas Gouvêa",
            file_name: ""
            },

            {
            autor: "Danilo Cesar Silva Gonçalves", 
            title: "Estudo e análise do perfil dos alunos de graduação em Engenharia de Materias e Metalurgica da EPUSP", 
            professor: "Cláudio Geraldo Schön",
            file_name: ""
            },

            {
            autor: "Messad Houamdi", 
            title: "Tratamentos termicos de ferros fundidos vermiculares", 
            professor: "Hélio Goldenstein",
            file_name: ""
            },

            {
            autor: "Carla Yuri Matsumoto", 
            title: "Método de heparinização de superfície de Poliuretanos", 
            professor: "Wang Shu Hui",
            file_name: ""
            },

            {
            autor: "Carolina A. Pereira F. Machado", 
            title: "Eletrofiação de PLCL para Engenharia de Tecidos", 
            professor: "Wang Shu Hui",
            file_name: ""
            },

            {
            autor: "Henrique Boschetti Pereira", 
            title: "Comportamento tribológico PIN-ON-DISK de latão e cobre em aço", 
            professor: "Hélio Goldenstein",
            file_name: ""
            },

            {
            autor: "Quentin Jacquet", 
            title: "Obtenção de Aluminato de Magnesio: Precipitação e Sintese por vaporização Ultrssônica", 
            professor: "Douglas Gouvêa",
            file_name: ""
            },

            {
            autor: "Danielle Ucha Rocha", 
            title: "Elaboração e performance de aditivos para concreto celular", 
            professor: "Douglas Gouvêa",
            file_name: ""
            },

            {
            autor: "Maria Luiza Onias A. Pereira", 
            title: "Influência de elementos de liga sobre a precipitação de carbonetos de nióbio na ferrita", 
            professor: "Hélio Goldenstein",
            file_name: ""
            },

            {
            autor: "Antonio Carlos Strabelli Junior", 
            title: "Eletropolimento de aço inoxidavel UNS S 34800", 
            professor: "Neusa Alonso Falleiros",
            file_name: ""
            },

            {
            autor: "Liaw Joe Djoesman", 
            title: "Influência do tratamento de revenimento e da adição de sulfato sobre a corrosão por pite de açoinoxidáveis supermartensiticos", 
            professor: "Neusa Alonso Falleiros",
            file_name: ""
            },

            {
            autor: "Luigi Hideki Cattaneo", 
            title: "Tenacificação do PLA via mistura no Estado Fundido", 
            professor: "Ticiane Sanches Valera",
            file_name: ""
            },

            {
            autor: "Guilherme Balardini Niglio", 
            title: "Uma proposta de produção terceirizada de madeira para carvão para a industria siderurgica", 
            professor: "Cyro Takano",
            file_name: ""
            },

            {
            autor: "Alexander Iwami Petzhold", 
            title: "Surface-sensor distance dependence evaluation of na opticaly stimulated electron analysis of aluminium and copper", 
            professor: "Cláudio Geraldo Schön",
            file_name: ""
            },

            {
            autor: "Jhoan Sebastian G. Hernandez", 
            title: "Caracterização e resistência à fratura induzida por hidrogenio num aço micioligado para serviço em meios corrosivos contendo H2S", 
            professor: "Hélio Goldenstein",
            file_name: ""
            },

            {
            autor: "Stella Lee", 
            title: "Efeito da Mn na precipitação do NbC em aço de médio Mn com 0,2% C", 
            professor: "Hélio Goldenstein",
            file_name: ""
            },

            {
            autor: "Willian Lacerda Mourão", 
            title: "Análise de basicidade binaria em escória de altos fornos", 
            professor: "Marcelo Breda Mourão",
            file_name: ""
            },

            {
            autor: "Victor Flosi Alexandre Peão", 
            title: "Medição e caracterização microestrutural da camada deformada plasticamente dos pinos utilizados em ensaios do tipo pino contra disco com adição de Cu 400um, grafite particulado e sem meio interfacial", 
            professor: "Cesar Roberto de Farias Azevedo",
            file_name: ""
            },

            {
            autor: "André Luis Souza", 
            title: "Adaptação da valvula superior da panela de aço para minimização de vortices", 
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: ""
            },

            {
            autor: "Ennio Ryu Ota", 
            title: "Envelhecimento de Aços Elétricos", 
            professor: "Fernando José Gomes Landgraf",
            file_name: ""
            }
          ],
          
          "2013-004": [
            {
            autor: "Bruno Nagle Armendo", 
            title: "Tubo API 5L X80: Desempenho quanto à corrosão na presença de sulfeto", 
            professor: "Neusa Alonso Falleiros",
            file_name: "",
            },

            {
            autor: "Clemence Anne Sophie Chautard", 
            title: "Vidros de captação de iodo radioativo", 
            professor: "Samuel Marcio Toffoli",
            file_name: "",
            },

            {
            autor: "Marina T.Marques", 
            title: "Eletrofração de copolimero anfifilico", 
            professor: "Wang Shu Hui",
            file_name: "",
            },

            {
            autor: "Leandro Nakanishi Haragushiku", 
            title: "Separação Magnética Após a Redução de Hematita em Magnatita", 
            professor: "Marcelo Breda Mourão",
            file_name: "",
            },

            {
            autor: "Joao Rodrigo Gouvea Guimarães", 
            title: "Estudo da adição de celulose em argila", 
            professor: "Francisco Rolando Valenzuela Diaz",
            file_name: "",
            },

            {
            autor: "Diego de Moura Pinheiro", 
            title: "Soldagem por ultassom de composito formado por Poliamida 66 reforçado com nanoesferas de silica", 
            professor: "Sérgio Duarte Brandi",
            file_name: "",
            },

            {
            autor: "Guilherme Akio Shimizu", 
            title: "Influência da microestrutura sobre a resistência à corrosão do aço API 5L X65", 
            professor: "Neusa Alonso Falleiros",
            file_name: "",
            },

            {
            autor: "Bruno Kim Kuriki", 
            title: "Efeito de Cloreo e Sulfato sobre a resitência à corrosão por pite de aço inoxidável supermartensítico", 
            professor: "Neusa Alonso Falleiros",
            file_name: "",
            },

            {
            autor: "Valmir Bussola Martins", 
            title: "Obtenção do Diagrama Ternário Pb-Bi-Te", 
            professor: "Cláudio Geraldo Schön",
            file_name: "",
            },

            {
            autor: "Paulo Jorge Nunes Ribeiro", 
            title: "Transformação de fase em ferro fundido cinzento de matriz perlítica  induzida pelo processo de eletroerosão", 
            professor: "Cesar Roberto de Farias Azevedo",
            file_name: "",
            },

            {
            autor: "Caio Cesar Liberato", 
            title: "Avaliação do uso de residuo de lauxita em materiais cimenticios ", 
            professor: "Rafael Giuliano Pileggi",
            file_name: "",
            },

            {
            autor: "Claudia Wurlitzer", 
            title: "Estudo da influência do ion Mg² na transição de fase amorfo-gama da alumina", 
            professor: "Douglas Gouvêa",
            file_name: "",
            },

            {
            autor: "Gabriel Yoshimura", 
            title: "Eletrofiação de solução composita contendo polímero biodegradável e prata", 
            professor: "Wang Shu Hui",
            file_name: "",
            },

            {
            autor: "Renata Arruda Guedes", 
            title: "Efeitos da Adição de Acetato de Zeinco na Eletrofiação de PHB", 
            professor: "Wang Shu Hui",
            file_name: "",
            },

            {
            autor: "Henrique Souza de Santis", 
            title: "-", 
            professor: "Hélio Wiebeck",
            file_name: "",
            },

            {
            autor: "Renato Soares Lopes", 
            title: "Análise de falha em prótese de rádio distal em titânio e breve estudo do setor no Brasil", 
            professor: "Cesar Roberto de Farias Azevedo",
            file_name: "",
            },

            {
            autor: "Maria Cecilia Pisetta de Oliveira", 
            title: "Avaliação da deposição de filmes de grafeno em substratos para fins solares", 
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: "TF_2013_MARIA_CECILIA_PISETTA_DE_OLIVEIRA.pdf",
            },

            {
            autor: "Felipe Fonseca de Oliveira Lima", 
            title: "Estudo comparativo da resistência à corrosão por pite em aço inoxidável austêntico contendo TI-NB em meios contendo cloreto", 
            professor: "Neusa Allonso Falleiros",
            file_name: "",
            },

            {
            autor: "Andre de Monaco Granja", 
            title: "Influência de tratameno térmico para alivio de tensões sobre o trincamento induzido por hidrogênio (HIC) de tubos API 5L", 
            professor: "Neusa Allonso Falleiros",
            file_name: "",
            },

            {
            autor: "Diogo Cirulli", 
            title: "Resistência à corrosão dos aços inoxidáveis supermartensíticos(13Cr-Ti) e duplex (25Cr-6Ni) na presença de cloreto e ácido sulfidrico", 
            professor: "Neusa Allonso Falleiros",
            file_name: "",
            },

            {
            autor: "Paula Fernandes Lopes", 
            title: "Avaliação dos limites de fabricação de cabos Metálicos atraves de um análise Mecânica do processo", 
            professor: "Cláudio Geraldo Schön",
            file_name: "",
            },

            {
            autor: "Ligia Harumi Doyama", 
            title: "Implementação do Ensaio de Permeabilidades de Hidrogênio no Laboratório de H2S do PMT/USP", 
            professor: "Neusa Allonso Falleiros",
            file_name: "",
            },

            {
            autor: "Guilherme Huaskar Wittée Cardoso", 
            title: "Otenção de pelotas auto-redutoras por infiltração de carbono em pelotas queimadas de mínerio de ferro", 
            professor: "Marcelo Breda Mourão",
            file_name: "",
            },

            {
            autor: "Conrado Bentivoglio Setti", 
            title: "Avaliação do efeito da moagem intensiva e variação estequiométrica de reações induzidas por microondas do sistemas C:Al:Mg:B₂O₃", 
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: "",
            },

            {
            autor: "Patricia Adures Valente", 
            title: "O Estudo de oxidação de corridas de aço em fornos de arco elétrico", 
            professor: "Marcelo Breda Mourão",
            file_name: "",
            },

            {
            autor: "Valmir Bussola Martins", 
            title: "Estudo da Fase Hexagonal do Sistema Pb-Bi", 
            professor: "Cláudio Geraldo Schön",
            file_name: "",
            },

            {
            autor: "Adriel Soares Santos", 
            title: "Indicadores utilizados pelo mercado financeiro para avaliar o setor siderurgico", 
            professor: "Fernando José Gomes Landgraf",
            file_name: "",
            },

            {
            autor: "Livia Bueno Lima", 
            title: "Análise comparativa da degradação de polímeros de alto desempenho em etanol", 
            professor: "Hélio Wiebeck",
            file_name: "",
            },

            {
            autor: "Oswaldo Maestro Guimarães", 
            title: "Síntese e caracterização de anodo para célula a combustível e hidrogênio de óxidos sólidos com estrutura dupla perovskita", 
            professor: "Samuel Marcio Toffoli",
            file_name: "",
            },

            {
            autor: "Virginia Cruz Albuquerque e Lima", 
            title: "Comportamento mecânico do silício durante a solidificação direcional em forno de feixe de elétrons", 
            professor: "Marcelo de Aquino Martorano",
            file_name: "",
            },

          ],
          
          "2012-005": [
            
            {
            autor: "Guilherme D. Sato",
            title: "Obtenção de CCB",
            professor: "Marcelo Breda Mourão",
            file_name: ""
            },

            {
            autor: "Laura Ramos dos Santos",
            title: "Influência do sulfato de sódio como inibidor da corrosão por pite",
            professor: "Neusa Alonso Falleiros",
            file_name: ""
            },

            {
            autor: "Ygor Shimabukuro",
            title: "Thermal upgrading",
            professor: "Marcelo Breda Mourão",
            file_name: ""
            },

            {
            autor: "Eduardo Hideki Shimojo",
            title: "Resistência à corrosão de aço Inoxidável Austenítico contendo Manganês na presença de cloreto",
            professor: "Neusa Alonso Falleiros",
            file_name: ""
            },

            {
            autor: "Thiago Pires Nagashima",
            title: "Desenvolvimento de processo para redução do tamanho de grão em microfusão de IN-713C",
            professor: "Marcelo de Aquino Martorano",
            file_name: ""
            },

            {
            autor: "Daniel Lobato C.J.Teixeira",
            title: "Projeto piloto de Tutoriais para a Escola Politecnica da USP baseado em Educação Personalizada",
            professor: "Cláudio Geraldo Schön",
            file_name: ""
            },

            {
            autor: "Leonard Lin Ang",
            title: "Caracterização de Telas de Cristal Liquido em TV's e Monitores visando a Reciclagem",
            professor: "Denise Crocce R.Espinosa",
            file_name: ""
            },

            {
            autor: "Haley Cardamoni",
            title: "Avaliação da separação de Ni e Co por extração por solvente: comparação entre Cyanex 272 e DEPHA",
            professor: "Denise Crocce R.Espinosa",
            file_name: ""
            },

            {
            autor: "Mariana Sayuri N.Kudo",
            title: "Reutilização das Cinzas do Bagaço da Cana de Açucar na Industria Vidreira",
            professor: "Samuel Marcio Toffoli",
            file_name: ""
            },

            {
            autor: "Felipe Martins Pereira Ribeiro",
            title: "Modelagem Matemática de transferência de massa entre particulas decantando em um fluido estagnado",
            professor: "Marcelo de Aquino Martorano",
            file_name: ""
            },

            {
            autor: "Alan Lamotte",
            title: "Simulação de Solidificação de ligas de Al-Si utilizando método do campo de fases",
            professor: "Marcelo de Aquino Martorano",
            file_name: ""
            },

            {
            autor: "Caroline Tiemi Hoshino Ejiri",
            title: "Estudo de cores da porcelana de ossos 'bone china' com óxidos de metais de transição",
            professor: "Douglas Gouvêa",
            file_name: ""
            },

            {
            autor: "Fernando Santos da Cunha",
            title: "Coleta, desenvolvimento e análise do perfil dos egressos de graduação em engenharia de materiais e metalurgica da EP",
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: "TF_2012_FERNANDO_SANTOS_DA_CUNHA.pdf"
            },

            {
            autor: "Eric Raphael Gaspar Bueno",
            title: "Beneficiamento de cinza de bagaço de cana de açucar visando sua incorporação em vidros sodo-cálcicos",
            professor: "Samuel Marcio Toffoli",
            file_name: ""
            },

            {
            autor: "Rodrigo de Souza Dalti Pereira",
            title: "Recuperação de dióxido de manganês a partir de sucata de pilhas e baterias",
            professor: "Denise Crocce Romano Espinosa",
            file_name: ""
            },

            {
            autor: "Carlos Eduardo Rizzo e Silva",
            title: "Gerenciamento de Riscos para a Indústria Siderúrgica",
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: ""
            },

            {
            autor: "Anna Bremenkamp Stein",
            title: "Obtenção de ferro via refino",
            professor: "Fernando José Gomes Landgraf",
            file_name: ""
            },

            {
            autor: "Thomaz Seiji Pascoto Nishikawa",
            title: "Efeito da recuperação nas propriedades magnéticas de aços elétricos",
            professor: "Fernando José Gomes Landgraf",
            file_name: ""
            },

            {
            autor: "Arthur Seiji Nishikawa",
            title: "Uso de pares de difusão na identificação de transições de comportamento em ligas Fe-Ni",
            professor: "Hélio Goldenstein",
            file_name: ""
            },

            {
            autor: "Felipe Oliva Buratto",
            title: "Estudo da pega de cimento a base de fosfato de magnésio em revestimento para fundição de próteses odontologicas",
            professor: "Douglas Gouvêa",
            file_name: ""
            },

            {
            autor: "Joao Rodrigo G. Guimarães",
            title: "Comportamento da polpa de celulose presente em fraldas descartáveis como absorvente",
            professor: "Hélio Wiebeck",
            file_name: ""
            },

            {
            autor: "Lucas Narcizo de Moura",
            title: "Obtenção e caracterização de Amido Termoplástico modificado com ácido cítrico",
            professor: "Ticiane Sanches Valera",
            file_name: ""
            },

            {
            autor: "Marco Aurelio Pereira Fiori",
            title: "Desenvolvimento de método experimental para avaliação da Fragilização por Hidrogênio de Aço Maraging",
            professor: "Neusa Alonso Falleiros",
            file_name: ""
            },

            {
            autor: "Valmir Bussola Martins",
            title: "Obtenção do Diagrama ternário Pb-Bi-Te",
            professor: "Luiz Tadeu Fernandes Eleno",
            file_name: ""
            },

            {
            autor: "Rafael Tadeu Gambarotto",
            title: "Rodelagem Matematica da solidificação de aços Multicomponentes",
            professor: "Marcelo de Aquino Martorano",
            file_name: ""
            },

            {
            autor: "Victor Caso Moreira",
            title: "Revestimento de Inconel-625 em aço AstmA516 GL70 por arco submerso",
            professor: "Sérgio Duarte Brandi",
            file_name: ""
            },

            {
            autor: "Bruna Almeida B.Fernandes",
            title: "Efeito do ciclo térmico na corrosão de chapas soldadas de aço 304/308L",
            professor: "Neusa Alonso Falleiros",
            file_name: ""
            },

            {
            autor: "Caio Angelini Rodrigues",
            title: "Reciclagem e Reuso do Pó de Pneu",
            professor: "Hélio Wiebeck",
            file_name: ""
            },

            {
            autor: "Diego Bassani",
            title: "Corrosão de chapas de aço 316 soldadas com aço 317L",
            professor: "Neusa Alonso Falleiros",
            file_name: ""
            },

            {
            autor: "Edmundo Cepeda Arlindo",
            title: "Análise Mecânica do Latex proveniente de luvas cirurgicas recicladas antes e após irradiação de elétrons",
            professor: "Hélio Wiebeck",
            file_name: ""
            },

            {
            autor: "Leonardo N. Haragushiku ",
            title: "Redução de Hematita para Magnetita para Separação Magnética",
            professor: "Marcelo Breda Mourão",
            file_name: ""
            }
          ],
          
          "2011-005": [
            
            {
            autor: "Edson Koiti Saito",
            title: "Potencial Energético das Usinas de Etanol e Açucar no Brasil",
            professor: "Neusa Alonso Falleiros",
            file_name: ""
            },

            {
            autor: "Eric Seiji ",
            title: "Efeito dos teores de Mn e Al em aços elétricos",
            professor: "Fernando José Gomes Landgraf",
            file_name: ""
            },

            {
            autor: "Isabela Najla Saddi Rosa",
            title: "-",
            professor: "Wang Shu Hui",
            file_name: ""
            },

            {
            autor: "Lucas Boareto Lopes",
            title: "Sinterização de Aço Inox SAE 316L com aditivos",
            professor: "Fernando José Gomes Landgraf",
            file_name: ""
            },

            {
            autor: "Marcelo Shiguematsuna Furuya",
            title: "Blendas Polímeras de PHB e PP",
            professor: "Wang Shu Hui",
            file_name: ""
            },

            {
            autor: "Pedro Henrique Borges da Silva",
            title: "Estudo Fundamental da Remoção de Fósforo por tratamento à Vacuo",
            professor: "Marcelo Breda Mourão",
            file_name: ""
            },

            {
            autor: "Rafael da Paz Domingos Pinto",
            title: "Análise da Formação de carbonetos e do crescimento de grão durante o recozimento",
            professor: "Cesar Roberto de Farias Azevedo",
            file_name: ""
            },

            {
            autor: "Richard Hatanaka",
            title: "Análise Quantitativa de Inclusões em aços",
            professor: "Jorge Alberto Soares Tenorio",
            file_name: ""
            },

            {
            autor: "Caroline Tiemi Hoshino",
            title: "Estudo de Cores da Porcelana de ossos 'bone china' com oxidos de metais de transição ",
            professor: "Douglas Gouvêa",
            file_name: ""
            },

            {
            autor: "Franco Alves Lavacchini Ramunno",
            title: "Modelamento matemático da solidificação de ligas de aluminio com adição de inoculante",
            professor: "Marcelo de Aquino Martorano",
            file_name: ""
            },

            {
            autor: "Victor Ueki Dotta",
            title: "Remoção de Fósforo de silicio grau metalúrgico",
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: ""
            },

            {
            autor: "Rodrigo e Fausto",
            title: "Otimização de parâmetros de laminação utilizando método dos elementos finitos e o método e superficie de resposta",
            professor: "Ronald Lesley Plaut",
            file_name: ""
            },

            {
            autor: "Ygor Amadeo Sartori Regados",
            title: "Efeitos da difusão macroscópica na formação da macrossegregação durante a solidificação direcional",
            professor: "Marcelo de Aquino Martorano",
            file_name: ""
            },

            {
            autor: "Henrique Kenji Formaggio Noguchi",
            title: "Mechanical characterization of hair fibers after cosmetic treatments",
            professor: "Wang Shu Hui",
            file_name: ""
            },

            {
            autor: "Pedro Guilherme Frade Moro",
            title: "Aço Twip: Propriedades e impactos na cadeia Siderurgica",
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: ""
            },

            {
            autor: "Erik Yassuo Yuki",
            title: "-",
            professor: "Wang Shu Hui",
            file_name: ""
            },

            {
            autor: "Marcelo Shiguetsuma Furuya",
            title: "Caracterização térmica e mecânica de Brendas polimericas Nanoestruturadas de Poli(3-Hidroxi Butriato(PHD) e Polipropileno(PP)",
            professor: "Wang Shu Hui",
            file_name: ""
            },

            {
            autor: "Bernardo José Domanico Veja",
            title: "O dominio chines do mercado de terras raras e suas consequências para o mundo",
            professor: "Fernando José Gomes Landgraf",
            file_name: ""
            },

            {
            autor: "Felipe Augusto F. Sapucahy",
            title: "-",
            professor: "Hélio Wiebeck",
            file_name: ""
            },

            {
            autor: "Fernando Takashi Massucado",
            title: "Transição Calunar/Equiaxial em ligas de Al-Si",
            professor: "Marcelo de Aquino Martorano",
            file_name: ""
            },

            {
            autor: "Isabela do Rego Monteiro Ramiro",
            title: "Indicadores de Sustentabilidade Ambiental Aplicados à Industria Siderúrgica: análise do setor Brasileira e proposta de indice de desempenho Ambiental",
            professor: "Guilherme Frederico Bernardo Lenz e Silva",
            file_name: ""
            },

            {
            autor: "Bruno Galletti Delazari",
            title: "Recuperação de metais preciosos em especial prata a partir de placas de circuito impresso",
            professor: "Jorge Alberto Soares Tenorio",
            file_name: ""
            },

            {
            autor: "Gustavo José Suto de Souza",
            title: "Análise do Ciclo de Vida de Uma Motocicleta 125cc",
            professor: "Cesar Roberto de Farias Azevedo",
            file_name: ""
            }
          ]
        }  
        
