extends ../base.jade

block home
  - var home_path = "../../"
  
block stylesheet
  - var stylesheet = "graduacao.min.css"
  
block page-title
  - page_title = strings.breadcrumbs.tf + " - " + page_title

block breadcrumbs-path
  -
    breadcrumbs_path = {}
    breadcrumbs_path[strings.breadcrumbs.home] = home_path
    breadcrumbs_path[strings.breadcrumbs.graduacao] = home_path + "graduacao/index.html"
    breadcrumbs_path[strings.breadcrumbs.tf] = false
  
block content

  .graduacao-programa
    .container
      .session
        h1.session-title
          != strings.undergrad.tf.tf
        
        p.session-subtitle
          != strings.undergrad.tf.normasDiretrizes
        p
          ul
            
            li
              a(href="http://www.usp.br/prolam/ABNT_2011.pdf" target="_blank")
                span.field-body  
                  != strings.undergrad.tf.normasABNT
              span(class="external-link glyphicon glyphicon-new-window")

            li
              a(href="http://www.livrosabertos.sibi.usp.br/portaldelivrosUSP/catalog/book/111" target="_blank")
                span.field-body  
                  - if (lang == "en") 
                    | [Portuguese] 
                  | Diretrizes para apresentação de dissertações e teses da USP: parte I (ABNT) 
              span(class="external-link glyphicon glyphicon-new-window")
            
            li
              a(href="http://www.livrosabertos.sibi.usp.br/portaldelivrosUSP/catalog/book/112" target="_blank")
                span.field-body  
                  - if (lang == "en") 
                    | [Portuguese] 
                  | Diretrizes para apresentação de dissertações e teses da USP: parte II (APA)
              span(class="external-link glyphicon glyphicon-new-window")
              
            li
              a(href="http://www.livrosabertos.sibi.usp.br/portaldelivrosUSP/catalog/book/113" target="_blank")
                span.field-body  
                  - if (lang == "en") 
                    | [Portuguese] 
                  | Diretrizes para apresentação de dissertações e teses da USP: parte III (ISO)
              span(class="external-link glyphicon glyphicon-new-window")
              
            li
              a(href="http://www.livrosabertos.sibi.usp.br/portaldelivrosUSP/catalog/book/115" target="_blank")
                span.field-body  
                  - if (lang == "en") 
                    | [Portuguese] 
                  | Diretrizes para apresentação de dissertações e teses da USP: parte IV (Vancouver)
              span(class="external-link glyphicon glyphicon-new-window")
          
        include _info_trabalhos_formatura.jade
        
        include ../../equipe/docentes/_professores-info/professores-info.jade
        
        hr(style="margin-bottom: 70px")
        
        each works, year in tfs
          
          h1.session-title
            = year.substring(0,4)
          
          table.table.table-striped
            thead
              tr
                th 
                  != strings.undergrad.tf.title
                th 
                  != strings.undergrad.tf.autor
                th 
                  != strings.undergrad.tf.professor
                th
                  | Download
            tbody
              each tf in works
                tr
                  td
                    = tf.title
                  td
                    = tf.autor
                  td
                    - var professorFound = false
                    each professor in professors
                      if professor.name == tf.professor
                        - professorFound = true
                        a(href=home_path+"equipe/docentes/"+professor.page+"index.html" target="_blank")
                          | #{professor.name}
                    if !professorFound  
                      | #{tf.professor}
                  
                  if tf.file_name
                    td
                      a(href=assets + "downloads/TF/" + tf.file_name target="_blank") Download
                  else
                    td(style="text-align: center")
                      span
                        | -
                    
