extends ../base.jade

block home
  - var home_path = "../../"

block stylesheet
  - var stylesheet = "diversos-sites-links.min.css"
  
block page-title
  - page_title = page_title

block breadcrumbs-path
  -
    breadcrumbs_path = {}
    breadcrumbs_path[strings.breadcrumbs.home] = home_path
    breadcrumbs_path[strings.breadcrumbs.diversos] = "nolink"
    breadcrumbs_path[strings.breadcrumbs.sitesLinks] = false

block content
  .diversos-sites-links
    .container
      .session
        .session-title
          != strings.diversos.sitesLinks.sitesLinks
        
        .session-subtitle
          != strings.diversos.sitesLinks.poli
        ul
          li
            a(href="http://sites.poli.usp.br/org/informativos/guiapoli/guiapoli2014-versaoWeb.pdf" target="_blank") 
              != strings.diversos.sitesLinks.guiaPoli
            span(class="external-link-icon glyphicon glyphicon-new-window") 
            
      .session
        .session-subtitle
          != strings.diversos.sitesLinks.acervo
        ul
          li
            a(href="http://www5.usp.br/pesquisa/bibliotecas/" target="_blank") 
              != strings.diversos.sitesLinks.biblioteca
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.revistas.usp.br/wp/ " target="_blank") 
              != strings.diversos.sitesLinks.portalRevistas
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.teses.usp.br/" target="_blank") 
              != strings.diversos.sitesLinks.tesesEDissertacoes
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.sibi.usp.br/" target="_blank") 
              | Sibi-USP
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://buscaintegrada.usp.br/primo_library/libweb/action/search.do?dscnt=1&dstmp=1469476251273&vid=USP&fromLogin=true" target="_blank") 
              != strings.diversos.sitesLinks.portalBuscaIntegrada
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://biblioteca.versila.com/" target="_blank") 
              | Vérsilia
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://oasisbr.ibict.br/vufind/" target="_blank") 
              | Ibict - oasisbr 
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.dominiopublico.gov.br/pesquisa/PesquisaObraForm.jsp" target="_blank") 
              != strings.diversos.sitesLinks.portalDominioPublico
            span(class="external-link-icon glyphicon glyphicon-new-window") 
      
      .session
        .session-subtitle
          != strings.diversos.sitesLinks.comunidade
        ul
          li
            a(href="https://www.researchgate.net/institution/University_of_Sao_Paulo/department/Departamento_de_Engenharia_Metalurgica_e_de_Materiais_PMT_POLI" target="_blank") 
              | Research Gate
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.researcherid.com/Home.action" target="_blank") 
              | ResearcherID
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="https://apps.webofknowledge.com/WOS_GeneralSearch_input.do?product=WOS&search_mode=GeneralSearch&SID=2BKIxm1vNcFuX6dLjV7&preferencesSaved=" target="_blank") 
              | Web of Science
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="https://scholar.google.com.br/" target="_blank") 
              | Google Scholar
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://blog.scielo.org/" target="_blank") 
              | Blog Scielo
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="https://www.elsevier.com/solutions/scopus" target="_blank") 
              | Scopus
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://orcid.org/" target="_blank") 
              | ORCID
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          
      .session
        .session-subtitle
          != strings.diversos.sitesLinks.fundacoes
        ul
          li
            a(href="http://www.cnpq.br/" target="_blank") 
              != strings.diversos.sitesLinks.cnpq
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.capes.gov.br/" target="_blank") 
              != strings.diversos.sitesLinks.capes
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.fapesp.br/" target="_blank") 
              != strings.diversos.sitesLinks.fapesp
            span(class="external-link-icon glyphicon glyphicon-new-window") 
      
      .session
        .session-subtitle
          != strings.diversos.sitesLinks.associacoes
        ul
          li
            a(href="http://www.abmbrasil.com.br/" target="_blank") 
              != strings.diversos.sitesLinks.abm
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.abpol.com.br/" target="_blank") 
              != strings.diversos.sitesLinks.abpol
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://abceram.org.br/" target="_blank") 
              != strings.diversos.sitesLinks.abceram
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.abcarb.org.br/br_abcarb.html" target="_blank") 
              != strings.diversos.sitesLinks.abcarb
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://sbpmat.org.br/pt/" target="_blank") 
              != strings.diversos.sitesLinks.sbpmat
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.almaco.org.br/" target="_blank") 
              != strings.diversos.sitesLinks.almaco
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.alafar.org/" target="_blank") 
              != strings.diversos.sitesLinks.alafar
            span(class="external-link-icon glyphicon glyphicon-new-window") 

      .session
        .session-subtitle
          != strings.diversos.sitesLinks.associacoesEstrangeiras
        ul
          li
            a(href="http://www.tms.org/TMSHome.aspx" target="_blank") 
              | TMS: The Minerals, Metals and Materials Society
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="https://www.aist.org/home.aspx" target="_blank") 
              | AIST: Association for Iron & Steel
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.aiche.org/" target="_blank") 
              | AIChe: American Institute of Chemical Engineers
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.iom3.org/" target="_blank") 
              | IOM3:  The Institute of Materials, Minerals and Mining
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.americancarbonsociety.org/" target="_blank") 
              | ACS: The American Carbon Society
            span(class="external-link-icon glyphicon glyphicon-new-window") 
      
      .session
        .session-subtitle
          != strings.diversos.sitesLinks.engenharia
        ul
          li
            a(href="http://politecnicos.org.br/" target="_blank") 
              != strings.diversos.sitesLinks.aep
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.amigosdapoli.com.br/" target="_blank") 
              != strings.diversos.sitesLinks.fundoPatrimonial
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.creasp.org.br" target="_blank") 
              != strings.diversos.sitesLinks.creasp
            span(class="external-link-icon glyphicon glyphicon-new-window") 
          li
            a(href="http://www.hsenano.com/pt/index.php" target="_blank") 
              != strings.diversos.sitesLinks.hsenano
            span(class="external-link-icon glyphicon glyphicon-new-window")               
