extends ../base.jade

block home
  - var home_path = "../../"
  
block stylesheet
  - var stylesheet = "graduacao-calendario.min.css"
  
block page-title
  - page_title = "Calendário Acadêmico - " + page_title

block breadcrumbs-path
  -
    breadcrumbs_path = {"Home"   : home_path,
                        "Graduação" : home_path + "graduacao/index.html",
                        "Calendário Acadêmico" : false}

block content
