-
  staff = [            
            { status: "active",
              picture: assets+"img/funcionarios/funcMariaCristinaBiasoli.jpg",
              name: "Maria Cristina Biasoli",
              function: "Secretária do Departamento",
              phone: "",
              fax: "",
              email: "",
            },
            
            { status: "active",
              picture: assets+"img/funcionarios/funcPatriciaDosSantos.jpg",
              name: "Patrícia dos Santos",
              function: "Técnica Administrativa",
              phone: "",
              fax: "",
              email: "",
            },
            
            { status: "active",
              picture: assets+"img/funcionarios/funcVeraLuciaDosSantos.jpg",
              name: "Vera Lúcia dos Santos",
              function: "Técnica Acadêmica",
              phone: "",
              fax: "",
              email: "",
            },
            
            { status: "active",
              picture: assets+"img/funcionarios/funcSuellenCristhineCardozoAlvesNappi.jpg",
              name: "Suellen Cristhine Cardozo Alves Nappi",
              function: "Técnica Administrativa",
              phone: "",
              fax: "",
              email: "",
            },
            
            { status: "active",
              picture: assets+"img/funcionarios/funcCleliaLourdesLaraMeguerditchian.jpg",
              name: "Clélia Lourdes Lara Menguerditchian",
              function: "Bibliotecária",
              phone: "",
              fax: "",
              email: "",
            },
            
            { status: "active",
              picture: assets+"img/funcionarios/funcGilbertoMartins.jpg",
              name: "Gilberto Martins",
              function: "Assistente administrativo de documentação e informação",
              phone: "",
              fax: "",
              email: "",
            },
            
            { status: "active",
              picture: assets+"img/funcionarios/funcJeffersonDosSantos.jpg",
              name: "Jefferson dos Santos",
              function: "Assistente administrativo de documentação e informação",
              phone: "",
              fax: "",
              email: "",
            },
            
            { status: "active",
              picture: assets+"img/funcionarios/funcDaniloAugustoDeAlmeidaFilho.jpg",
              name: "Danilo Augusto de Almeida Filho",
              function: "Técnico de Laboratório",
              phone: "",
              fax: "",
              email: "",
            },
            
            { status: "active",
              picture: assets+"img/funcionarios/funcRubensBDeCarvalho.jpg",
              name: "José Rubens Beserra de Carvalho",
              function: "Técnico em Mecânica",
              phone: "",
              fax: "",
              email: "",
            },
            
            { status: "inactive",
              picture: assets+"img/funcionarios/funcAntonioLivioDaSilvaNunes.jpg",
              name: "Antônio Lívio da Silva Nunes",
              function: "Assistente de Laboratório",
              phone: "",
              fax: "",
              email: "",
            },
            
            { status: "active",
              picture: assets+"img/funcionarios/funcRafaelRochaMaia.jpg",
              name: "Rafael Rocha Maia",
              function: "Técnico de Laboratório",
              phone: "",
              fax: "",
              email: "",
            },
            
            { status: "active",
              picture: assets+"img/funcionarios/funcValquiriaDeFatimaJustoKozievitch.jpg",
              name: "Valquíria Fátima Justo Kozievich",
              function: "Técnica de Laboratório",
              phone: "",
              fax: "",
              email: "",
            },
            
            { status: "active",
              picture: assets+"img/funcionarios/funcJoseVerissimoSDosSantos.jpg",
              name: "José Veríssimo S. dos Santos",
              function: "Técnico de Laboratório",
              phone: "",
              fax: "",
              email: "",
            },
            
            { status: "active",
              picture: assets+"img/funcionarios/funcWilsonDaSilvaMaia.jpg",
              name: "Wlson da Silva Maia",
              function: "Assistente de Laboratório",
              phone: "",
              fax: "",
              email: "",
            }

          ]
